@charset "utf-8";

@font-face { font-family: 'MuseoSans500'; src: url('../fonts/MuseoSans_500-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/MuseoSans_500-webfont.woff') format('woff'), url('../fonts/MuseoSans_500-webfont.ttf') format('truetype'); }
@font-face { font-family: 'MuseoSans700'; src: url('../fonts/MuseoSans_700-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/MuseoSans_700-webfont.woff') format('woff'), url('../fonts/MuseoSans_700-webfont.ttf') format('truetype'); }
@font-face { font-family: 'MuseoSlab500'; src: url('../fonts/Museo_Slab_500-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Museo_Slab_500-webfont.woff') format('woff'), url('../fonts/Museo_Slab_500-webfont.ttf') format('truetype'); }
@font-face { font-family: 'MuseoSlab700'; src: url('../fonts/museo_slab_700-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/museo_slab_700-webfont.woff') format('woff'), url('../fonts/museo_slab_700-webfont.ttf') format('truetype'); }

body {
  font-family: 'MuseoSans500', Arial, sans-serif;
  color: #ffffff;
  background-image: url("images/login/background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

strong, b {
  font-family: 'MuseoSans700';
  font-weight: normal;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'MuseoSlab700';
}
h1 { font-size: 32px; line-height: 35px; }
h3, .h3-size { font-size: 22px; }
h4 { font-size: 20px; }
h5, .h5-size { font-size: 17px; line-height: 30px; }
section {
  margin: 30px 0px;
}
label {
  font-weight: normal;
}
form {
  margin-bottom: 0px;
}
.margin5 { margin: 5px; }
.marginTop-0 { margin-top: 0px; }
.marginTop-5 { margin-top: 5px; }
.marginTop-30 { margin-top: 30px; }
.clearer { clear: both; }

.container {
  width: 992px;
}
.form-control {
  border-radius: 0px;
}

input[type="text"], input[type="password"] {
  color: #7b7b7b;
}
input[class*="icon-"] {
  padding-left: 30px;
  background-size: 14px;
}
.icon-envelope { background: url("images/icons/icon-envelope.png") 10px center no-repeat; }
.icon-key { background: url("images/icons/icon-key.png") 10px center no-repeat; }
a.abaLink-blue {
  color: #5199db;
  cursor: pointer;
  text-decoration: underline;
}
a.abaLink-blue:hover {
  text-decoration: none;
}
[class*="abaButton-"] {
  display: inline-block;
  border: none;
  color: #ffffff;
  text-transform: uppercase;
  font-family: 'MuseoSans700';
  font-size: 11px;
  padding: 11px 15px;
}
.abaButton-blue {
  background: #04c0e6; /* Old browsers */
  background: -moz-linear-gradient(top,  #04c0e6 0%, #038ed2 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#04c0e6), color-stop(100%,#038ed2)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #04c0e6 0%,#038ed2 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #04c0e6 0%,#038ed2 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #04c0e6 0%,#038ed2 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #04c0e6 0%,#038ed2 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#04c0e6', endColorstr='#038ed2',GradientType=0 ); /* IE6-9 */
}
.abaButton-blue:hover {
  background: #038ed2; /* Old browsers */
  background: -moz-linear-gradient(top,  #038ed2 0%, #04c0e6 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#038ed2), color-stop(100%,#04c0e6)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #038ed2 0%,#04c0e6 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #038ed2 0%,#04c0e6 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #038ed2 0%,#04c0e6 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #038ed2 0%,#04c0e6 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#038ed2', endColorstr='#04c0e6',GradientType=0 ); /* IE6-9 */
}
.abaButton-fb {
  width: 126px;
  padding-left: 25px;
  background: #3c5a95;
}
.abaButton-fb:hover {
  background-color: #4a6eb4;
}
.abaButton-fb > span.icon-facebook {
  background: url("images/icons/icon-facebook.png") center center no-repeat;
  padding: 4px;
  margin: 0px 5px 0px -15px;
  background-size: 6px;
}
.form-group.with-error-message {
  margin-bottom: 20px;
}
.form-group.with-error-message.error > input{
  border-color: #a94442;
}
.errorMessage {
  color: #a94442;
  position: absolute;
  font-size: 12px;
}
section#header #logo {
  float: left;
  background-image: url("images/logo.png");
  background-repeat: no-repeat;
  background-size: 100%;
  display: block;
  width: 96px;
}
section#header #logo > a.inner {
  padding-top: 82px;
  display: block;
  height: 0;
}
section#main {
  margin-bottom: 0;
}
section#main div.box {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
section#main div.box > div.inner{
  background: #ffffff;
  color: #7b7b7b;
  padding: 15px;
}
section#main div.box > div.header {
  text-align: left;
  padding: 10px 10px 10px 20px;
  font-size: 15px;
  background: #ff8840; /* Old browsers */
}
section#main div.box > div.header.collapsed {
  background: -moz-linear-gradient(top,  #ff8840 0%, #d06d32 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff8840), color-stop(100%,#d06d32)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ff8840 0%,#d06d32 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ff8840 0%,#d06d32 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ff8840 0%,#d06d32 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ff8840 0%,#d06d32 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8840', endColorstr='#d06d32',GradientType=0 ); /* IE6-9 */
}
section#main div.box > div.header strong {
  font-size: 17px;
}
section#main div.box > div.header-login {
  text-align: left;
  padding: 12px 20px;
  font-size: 18px;
  background: #019ade;
}
section#main div.box > div.header-login.collapsed {
  background: -moz-linear-gradient(top,  #04c0e6 0%, #038ed2 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#04c0e6), color-stop(100%,#038ed2)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #04c0e6 0%,#038ed2 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #04c0e6 0%,#038ed2 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #04c0e6 0%,#038ed2 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #04c0e6 0%,#038ed2 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#04c0e6', endColorstr='#038ed2',GradientType=0 ); /* IE6-9 */
}
section#main div.box > div.header-login.collapsed:hover {
  cursor: pointer;
  background: -moz-linear-gradient(top,  #038ed2 0%, #04c0e6 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#038ed2), color-stop(100%,#04c0e6)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #038ed2 0%,#04c0e6 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #038ed2 0%,#04c0e6 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #038ed2 0%,#04c0e6 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #038ed2 0%,#04c0e6 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#038ed2', endColorstr='#04c0e6',GradientType=0 ); /* IE6-9 */
}
section#main div.box .small-info {
  font-size: 11px;
  margin-top: 12px;
}
section#main div.box .small-info #LoginForm_rememberMe {
  float: left;
  margin: 0px 5px 0px 0px;
}
section#main div.box .small-info label::after {
  content: "·";
  margin: 0px 3px;
}
section#main div.box .small-info label {
  font-weight: normal;
  margin: 0px;
}
section#main div.box .abaButton-blue, section#main div.box .abaButton-fb {
  width: 100%;
}
section#main div.box .o-separator {
  text-align: center;
  font-size: 15px;
  margin: 8px 0px;
}
section#main .info2 {
  display: none;
  margin-top: 50px;
}
section#main div.box .icon-arrow {
  display: none;
  background: url("images/icons/icon-arrow.png") center center no-repeat;
  padding: 5px;
  margin-left: 6px;
}
section#main div.box .icon-arrow.collapsed {
  display: inline-block;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
section#main div.box > div.header.collapsed:hover {
  cursor: pointer;
  background: #d06d32; /* Old browsers */
  background: -moz-linear-gradient(top,  #d06d32 0%, #ff8840 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d06d32), color-stop(100%,#ff8840)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #d06d32 0%,#ff8840 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #d06d32 0%,#ff8840 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #d06d32 0%,#ff8840 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #d06d32 0%,#ff8840 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d06d32', endColorstr='#ff8840',GradientType=0 ); /* IE6-9 */
}
section#main div.box .inner.collapsed {
  display: none;
}
.lastElement {
  margin-top: 0 !important;
}
div#facebookLogin div.login-info {
  background-color: #eee;
  padding: 15px 30px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 500px;
  -moz-border-radius: 15px;
  -khtml-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}
div#facebookLogin div.login-info i {
  font-size: 12px;
}
div#facebookLogin .buttons {
  text-align: center;
}
footer ul {
  float: right;
  font-size: 11px;
}
footer ul > li {
  float: left;
  margin-left: 8px;
}
footer ul > li > a {
  color: #ffffff;
  text-decoration: none;
}
footer ul > li > a:hover {
  color: #ffffff;
  text-decoration: underline;
}
footer ul > li:not(:last-child)::after {
  content: "|";
  margin-left: 8px;
}
footer hr {
  display: none;
  margin: 10px 0px 60px 0px;
  height: 1px;
  border: 0px;
  color: #c5c5c5;
  background: #c5c5c5;
}
section#recoverPassord {
  width: 300px;
}
section#recoverPassord input#btnRecoverPass {
  width: 100%;
}
@media only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {
  body {
    background-image: url("images/login/background_2x.jpg");
    background-size: cover;
  }
  section#header #logo {
    background-image: url("images/logo_2x.png");
  }
}
@media (max-width: 991px) {
  .container {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .form-control {
    height: 42px;
  }
  input[class*="icon-"] {
    padding-left: 40px;
    background-size: 18px;
  }
  [class*="abaButton-"] {
    font-size: 14px;
    padding: 8px 15px;
  }
  section#header #logo {
    float: none;
    margin: 0 auto;
  }
  section#main h1 {
    text-align: center;
    font-size: 28px;
  }
  section#main .h3-size {
    text-align: center;
    font-size: 17px;
    margin-bottom: 30px;
  }
  section#main .info {
    display: none;
  }
  section#main .info2 {
    display: block;
    text-align: center;
  }
  section#main div.box {
    width: 100%;
  }
  section#main div.box .abaButton-fb, section#main div.box .abaButton-blue {
    float: none;
    width: 100%;
  }
  section#main div.box .abaButton-fb > span.icon-facebook {
    padding: 10px;
    margin: 0px 10px 0px -20px;
    background-size: 8px;
  }
  section#main div.box.loginForm .form-buttons {
    margin-top: 25px;
  }
  section#main div.box .small-info {
    font-size: 13px;
  }
  section#main div.box.loginForm .small-info {
    margin-top: 20px;
  }
  section#main div.box .small-info label::after {
    content: "";
    margin: 0px;
  }
  section#main div.box .o-separator {
    float: none;
    text-align: center;
  }
  section#main div.box .small-info #LoginForm_rememberMe {
    margin: 2px 5px 0px 0px;
  }
  section#main div.box .forgotPassword {
    display: block;
    margin-top: 15px;
  }
  section#ourMethod {
    display: none;
  }
  footer hr {
    display: block;
  }
  footer ul {
    float: none;
    width: 100%;
    font-size: 13px;
  }
  footer ul > li {
    float: none;
    text-align: center;
    margin: 25px 0px;
  }
  footer ul > li:not(:last-child)::after {
    content: "";
  }
}

@media (max-width: 320px) {
  section#recoverPassord {
    width: 100%;
    max-width: 300px;
  }
}
button.buttonslogins {
  width: 100%;
  border: 0;
  color: #fff;
  padding: 8px;
  font-family: 'MuseoSans700';
}
button.buttonslogins > .iconos {
  display: inline-block;
  margin-right: 10px;
}
button.buttonslogins > .iconosin {
  background-color: white;
  padding: 2px 3px;
  border-radius: 2px;
  color: #0077b5;
  display: inline-block;
  margin-right: 8px;
}
button.btn-linkedin {
  background: #0077b5;

}
button.btn-linkedin:hover {
  background: #0085C5;

}
@media (max-width: 767px) {
  .btn-linkedin {
    margin-top: 10px;
  }
}
button.btn-facebook {
  background: #3c5a95;
}
button.btn-facebook:hover {
  background-color: #4a6eb4;
}
div#linkedinLogin div.login-info {
  background-color: #eee;
  padding: 15px 30px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 500px;
  -moz-border-radius: 15px;
  -khtml-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}
div#linkedinLogin div.login-info i {
  font-size: 12px;
}
div#linkedinLogin .buttons {
  text-align: center;
}


