* {
    margin: 0;
    padding: 0;
}

.right { float: right; }
.left { float: left; }
.pRelative { position:relative; }
.pAbsolute { position:absolute; }

html, body, #divMainBody2 {
  font-size: 12px;
/*  background-color: #E8E7E2; */
  background-color: #FFFFFF;
  width: 100%;
  height: 100%;
  min-height: 100%;

  font-family: 'MuseoSans500Regular', Arial, sans-serif;
  /*  color: rgba(69, 85, 95, 0.7); */
  color: #455560;
  /*  letter-spacing: 0.01em;
    word-spacing: 0.1em;  */
}

.error-explorer {
    text-align: center;
    background-color: #445461 !important;
    color: #fffeff !important;
    border-color: #445461 !important;
}

.bs-example p {
    padding-top: 20px;
    padding-right: 50px;
    padding-bottom: 20px;
}

.close {
    background-color: #283033;
    float: right;
    font-size: 26px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    height: 40px;
    width: 40px;
    border-radius: 20px;
    padding-top: 6px;
    margin-top: 10px;
    margin-right: 25px;
}

.navbar-default .navbar-toggle
{
    width: auto;
    margin-right: 3.7em;
}

.navbar-collapse {
  text-align: center;
}

#divMainBody {
/*  position: relative; */
  background-color: #FFFFFF;
  margin: auto;
  /*  width: 85.333333333em; */
  width: 100%;
  max-width: 83.166666633em;
/*  overflow-x: hidden; */
/*  margin-bottom: 4em; */

/*  padding-top: 129px;
  margin-bottom: -48px;
  padding-bottom: 48px; */
  
/*  min-height: 100%;
  height: auto !important; */
  margin: 0px auto -48px;
}


#divMainBody > .row-fluid {
  clear: both;
}

#divMainBody > .row-fluid > .col-lg-12 > .row-fluid {
  clear: both;
}

@font-face{
    font-family:'MuseoSans500Regular';
    src:url('../fonts/MuseoSans_500.eot');
    src:url('../fonts/MuseoSans_500.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSans_500.woff') format('woff'),
    url('../fonts/MuseoSans_500.ttf') format('truetype'),
    url('../fonts/MuseoSans_500.svg#MuseoSans500Regular') format('svg')
}

@font-face{
    font-family:'MuseoSans500Italic';
    src:url('../fonts/MuseoSans_500_Italic.eot');
    src:url('../fonts/MuseoSans_500_Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSans_500_Italic.woff') format('woff'),
    url('../fonts/MuseoSans_500_Italic.ttf') format('truetype'),
    url('../fonts/MuseoSans_500_Italic.svg#MuseoSans500Italic') format('svg')
}

@font-face{
    font-family:'MuseoSans700';
    src:url('../fonts/2497F5_0_0.eot');
    src:url('../fonts/2497F5_0_0.eot?#iefix') format('embedded-opentype'),
    url('../fonts/2497F5_0_0.woff') format('woff'),
    url('../fonts/2497F5_0_0.ttf') format('truetype');
    font-weight:normal;
    font-style:normal
}

@font-face{
    font-family:'MuseoSans900';
    src:url('../fonts/MuseoSans_900.otf');
    font-weight:normal;
    font-style:normal
}

@font-face{
    font-family:'MuseoSlab300Regular';
    src:url('../fonts/Museo_Slab_300.eot');
    src:url('../fonts/Museo_Slab_300.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Museo_Slab_300.woff') format('woff'),
    url('../fonts/Museo_Slab_300.ttf') format('truetype'),
    url('../fonts/Museo_Slab_300.svg#MuseoSlab300Regular') format('svg')
}

@font-face{
    font-family:'MuseoSlab500';
    src:url('../fonts/Museo_Slab_500.eot');
    src:url('../fonts/Museo_Slab_500.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Museo_Slab_500.woff') format('woff'),
    url('../fonts/Museo_Slab_500.ttf') format('truetype'),
    url('../fonts/Museo_Slab_500.svg#MuseoSlab500') format('svg')
}

@font-face{
    font-family:'MuseoSlab500Italic';
    src:url('../fonts/Museo_Slab_500italic.eot');
    src:url('../fonts/Museo_Slab_500italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Museo_Slab_500italic.woff') format('woff'),
    url('../fonts/Museo_Slab_500italic.ttf') format('truetype'),
    url('../fonts/Museo_Slab_500italic.svg#MuseoSlab500Italic') format('svg')
}

@font-face{
    font-family:'MuseoSlab700Regular';
    src:url('../fonts/Museo_Slab_700.eot');
    src:url('../fonts/Museo_Slab_700.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Museo_Slab_700.woff') format('woff'),
    url('../fonts/Museo_Slab_700.ttf') format('truetype'),
    url('../fonts/Museo_Slab_700.svg#MuseoSlab700Regular') format('svg')
}

@font-face{
    font-family:'MuseoSlab900Regular';
    src:url('../fonts/Museo_Slab_900.eot');
    src:url('../fonts/Museo_Slab_900.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Museo_Slab_900.woff') format('woff'),
    url('../fonts/Museo_Slab_900.ttf') format('truetype'),
    url('../fonts/Museo_Slab_900.svg#MuseoSlab900Regular') format('svg')
}

.alignRight {
    text-align: right;
}

.alignLeft {
    text-align: left;
}

#divMainMenu {
    position: relative;
    height: 10.5em;
    width: 100%;
    background-color: #E8E8E8;
    /*  background-color: red; */
    /*  border: 1px dashed red; */
}

#divImgLogoCorporate {
    position: absolute;
    top: 1em;
    left: 3.583333333em;
    width: 6,666666667em;
    height: 6em;
    z-index: 1;
}

#imgLogoCorporate {
    width: 6,666666667em;
    height: 6em;
}

#divHeaderRow1 {
    display: inline-block;
    /*  position: relative; */
    min-height: 5.333333334em;
    width: 100%;
    border: 0.083333333em solid #D1D1D1;
    /*  border-bottom-color: transparent;
      border-bottom: none; */
    background-color: #F3F3F3;
    /*  background-color: transparent; */
}

#divHeaderRow2 {
    display: inline-block;
    /*  position: relative; */
    min-height: 4.833333334em;
    width: 100%;
    border: 0.083333333em solid #D1D1D1;
    /*  border-top-color: transparent; */
    border-top: none;

    text-align: center;
    padding-top: 0.125000003em;
    padding-bottom: 0.125000003em;
    background-color: #E8E8E8;
    /*  background-color: transparent; */
}

#divHeaderRow2 div.divImgLogoEnterprise {
    position: absolute;
    display: inline-block;
    height: 4.583333333em;
}

#divHeaderRow2 div.divImgLogoEnterprise img {
    width: 4.583333333em;
    height: 4.583333333em;
}

#divHeaderRow2 span.spanTextLogoEnterprise {
    font-family: 'MuseoSans900';
    /*  color: #45555f; */
    color: rgba(69, 85, 95, 0.7);
    margin-top: 2.1em;
    margin-bottom: 2.1em;
    font-size: 1.25em;
    /*  letter-spacing: 0.029em; */
    letter-spacing: 0.01em;
    /*  word-spacing: 0.23em; */
    word-spacing: 0.10em;
    margin-left: 4.583333333em;

    /*  margin-left: 7.283333333em; */
}

#divHeaderRow2 div.divTextLogoEnterprise {
    /*  position: absolute; */
    display: inline-block;
    line-height: 4.583333333em;
}

#divHeaderRow2 div.divHeaderRow2Inner {
    /*  margin-left: -1.5em; */
}


#divHeaderRow1 li {
    display: inline;
    float:left;
    padding-left: 0.888889em;
    min-height: 4.833333334em;
    cursor: pointer;
}

#divHeaderRow1 li + li::before {
    /*  content: " | ";
      color: #E1E4E5; */
}

#divHeaderRow1 ul{
    /*  margin-left: 15.65%; */
    /*margin-left: 13.65%; */
    width: 100%;
}

#divHeaderRow1 ul {
    min-height: 5em;
}

#divHeaderRow1 ul li span {
    font-family: 'MuseoSans900';
    color: rgba(69, 85, 95, 0.8);
    text-transform: uppercase;
    font-size: 0.92em;
    letter-spacing: 0.01em;
    word-spacing: 0.1em;
    line-height: 5.66em;
    margin-left: 0.8889em;
}

#divHeaderRow1 ul li.active span {
    color: #219ddb;
}

#divHeaderRow1 ul li#liHeaderInputSearch {
    width: 27%;
}

#divHeaderRow1 ul li#liHeaderInputSearch input {
    width: 60%;
    margin-top: 1.36em;
    margin-left: 1em;
    margin-right: 1em;
    line-height: 1.6em;
    background-image: url('../images/lupa.png');
    background-repeat: no-repeat;
    background-position: right 0.333333333em center;
    padding-right: 1.833333333em;
    padding-left: 0.833333333em;
    -moz-border-radius: 1.25em;
    -webkit-border-radius: 1.25em;
    border-radius: 1.25em;
    border: 0.083333333em solid #D1D1D1;
}

#divHeaderRow1 ul li#liHeaderUserInfo {
    float: right;
    margin-right: 4.5em;
    line-height: 5em;
}


#divHeaderRow1 ul li#liHeaderLogo {
    width: 11.80%;
    cursor: default;
}

#divHeaderRow1 ul li#liHeaderUserInfo div {
    display: inline-block;
}

#divHeaderRow1 ul li#liHeaderUserInfo div span {
    font-family: 'MuseoSans900';
    color: rgba(69, 85, 95, 0.8);
    text-transform: capitalize;
}

.img-circle {
    border-radius: 50%;
}

img {
    vertical-align: middle;
    border: 0px none;
}

#divHeaderRow1 ul li#liHeaderUserInfo div img {
    height: 2.666666667em;
    width: 2.666666667em;
}

#divHeaderRow1 ul li#liHeaderUserInfo div#divSpanText {
    margin-left: -0.5em;
}

div.divSectionTittle {
    padding-top: 2em;
/*    padding-left: 1.3em; */
/*    letter-spacing: 0.085em; */
}

div.divSectionTittle span.sectionTitle {
    font-size: 2em;
    color: #455560;
    text-transform: capitalize;
}

div.divLicensesPannel {
    text-align: right;
    padding-top: 2.5em;
/*    padding-right: 1.3em; */

    /*  padding-top: 3.28em;  */
}

div.divLicensesPannel div.divTitleAvailableLicenses span {
    font-family: "MuseoSans500Regular", Arial;
    font-size: 1.166666667em;
    text-transform: uppercase;
    color: #455560;
}

div.divLicensesPannel div.licenseAvailable span {
    font-family: "MuseoSans700", Arial;
    font-size: 0.916666667em;
    text-transform: capitalize;
    color: #455560;
}

div.licenseAvailable div.glyphicon {
    cursor: pointer;
}

div.divDisplayFiltros {
/*    padding-left: 1.4em; */
    cursor: pointer;
    margin-bottom: 1em;
}

div.divDisplayFiltros span.newRegLabel {
    font-size: 1.15624em;
    text-transform: uppercase;
}

div.divTableFiltros {
    margin-left: 0.1em;
    margin-right: 0.1em;
    background-color: #F3F3F3;
    /*  display: none; */
    border: 1px solid #DDD;
    margin-bottom: 3em;
    overflow-y: hidden;
}

table.tableFiltros {
    margin-bottom: 0;
    padding-top: 1em;
}

div.divDisplayFiltros span img {
    margin-top: -0.3em;
}

table.tableFiltros > tbody > tr > td.tdNewreg {
    padding-top: 1.9em;
    padding-left: 1.4em;

}

table.tableFiltros > tbody > tr > td {
    border: none;
}

table.tableFiltros > tbody > tr > td.tdNewreg label {
    font-size: 0.95em;
/*    letter-spacing: 0.05em; */
    color: rgba(69, 85, 95, 0.9);
}

table.tableFiltros > tbody > tr > td.tdNewreg {
    white-space: nowrap;
}

table.tableFiltros > tbody > tr > td.tdNewreg input {
  border: 0.083333333em solid #929292;
  height: 2.3em;
  padding: 1em;
  border-radius: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

table.tableFiltros > tbody > tr > td#tdImportMessage {
    padding-right: 1.5em;
}

table.tableFiltros > tbody > tr > td#tdImportMessage a {
    font-weight: bold;
  text-decoration: underline;
}

.divTableList {
  padding-top: 1em;
}

.listAction {
  padding-top: 1em !important;
  padding-bottom: 1em !important;
}

.tableList table.table {
    margin-bottom: 0;
}

.tableList > tbody > tr > td.thTable {
    background-color: #e7e7e7;
}

.tableList > tbody > tr > td.active {
    background-color: #45555F;
}

.tableList > tbody > tr > td.active span {
    color: #FFFFFF;
}

.rowList td {
    white-space: nowrap;
    background-color: #fCfCfC;
    line-height: 2em !important;
    text-align: left;
/*    overflow: hidden; */
}

.rowList > td > span {
    margin-left: 1.5em;
    margin-right: -1.5em;
    font-size: 1.1em;
}

.rowList > td.rowListLeft {
    background-color: #f3f3f3;
}

.rowList > td.rowListLeft.rowListLeftLast {
    border-right: 1px solid #dddddd;
}

.rowList > td.rowListLeft.rowListLeftLast table {
    width: 100%;
}

.rowList > td.rowListLeft.rowListLeftLast td {
    background-color: #f3f3f3;
}

.rowList > td.rowListLeft.rowListLeftLast td:last-child {
    /*  margin-left: 2.5em;
      margin-right: -2.5em; */
    text-align: right;
}

.tableListTH.table > tbody > tr > td {
    border: none;
}

.tableListTH.table {
    /*display: none; */
    margin-bottom: 0;
}

div.divTableListInner {
    border: 0.083333333em solid #DDDDDD;
    overflow-x: auto;
}


tr.rowList:hover  {
    background-color: #FFFFFF !important;
    line-height: 5em;
}

div.divTableListInner > .table {
    margin-bottom: 0;
}

.ulHeaderTableList {
    /*  background-color: rgba( 10, 10, 10, 0.5); */
    /*  background-color: #F3F3F3; */
    min-height: 4.5em;
    border: 1px solid #DDD;
    margin-left: 0;
}

.ulHeaderTableList li {
    height: 2em;
    padding-top: 1.24em;
    padding-bottom: 1.24em;
    padding-right: 1em;
}

.ulHeaderTableList li.listAction + li::after {
    content: " | ";
    color: #E1E4E5;
    padding-left: 0.8em;
    padding-right: -0.2em;
}

.ulHeaderTableList {
    margin-bottom: 0;
    background-color: #F3F3F3;
    border-bottom: none;
}

.ulHeaderTableList button {
    /*  height: 2em; */
}

.tdHeaderList {
    padding: 0 !important;
    border: 0 !important;
}

.tdHeaderList > div {
    background-color: #F3F3F3;
}

.tableHeaderList {
    max-width: 78.166666667em;
}

.tableHeaderList td {
    background-color: #F3F3F3;
    padding: 0;
    margin: 0;
    padding-left: 1em;
    padding-right: 1em;
    border: 0;
    white-space: nowrap;
}

.tableHeaderList td.tdMsgList {
    width: 100%;
    text-align: center;
}

.tableHeaderList td.liHeaderTableListTitle {
    /*  vertical-align: top;
      padding-top: 0.8em;
      padding-left: 1em; */
    text-align: left;
}

.tableHeaderList td.listAction + td:before {
    /*content: " | ";*/
    color: #E1E4E5;
    padding-right: 1em;
}

.tableHeaderList td.liHeaderTableListTitle span {
/*    font-size: 1em; */
    font-size: 1.2em;
    color: #455560;
}

.tableFooterList {
    max-width: 78.166666667em;
}

.tableFooterList > tbody > tr > td {
    width: 100%;
    text-align: right;
    border-top: 1px solid transparent;
    padding-right: 3em;
}

.tableListTH {
    background-color: #E7E7E7 !important;
    background-color: transparent !important;
}

table.tableListTH td {
    text-align: center;
}

table.tableListTH td.tdTitleTH {
    line-height: 2.15em;
    text-align: left;
    padding-left: 1.45em;
    white-space: nowrap;
    text-transform: uppercase;
}

table.tableListTH td.tdTitleTH span {
    font-size: 0.75em;
    font-family: MuseoSans700;
    text-transform: uppercase;
}

table.tableListTH td.tdTitleTH img.imgQuery {
    margin-left: 0.45em;
    width: 0.9em;
    height: 0.9em;
}

table.tableListTH td.tdTitleOrder {
    cursor: pointer;
}

table.tableListTH td.tdTitleOrder img.imgOrderBy {
    /*  float: right; */
    margin-right: 0.45em;
    margin-top: 0.5em;
}

.inputSearchList {
    width: 85%;
    line-height: 1.366666667em;
    background-image: url('../images/lupa_s.png');
    background-repeat: no-repeat;
    background-position: right 0.333333333em center;
    padding-right: 1.833333333em;
    padding-left: 0.833333333em;
    -moz-border-radius: 1.25em;
    border-radius: 1.25em;
    -webkit-border-radius: 1.25em;
    border: 0.083333333em solid #D1D1D1;
}

table.tableListTH > tbody > tr > td {
    padding: 0;
}

.abaButton {
    border: 0;
    font-family: MuseoSans900;
    font-size: 1em;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 0;
    height: 2.666666667em;
    padding: 0.667em;
    display:inline;
    cursor: pointer;
}

.abaButton-Primary
{
    background: #00C1E8;
    background-image: -webkit-linear-gradient(top, #00C1E8, #008fd5);
    background-image: -moz-linear-gradient(top, #00C1E8, #008fd5);
    background-image: -ms-linear-gradient(top, #00C1E8, #008fd5);
    background-image: -o-linear-gradient(top, #00C1E8, #008fd5);
    background-image: linear-gradient(to bottom, #00C1E8, #008fd5);
    color: #ffffff;
}

.abaButton-Primary:hover
{
    background: #008fd5;
    background-image: -webkit-linear-gradient(top, #008FD5, #00C1E8);
    background-image: -moz-linear-gradient(top, #008fd5, #00C1E8);
    background-image: -ms-linear-gradient(top, #008fd5, #00C1E8);
    background-image: -o-linear-gradient(top, #008fd5, #00C1E8);
    background-image: linear-gradient(to bottom, #008fd5, #00C1E8);
}

.abaButton-Danger
{
  background: #b70006;
  background-image: -webkit-linear-gradient(top, #b70006, #830005);
  background-image: -moz-linear-gradient(top, #b70006, #830005);
  background-image: -ms-linear-gradient(top, #b70006, #830005);
  background-image: -o-linear-gradient(top, #b70006, #830005);
  background-image: linear-gradient(to bottom, #b70006, #830005);
  color: #ffffff;
}

.abaButton-Danger:hover
{
  background: #830005;
  background-image: -webkit-linear-gradient(top, #830005, #b70006);
  background-image: -moz-linear-gradient(top, #830005, #b70006);
  background-image: -ms-linear-gradient(top, #830005, #b70006);
  background-image: -o-linear-gradient(top, #830005, #b70006);
  background-image: linear-gradient(to bottom, #830005, #b70006);
}

.abaExtranetButton-Ok {
  width: 17.5em;
}

.btnHeaderList {
/*    font-size: 0.75em;
    height: 2.6em; */
}

.abaButton-Danger.btnHeaderList {
    padding-left: 3.5em;
    padding-right: 3.5em;
}

.imgQuery {
    border: 0;
    width: 1.25em;
    height: 1.25em;
    /*  background-image: url('/images/query_grey.png'); */
    background-position: center center;
    background-repeat: no-repeat;
    /*  background-size: 100% 100%; */
    display: inline-block;
    margin-left: 0.5em;
    /*  margin-top: 0.2em; */
}

.imgQueryGrey {
    background-image: url('/images/query_grey2.png');
}

.imgQueryBlue {
    background-image: url('/images/query_blue2.png');
}

.iconLink {
    cursor: pointer;
}

.tdMsgList {
    text-align: center;
}

span.spanMsgAddList.spanMsgAddListError {
    background-color: #f2dede;
}

span.spanMsgAddList
{
    background-color: #bbf0ca;
    padding: 6px 60px 8px 60px;
    border: 1px solid #93c69f;
}

/*.tdMsgList  */
span.spanMsgList img {
    padding-right: 0.8em;
    height: 2em;
}

/* .tdMsgList  */
span.spanMsgList span {
    color: #389115;
    font-size: 1.15em;
}

/* .tdMsgList  */
span.spanMsgList span a {
    color: #389115;
    font-weight: bold;
    font-style: italic;
}


/* Creation result collapse panel */
#listContainer
{
    align-content: center;
    margin-top:15px;
    margin-left: 145px;
    text-align: left;
}

#expList ul, #expList li
{
    list-style: none;
    margin:0;
    padding:0;
    cursor: pointer;
}

#expList ul
{
    margin-top: 5px;
}

#expList p
{
    margin:0;
    display:block;
}
#expList p:hover
{
    background-color:#121212;
}
#expList li
{
    line-height:140%;
    text-indent:18px;
    background-position: 0px 1px;
    /*padding-left: 20px;*/
    background-repeat: no-repeat;
}

/* Collapsed state for list element */
#expList .collapsed
{
    background-image: url(../images/filterPlus.png);
    background-size: 16px 16px;
}
/* Expanded state for list element
/* NOTE: This class must be located UNDER the collapsed one */
#expList .expanded
{
    background-image: url(../images/filterMinus.png);
    background-size: 16px 16px;
}

.rowListLeftLast table td span {
  padding-left: 1.5em;
  font-size: 1.1em;
}

.divPriceBox {
  color: #000000;
  cursor: pointer;
  display:inline-block;
  width: 100%;
  max-width: 18em;
  margin:auto;
  margin-left: 2em;
  padding-top: 0.5em;
/*  padding-bottom: 2em; */
  float: left;
}

@media (max-width:1200px){
  .divPriceBox {
    padding-bottom: 2em;
  }
}

@media (min-width:1200px){
  .divPriceBox {
    color: #000000;
    cursor: pointer;
    display:inline-block;
    width: 100%;
    padding-top: 0.5em;
/*    padding-bottom: 2em; */
    margin:auto;
  }
}

/* ******** Menu ******** */
/* ********************** */
.divHeaderLogo {
    position: absolute;
    top: 0.3em;
    cursor: pointer;
    z-index: 1;
}

.divHeaderLogo img
{
    width: 8em;
    /*height: 5.833333333em;*/
}

#navbar-collapse-header
{
}

.rowHeader1 {
/*  position: absolute; */
  width: 100%;
  z-index: 1;
}

.rowHeader1 div.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

#navbar-collapse-header > ul > li + li::before {
  /*content: " | ";*/
  color: #E1E4E5;
  margin: 0px 0.57em 0px -1.05em;
}

#navbar-collapse-header > ul > li + li:last-child::before {
  content: "";
}

#navbar-collapse-header > ul > li {
    padding-left: 0.888889em;
    padding-right: 0.888889em;
    min-height: 4.833333334em;
    cursor: pointer;
    line-height: 3em;
}

#navbar-collapse-header > ul > li.active {
    background-color: #FFFFFF;
}

#navbar-collapse-header ul li span {
    font-family: 'MuseoSans700', Arial, sans-serif;
    color: rgba(69, 85, 95, 0.8);
    text-transform: uppercase;
    font-size: 0.92em;
    letter-spacing: 0.01em;
    word-spacing: 0.1em;
    line-height: 5.66em;
    margin-left: 0.4em;
    margin-right: 0.4em;
}

#navbar-collapse-header ul li.active span {
    font-family: 'MuseoSans900', Arial, sans-serif;
    color: #219ddb;
}

#navbar-collapse-header ul li:hover {
    color: #000000;
}

#navbar-collapse-header ul li#liHeaderLogo {
    min-width: 9.25em;
    cursor: default;
}

#divHeaderRow1 ul li#liHeaderInputSearch {
    width: 27%;
}

#navbar-collapse-header ul li input.inputSearch {
    font-family: "MuseoSans700", Arial, sans-serif;
    width: 100%;
    height: 2.7em;
    padding: 0;
    margin-top: 0.5em;
    line-height: 2.1em;
    background-image: url('../images/lupa.png');
    background-repeat: no-repeat;
    background-position: right 0.333333333em center;
    padding-right: 1.833333333em;
    padding-left: 0.833333333em;
    -moz-border-radius: 1.25em;
    border-radius: 1.25em;
    -webkit-border-radius: 1.25em;
    border: 0.1em solid #D1D1D1;
    font-size: 0.9em;
}


#navbar-collapse-header2 span.spanTextLogoEnterprise {
    font-family: 'MuseoSans700', Arial, sans-serif;
    /*  color: #45555f; */
    color: rgba(69, 85, 95, 0.8);
    margin-top: 2.1em;
    margin-bottom: 2.1em;
    font-size: 1.25em;
    letter-spacing: 0.035em;
    word-spacing: 0.05em;
    margin-left: 4.583333333em;
}

#navbar-collapse-header2 {
    min-height: 4.833333334em;
    width: 100%;
    border: 0.083333333em solid #D1D1D1;
    border-top: none;

    text-align: center;
    padding-top: 0.125000003em;
    padding-bottom: 0.125000003em;
    background-color: #E8E8E8;
}

#navbar-collapse-header2 div.divImgLogoEnterprise {
    position: absolute;
    display: inline-block;
    height: 4.583333333em;
}

#navbar-collapse-header2 div.divImgLogoEnterprise img {
    width: 4.583333333em;
    height: 4.583333333em;
}

#navbar-collapse-header2 div.divTextLogoEnterprise {
    position:relative;
    line-height: 5em;
}
.navBarCentered
{
    width: 936px;
}
@media (max-width: 800px)
{
    .navBarCentered
    {
        width: 100%;
    }
    .divHeaderLogo
    {
        margin-left: 3.4em;
    }
}



.formHeader {
    width: 100%;
}

.divUserName
{
    text-transform: lowercase;
    text-transform: capitalize;
    line-height: 5.2em;
}

.divUserName img {
    height: 2.7em;
}

/* ****** Enterprise ********* */
/* *************************** */
.logoList {
    width: 5em;
}

.divLinkPayments {
    padding-right: 0.5em;
    padding-right: 0.5em;
    /*border-right: 0.1em dashed #000;*/
    cursor: pointer;
/*    float: right; */
    text-align: center;
    width: 100%;
}

.divLinkSettings {
    /*padding-left: 0.5em;*/
    cursor: pointer;
    float: right;
}

.ui-tabs-anchor:focus
{
    outline:none;
}

.paddingTop10
{
    padding-top: 10px;
}
.paddingBottom10
{
    padding-bottom: 10px;
}
.withBorderBottom
{
    width: 100%;
    border-bottom: 1px solid #ccc;
}
.sectionTitle
{
    font-family: "MuseoSlab300Regular";
    font-size: 24px;

}
.formLabel
{
    /*color: #9c9c9c;*/
    font-size: 12px;
    text-transform: uppercase;
}
.hrOverTitle
{
    margin-top: 10px;
    margin-bottom: 0px;
    border: 0;
    border-top: 1px solid #bbb;
}

#tableLicense td.rowLicenseError {
    border: 1px solid #FF0000;
    text-align: center;
    background-color: #EFCBCB;
    color: red;
    font-weight: red;
    font-size: 18px;
    display: none;
}

/* Progress asign licence */
.progressBarBallon {
    float:left;
    text-align: center;
    width: 16.66666%;
}
.progressBarFirstBallon {
    min-width: 99px; margin-left: 0px; text-align: center;
}
.progressBarLine {
    float:left;
    width: 25%;
}
@media (min-width: 1280px) {
    .progressBarFirstBallon {
        min-width: 99px; margin-left2: 105px; text-align: center;
    }
    .progressBarBallon {

    }
    .progressBarLine {

    }
}
@media (max-width: 1280px) {
    .progressBarFirstBallon {
        min-width: 99px; margin-left: 0px; text-align: center;
    }
    .progressBarBallon {
        width: 16.66666%;
    }
    .progressBarLine {
        width: 25%;
    }
}

@media (min-width: 768px) and (max-width: 1280px) {
    .progressBarFirstBallon {
    }
    .progressBarBallon {
        width: 16.66666%;
    }
    .progressBarLine {
        width: 25%;
    }
}

@media (max-width: 768px) {
    .progressBarFirstBallon {
    }
    .progressBarBallon {
        float: none;
        min-width: 98%;
    }
    .progressBarLine {
        float: none;
        min-width: 98%;
    }
}

.circle
{
    width: 68px;
    height: 68px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    line-height:68px;
    text-align:center;
    color: #ffffff;
    font-size: 2.5em;
    display: inline-block;

}
.grey
{
    background: #ccc;
}
.blue
{
    background: #009edf;
}

.noEnterpriseIMG
{
    width: 50px;
    height: 50px;
    line-height:12px;
    text-align:center;
    color: #aaaaaa;
    font-size: 1em;
    display:  table-cell;
    border: 1px solid #ccc;
    margin-top: 12px;
    vertical-align: middle;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-transform: uppercase;
    font-family: "MuseoSlab500";

}
.noEnterpriseIMG:hover
{
    cursor: pointer;
}
.blueText
{
    color: #009edf;
}
.greyText
{
    color: #ccc;
}
.product
{
    line-height:15px;
    font-size: 1em;
}
#tableLicense td.rowLicense {
    padding: 20px !important;
/*    padding-left: 100px !important; */
    background-color: #ffffff;
    border-right: 1px solid transparent; 
}

#tableLicense td.active {
    background-color: #CAECF8 !important;
}


#divBtnCloseOkLicense {
    text-align: center;
}

.divQueryListElement {
  cursor: pointer;
}



/* **** Help **** */
/* ************** */
#divGlobalHelp {
    min-height: 120px;
    width: 4.166667em;
}

#divGlobalHelp div {
    text-align: center;
    -webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.5);
    box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.5);
}
#divGlobalHelp span {
    display: inline-block;
    color: #FFFFFF;
    margin: 0px;
    padding: 0px;
    padding-top: 30px;
    margin-left: -30px;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}

/* **** Footer **** */
/* **************** */

  #push {
      height: 100px;
  }

  #divFooter {
    position:relative;
    display:inline-block;
    text-align: center;
    width: 100%;
    color: #ffffff;
/*    font-weight: bold; */
    line-height: 4em;
    background-color: #484848;
    letter-spacing: 0.1em;
    z-index: 999999;
/*    margin-top: -8em; */
  }

  #divFooter span {
    font-family:'MuseoSans500Italic';
    padding: 1.2em;
/*    font-style: italic; */
  }

  
  
  
  
@media (max-width:1200px){
  /*
  #divFooter {
    position:absolute;
    bottom: -48px;
  }
  
  #divMainBody {
    padding-top: 129px;
    margin-bottom: 0;
    padding-bottom: 0;
  }*/
}

.verticalLineL
{
    background-image: url(../images/verticalSeparator.png);
    background-repeat: no-repeat;
    background-position: left 0px center;
}

.tdListLink {
  cursor: pointer;
}

#divHiddenContact {
    /*    background-image: url('/images/testbackajuda.png'); */
    background-position: center center;
    background-repeat: no-repeat;

    overflow: auto;
}

#divBtnSendContact {
    text-align: left;
    margin: 1.8em 0em 0em 0em;
}

#divBtnSendContact #contactBtnSend {
    width: 14.666666667em;
}

#divContact_Content h4 {
    font-weight: bold;
    font-family: MuseoSlab500;
}

#divContact_Content
{
    padding: 2em;
}
#divHiddenContact label {
    font-weight: normal;
    margin-top: 1.5em;
}

.abaValidatorError
{
    color: rgba(255, 0, 0, 0.58);
    margin-left: 3px;
}


/*.divTextLogoEnterprise
{
    -webkit-box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.3);
    box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.3);
}*/

.cursorPointer {
  cursor: pointer;
}

#tableLicense td.rowLicenseCheck {
  background-color: #ffffff;
  border-left: 1px solid transparent; 
  line-height: 8em;
}

td.rowLicenseCheck.active span {
  background-image: url('/images/checked.png');
}

span.abaCheck {
  width: 2.5em;
  padding: 1em;
  background-image: url('/images/unchecked.png');
  background-position: center center;
  background-repeat: no-repeat;
  height: 2.5em;
}

/*Recomendaciones aba*/
#expList ul
{
    list-style: none;
    margin:0;
    padding:0;
    cursor: pointer;
}
#expList li
{
    list-style: none;
    margin:0;
    padding:0;
    cursor: pointer;
    text-indent:0px;
    background-position: 1px 3px;
    padding-left: 20px;
    background-repeat: no-repeat;
}
#expList .el_collapsed
{
    background-image: url('../images/arrow2.png');
}

#expList .el_expanded {
    background-image: url('../images/arrow2down.png');
}
#expList li ul li
{
    padding-left: 0px;
    padding-top: 1.2em;

}

.customSelect
{
    line-height: 1.3em;
    padding-right: 1.833333333em;
    padding-left: 0.833333333em;
    -moz-border-radius: 1.25em;
    border-radius: 1.25em;
    -webkit-border-radius: 1.25em;
    border: 0.083333333em solid #D1D1D1;
    overflow: hidden;
    background-color: #ffffff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #fff url("../images/dropdownArrowDown.png") no-repeat right 0.333333333em center;
    color: #000000;
}



input::-moz-focus-inner, select::-moz-focus-inner
{
    border: 0;
}
input, select
{
    outline: none;
}
.abaTips
{
    font-family: 'MuseoSans700', Arial, sans-serif;
}

#abaTips > ul > li
{
    font-family: 'MuseoSans700', Arial, sans-serif;
}
#abaTips > ul > li > ul > li
{
    color: #219ddb;
}

/* Followup styles */
.roundedCal
{
    text-align: center;
    border-radius: 25px;
    background: #1e90c7;
    color: #ffffff;
    padding: 5px;
}
.cal
{
    font-size: 20px;
}

.calNote
{
    font-size: 11px;
    text-transform: uppercase;
}

.myTable table, .myTable th, .myTable td
{
    border: 1px solid #ccc;
    background: #f9f9f7;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.levelTitle
{
    font-size: 17px;
    color: #455560;
    text-transform: uppercase;
    font-weight: bold;
    height: 33px;
}
.roundedPorcent
{
    text-align: center;
    border-radius: 25px;
    background: #ffa755;
    color: #ffffff;
}
.customProgressBar
{
    height: 10px;
    margin-bottom: 0px;
}

.unitBall
{
    text-align: center;
    padding: 7px 5px 5px 4px;
    border-radius: 25px;
    width: 29px;
    height: 29px;
    background: #1e90c7;
    color: #ffffff;
    margin-left: 30px;

}

.unitBallIncomplete
{
    text-align: center;
    padding: 7px 5px 5px 4px;
    border-radius: 25px;
    width: 29px;
    height: 29px;
    background: #ffa755;
    color: #ffffff;
    margin-left: 30px;
}
.unitBallExer
{
    text-align: center;
    padding: 5px 5px 5px 3px;
    border-radius: 25px;
    width: 29px;
    height: 29px;
    background: #1e90c7;
    color: #ffffff;
    margin-left: 70px;
}

.unitBallExerIncomplete
{
    text-align: center;
    padding: 5px 5px 5px 3px;
    border-radius: 25px;
    width: 29px;
    height: 29px;
    background: #bdbdbd;
    color: #ffffff;
    margin-left: 70px;
}
.botPlus
{
    content:url("../images/filterPlus.png");
}
.botMinus
{
    content:url("../images/filterMinus.png");
}

.expandLabel
{
    font-size: 13px;
    color: #455560;
    font-style: italic;
    margin-right: 5px;
}

/*Studen table selection styles*/
.highlight td
{
    background: #45555F !important;
    color: #ffffff;
}

.mouseOverColor td
{
    background: #FFFFFF !important;
    color: #455560;
}

.highlightFilter
{
    background: #FFFFFF !important;
}

#divExportToCsv
{
    margin-top: 30px;
    margin-left: 15px;
}

#divExportToCsv img {
    width: 4em;
    cursor: pointer;
}

/* Style for the Organizations menu selector in the enterprise page. */
#orgMenu
{
    float: right;
}
#orgMenu ul
{
    padding: 0;
}

#orgMenu ul li
{
    display: inline;
    padding: 0;
}
#orgMenu ul li a
{
    color: #455560;
    font-family: 'MuseoSans500Regular', Arial, sans-serif;
    text-decoration: none;
    float:left;
    padding: 4px 18px 4px 18px;
    background-color: #f7f7f7;
    display: inline;
}
#orgMenu ul li a:hover
{
    background-color: #ffffff;
    color: #455560;
}
.selected a
{
    background-color: #3c545e !important;
    color: #ffffff !important;
}
.orgMenuLinkImg
{
    background-image: url(../images/verticalSeparatorS.png);
    background-repeat: no-repeat;
    background-position: left 0px center;
}
/* Style for the Organizations menu selector in the enterprise page ends here. */

#linksFooter
{
    width: 100%;
}
#linksFooter  ul li
{
    display: inline;
    padding: 0;
}
#linksFooter  ul li a
{
    color: #f7f7f7;
    font-family: 'MuseoSans500Regular', Arial, sans-serif;
   /* text-decoration: none;*/
    padding: 4px 18px 4px 18px;
    display: inline;
}
#linksFooter span
{
    color: #f7f7f7;
    font-family: 'MuseoSans500Regular', Arial, sans-serif;
    font-size: 0.8em;
}

.hiddenPixel{
    display: none;
    visibility: hidden;
}

#browserUpgrade
{
    display:none;
    text-align: center;
    background-color: #445461;
    color: #ffffff;
}
#browserUpgrade table
{
    width: 938px;
    margin:0 auto;
    font-family: 'MuseoSans500Regular', Arial, sans-serif;
}

#browserUpgrade table tr td
{
    padding: 15px;
}

#browserUpgrade table tr td img
{
    cursor: pointer;
}

#browserUpgrade table a
{
    color: #ffffff;
    text-decoration: underline;
}

.icoListButton {
    border-top: none;
    width: 10px;
    background-color: transparent;
}

#divTableList_enterprise .icoListButton {
    padding: 3px;
    padding-top: 8px;
}

.divLinkPayments button {
    padding: 3px 7px 3px 7px;
}

.rowAnotherPartner td {
    /*background-color: rgba(255,200,102,0.1) !important;*/
    background-color: transparent !important;
}

.rowAnotherPartner > td {
    /*background-color: rgba(255,200,102,0.1) !important;*/
    background-color: rgba(255,200,102,0.1) !important;
}

#cb_status {
    margin: 0;
    height: 13px;
}
