.grid-view-loading
{
	background:url(../images/ajax-loader.gif) no-repeat;
    background-position: top;
}

.grid-view
{
	padding: 15px 0px;
}

.grid-view table.items
{
	background: white;
	border-collapse: collapse;
	width: 100%;
	border: 1px #D0E3EF solid;
}

.grid-view table.items th, .grid-view table.items td
{
	font-size: 14px;
	border: 1px white solid;
	padding: 8px;

}

.grid-view table.items td a img
{
    padding-left: 5px;
    padding-right: 5px;
}

.grid-view table.items th
{
	color: #333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    background: #e8e8e8;
	text-align: center;
    font-size: 14px;
    border-right:1px solid #cccccc;
    border:1px solid #ddd;
    text-transform: uppercase;

}

.grid-view table.items td
{
    border-bottom: 1px solid #cccccc;
    border-right: none;
    border-left: none;
}

.grid-view table.items th:first-letter 
{
    text-transform: uppercase;
}

/*.grid-view table.items th:first-child
{
    -moz-border-radius: 7px 0 0 0;
    -webkit-border-radius: 7px 0 0 0;
    border-radius: 7px 0 0 0;
}

.grid-view table.items th:last-child 
{
    -moz-border-radius: 0 0px 0 0;
    -webkit-border-radius: 0 0px 0 0;
    border-radius: 0 0px 0 0;
}*/

.grid-view table.items th a
{
	color: #333;
	font-weight: bold;
	text-decoration: none;
}

.grid-view table.items th a:hover
{

}

.grid-view table.items th a.asc
{
	background:url(../images/orderby.png) right no-repeat;
	padding-right: 25px;
}

.grid-view table.items th a.desc
{
	background:url(../images/orderby_desc.png) right no-repeat;
	padding-right: 25px;
}

.grid-view table.items tr.even
{
	background: #FFFFFF;
}

.grid-view table.items tr.odd
{
	background: #FFFFFF;
}

.grid-view table.items tr.selected
{
	background: #FEFEFE;
}



.grid-view table.items tbody tr:hover
{
	background: #EEEEEE;
}

.grid-view .link-column img
{
	border: 0;
}

.grid-view .button-column
{
	text-align: center;
	width: 120px;
}

.grid-view .button-column img
{
	border: 0;
}

.grid-view .checkbox-column
{
	width: 15px;
}

.grid-view .summary
{
	padding: 3px;
	text-align: center;
    background-color: #E6E6E6;
    color: #000000;
    font-size: 11px;
    width: 250px;
   /* border-top-left-radius: 10px;
    border-top-right-radius: 10px;*/
    position:relative;
    float:right;
}

.grid-view .pager
{
	margin: 0px 0 0 0;
	text-align: right;
    background-color: #F3F3F3;
}

.grid-view .empty
{
	font-style: italic;
}

.grid-view .filters input,
.grid-view .filters select
{
	width: 100%;
	border: 1px solid #ccc;
    
   
}
.grid-view .filters
{
    background: #999999;
    
}
/*toolips abaformatter */
table.tooltipGrid {color:#000;font-weight:bold;}

 a.tooltip {outline:none; text-decoration:none;color:#555555;} 
 a.tooltip strong {line-height:30px;} 
 a.tooltip:hover {text-decoration:none;} 
 a.tooltip span { z-index:10;display:none; padding:7px 10px; margin-top:-15px; margin-left:10px;  line-height:16px; } 
 a.tooltip:hover span{ display:inline; position:absolute; color:#111; border:1px solid #DCA; background:#fffAF0;} 
 .callout {z-index:20;position:absolute;top:30px;border:0;left:-12px;}
 /*CSS3 extras*/ 
 a.tooltip span
 { border-radius:4px; 
 -moz-border-radius: 4px; 
 -webkit-border-radius: 4px; 
 -moz-box-shadow: 5px 5px 8px #CCC; 
 -webkit-box-shadow: 5px 5px 8px #CCC; 
 box-shadow: 5px 5px 8px #CCC; 
 }