html, body { font-size: 12px; height: 100%; width: 100%; }

body {
    background-position: center 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#divBodyLevelTest {
    position: relative;
    max-width: 85.333333em;
    width:100%;
    margin: auto;
    height: 100%;
    background-color: #FFF;
}

#divBtnLevelTest {
    /*    position:absolute;
        top: 55.833333333em; */
    width: 100%;
    text-align: center;
    margin-top: 3em;
    margin-bottom: 3em;
    height: 100%;
}

#divBtnLevelTest button {
    /*    width: 15em; */
    font-size: 1.1791em;
    font-family: "MuseoSans500Regular";
}

#divHeaderLevelTest {
    position: relative;
    height: 28.333333333em;
    background: #344049;
    background-image: url('/images/leveltest_2c.png');
    background-position: center 2.5em;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}

#divTitleLevelTest {
    text-align: center;
    line-height: 28.333333333em;
    font-weight: bold;
    color: #ffffff;
}

#divTitleLevelTest span {
    font-size: 4.166666667em;
    font-family: "MuseoSlab500";
}

#divLogoLevelTest img {
    position: absolute;
    top: 0.6em;
    left: 7em;
    height: 10em;
    width: 11.666666667em;
}

#divMovieTitleLevetTest {
    position:absolute;
    top: 22.5em;
    width: 25.666666667em;
    height: 3.833333333em;
    background-image: url('/images/leveltest_3.png');
    background-repeat: no-repeat;
    color: #ffffff;
    padding-top: 1.5em;
    padding-left: 2em;
}

#divMovieTitleLevetTest span {
    font-size: 1.3em;
}

#divTextLevelTest {
    text-align: center;
}

#divTextLevelTest div {
    margin-top: 4em;
}

#divTextLevelTest div span {
    font-size: 1.5em;
    font-family: "MuseoSlab500";
}

#divTextLevelTest_welcome span {
    font-size: 2.3em !important;
}

/** Resultados del test. **/
#divHeaderLevelTest2 {
    position: relative;
    height: 28.333333333em;
    background: #344049;
    background-image: url('/images/leveltest_4b.jpg');
    background-position: center 2.5em;
    background-repeat: no-repeat;
}

#divMovieTitleLevetTest2 {
    position:absolute;
    top: 22.5em;
    width: 25.666666667em;
    height: 3.833333333em;
    background-image: url('/images/leveltest_3.png');
    background-repeat: no-repeat;
    background-position: -9em;
    color: #ffffff;
    padding-top: 1.5em;
    padding-left: 2em;
}

#divMovieTitleLevetTest2 span {
    font-size: 1.3em;
}

#divLeveltestABAEnglishTitle {
    line-height: 3.5em;
}

.divLeveltestMiddleTitle span {
    font-size: 1.6em;
    font-weight: bold;
}

.divLeveltestMiddleText {
    padding-left: 1em;
    padding-right: 1em;
}

.divLeveltestMiddleText span {
    font-size: 1.2em;
}

.divLevelTestBloque {
    width: 28.444444444em;
    float:left;
    text-align: center;
}
@media screen and (max-width: 1024px)
{
    .divLevelTestBloque
    {
        float: none;
        align-content: center ;
        margin-left: auto;
        margin-right: auto;
    }
}
#divLeveltestAnalisis {
    background-image: url('/images/leveltest_5.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 10em;
    height: 10em;
    margin:auto;
}

#divLeveltestObjetivos {
    background-image: url('/images/leveltest_6.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 10em;
    height: 10em;
    margin:auto;
}

#divLeveltestABAEnglish {
    background-image: url('/images/leveltest_7.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 10em;
    height: 10em;
    margin:auto;
}

#divLevelTestMiddle {
    margin-top: 3em;
    display: inline-block;
}


.divLeveltestMiddleText {

}

.ui-progressbar{
    box-shadow:0 1px 2px #CCC;
    height:24px;
    margin-bottom:10px;
    overflow:hidden;
    text-align:left;
    width:204px
}

.ui-progressbar .ui-progressbar-value{
    border-radius:4px;
    height:100%;
    margin:0
}

.ui-corner-all,.ui-corner-top,.ui-corner-left,.ui-corner-tl{
    border-top-left-radius:4px
}

.ui-widget-header{
    background:transparent url("../images/bg-progressbar.gif") repeat-x 50% 50%
}

.ui-widget-content {
    background: url('../images/ui-bg_flat_75_ffffff_40x100.png') repeat-x scroll 50% 50% #FFF;
    border: 1px solid #D2D2D2;
    border-radius: 4px;
}

.ui-accordion .ui-accordion-header{
    display:block;
    cursor:pointer;
    position:relative;
    margin:2px 0 10px 0;
    zoom:1
}

.btn-blue {
    color: #FFFFFF;
    font-family: "MuseoSlab700Regular",Arial,sans-serif;
}

.btn-blue:hover, .btn-blue:focus {
    color: #FFFFFF;
    font-family: "MuseoSlab700Regular",Arial,sans-serif;
    text-decoration: none;
}

.top-menu li.join span,.btn-blue.test span{
    -moz-transform:rotate(-45deg);
    -webkit-transform:rotate(-45deg);
    -ms-transform:rotate(-45deg);
    -o-transform:rotate(-45deg)
}

.btn-blue.test{
    border-radius:4px;
    font-size:19px;
    line-height:22px;
    margin:10px 0 15px 0;
    padding:4px 38px 4px 22px;
    position:relative
}

.modal-test .btn-blue.test{
    margin-bottom:25px
}

.modal-test .btn-blue.fin{
    text-align:center;
    width:144px
}

.btn-blue.test span{
    border-bottom:5px solid #FFF;
    border-right:5px solid #FFF;
    content:"";
    height:12px;
    position:absolute;
    right:19px;
    top:9px;
    width:12px
}

.btn-blue.fin span{
    right:38px
}

.btn-blue{
    -moz-box-shadow:inset 0 1px 0 0 #43d1ec,0 2px 3px #999;
    -webkit-box-shadow:inset 0 1px 0 0 #43d1ec,0 2px 3px #999;
    box-shadow:inset 0 1px 0 0 #43d1ec,0 1px 2px #999;
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0.05,#04bfe6),color-stop(1,#038dd2));
    background:-moz-linear-gradient(center top,#04bfe6 5%,#038dd2 100%);
    background-color:#04bfe6;
    border:1px solid #007fc2;
    display:inline-block;
    font-size:20px;
    line-height:23px;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:1px 1px 0 #0281ba
}

.btn-blue.small{
    font-size:15px;
    line-height:18px;
    padding:4px 14px
}

.btn-blue:hover{
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0.05,#038dd2),color-stop(1,#04bee6));
    background:-moz-linear-gradient(center top,#038dd2 5%,#04bee6 100%);
    background-color:#038dd2
}

.btn-blue.subscribe {
    font-size:20px;
    line-height:23px;
    margin-top:6px
}

.form-contact .btn-blue {
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    padding:10px 14px
}

.form-contact .btn-blue {
    color:#FFF;
    cursor:pointer;
    font-size:20px;
    line-height:23px;
    font-family:"MuseoSlab900Regular",Arial,sans-serif
}

.form-contact .btn-blue{
    margin-bottom:25px
}

.form-contact .btn-blue{
    width:230px
}

.form-contact .btn-blue{
    width:343px
}

.btn-blue.test-resu{
    margin:0 0 25px 85px
}

.fancybox-inner {
    background-color: #FFFFFF;
}