/* main menu styles */
.menu {
    position: fixed;
    top: 111px;
    z-index: 5;
    min-width: 800px;
    margin:0 auto;
    text-align:left;
    width:100%;
    min-width: 800px;
    background-image: -moz-linear-gradient(#dddddd, #f2f2f2);
    background-image: -webkit-linear-gradient(#dddddd, #f2f2f2);
    background-image: -o-linear-gradient(#dddddd, #f2f2f2);
    background-image: -ms-linear-gradient(#dddddd, #f2f2f2);

    -webkit-box-shadow: 0 1px 4px 0px black;
    -moz-box-shadow: 0 1px 4px 0px black;
    box-shadow: 0 1px 4px 0px black;

}
.menu > span {
    display:inline-block;
    margin:0 auto;
}
#nav {
    display:inline;
    text-align:left;
    position:relative;
    list-style-type:none;
}
#nav > li {
    float:left;
    padding:0;
    position:relative;
    -moz-box-shadow: 1px 0 0 #475761;
    -webkit-box-shadow: 1px 0 0 #475761;
    box-shadow: 1px 0 0 #d6d6d6;
}
#nav > li > a {
    float: left;
    display:block;
    padding: 5px 15px;
    text-transform: uppercase;
    position:relative;
    text-decoration: none;
    color: #000000;
    font: 11px Arial,Helvetica,sans-serif;
}
#nav > li > a:hover {
    background-color: #b02428;
    color: #FFFFFF;
}
#nav > li.selected  > a {
    background-color:#AE1F23;
    z-index:2;
    color: #ffffff;
}
#nav li div {
    position:relative;
}
#nav li div div {
    background-color:#AE1F23;
    padding:12px 0;
    display:none;
    font-size:15px;
    margin:0;
    margin-top: 23px;
    position:absolute;
    top:-1px;
    z-index:1;
    width:190px;
    border-radius:0px 0px 4px 4px;
    -moz-border-radius: 0px 0px 4px 4px;
    -webkit-border-radius: 0px 0px 4px 4px;
    -moz-box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
    background-image: -moz-linear-gradient(#AE1F23, #982226);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#AE1F23), to(#982226));
    background-image: -webkit-linear-gradient(#AE1F23, #982226);
    background-image: -o-linear-gradient(#AE1F23, #982226);
    background-image: -ms-linear-gradient(#AE1F23, #982226);
}
#nav li div div.wrp2 {
    width:380px;
}
#nav .sep {
    left:190px;
    border-left:1px solid #E3E3E3;
    bottom:0;
    height:auto;
    margin:15px 0;
    position:absolute;
    top:0;
    width:1px;
}
#nav li div ul {
    padding-left:10px;
    padding-right:10px;
    position:relative;
    width:170px;
    float:left;
    list-style-type:none;
}
#nav li div ul li {
    margin:0;
    padding:0;
}
#nav li div ul li h3 {
    border-bottom:1px solid #E3E3E3;
    color:#4F4F4F;
    font-weight:bold;
    margin:0 5px 4px;
    font-size:0.95em;
    padding-bottom:3px;
    padding-top:3px;
}
#nav li ul ul {
    padding:0 0 0;
}
#nav li ul ul li {
    margin:0;
    padding:0;
}
#nav li ul ul li a {
    color:#FFFFFF;
    display:block;
    margin-bottom:1px;
    padding:3px 5px;
    text-decoration:none;
    font-size:12px;
}
#nav li ul ul li a:hover{
    background-color:#5E5E5E;
    color:#fff;
    width: 100%;
    border-radius:4px 0px 0px 4px;
    -moz-border-radius: 4px 0px 0px 4px;
    -webkit-border-radius: 4px 0px 0px 4px;
    -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
