/* 
    Document   : pager
    Created on : 26-mar-2013, 15:55:29
    Author     : Luis
    Description:
        Purpose of the stylesheet follows.
*/

/**
 * CSS styles for CLinkPager.
 *
 * @author Qiang Xue <qiang.xue@gmail.com>
 * @link http://www.yiiframework.com/
 * @copyright Copyright &copy; 2008-2010 Yii Software LLC
 * @license http://www.yiiframework.com/license/
 * @version $Id$
 * @since 1.0
 */
ul.yiiPager
{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    display: inline-block;
    padding-left: 0;
    margin: 20px 10px;
    /*border-radius: 4px;*/
}

ul.yiiPager li
{
	display:inline;
}

ul.yiiPager li a :first-child
{
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

ul.yiiPager a:link,
ul.yiiPager a:visited
{
	color:#428bca;
    border-radius: 0px;
}

ul.yiiPager .page a
{
    margin-left: -5px;
}

ul.yiiPager a:hover
{
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #428bca;
    border-color: #DEDEDE;
    
}

ul.yiiPager .selected a
{
	background:#428bca;
	color:#ffffff;
    border-radius: 0px;
}

ul.yiiPager .hidden a
{
	border:solid 1px #DEDEDE;
	color:#888888;
}

/**
 * Hide first and last buttons by default.
 */
ul.yiiPager .first,
ul.yiiPager .last
{
	display:none;
}