/*! jQuery UI - v1.9.2 - 2012-11-23
* http://jqueryui.com
* Includes: jquery.ui.tabs.css
* Copyright 2012 jQuery Foundation and other contributors; Licensed MIT */
.ui-tabs
{
    position:relative;
    /*padding:.2em;*/
    /*zoom:1;*/
}
.ui-tabs .ui-tabs-nav
{
    padding-bottom: 33px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 1px solid #dddddd;
    font-family: verdana, tahoma, arial, sans-serif;
    font-size: 10pt;
}
.ui-tabs .ui-tabs-nav li
{
    list-style:none;
    float:left;
    position:relative;
    top:0;
    margin:1px .2em 0 0;
    padding:0;
    white-space:nowrap;
    background-color: #DDDDDD;
    border-bottom: 1px solid #dddddd;
}
.ui-tabs .ui-tabs-nav li a
{
    float:left;
    padding:.5em 1em;
    text-decoration:none;
    color: #000000;
    text-transform: uppercase;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active
{
    background-color: #ffffff;
    margin-bottom:-1px;
    padding-bottom:-11px;
    border-top: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    border-bottom: 1px solid white;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active a,.ui-tabs .ui-tabs-nav li.ui-state-disabled a,.ui-tabs .ui-tabs-nav li.ui-tabs-loading a
{
    cursor:text;
}
.ui-tabs .ui-tabs-nav li a,.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active a
{
    cursor:pointer;
}
.ui-tabs .ui-tabs-panel
{
    display:block;
    border-width:0;
    padding:1em 1.4em;
    background:none;
    margin-top: -10px;
}