* { box-sizing: border-box; }
body { font-size: 14px; }

.sectionBody {
    position: relative;
    width: 57.142857143em;
    height: 100%;

    background-image: url('/images/tmp/v2_email-blog.jpg2');
    background-repeat: no-repeat;

/*    overflow: auto; */
    background-color2: #E6E6E6;
}

.sectionMainBody {
    width: 42.857142857em;
    margin: auto;
    margin-top: 2em;

    /*    background-color: #ffffff; */
    background-color: transparent;

    padding-left: 1.571428571em;
    padding-right: 1.571428571em;
    padding-top: 2.357142857em;
}

.sectionMainBody > h1 {
    font-size: 1.4em;
    font-weight: bold;
}

#divImgCapcalera {
/*    margin-left: 7.142857143em; */
    margin-left: -1.5em;
    margin-top: 3.785714286em;

}

.inputTextarea, .inputText {
    background-color: transparent;
    width: 100%;
    border: solid 1px transparent;
}

.inputTextarea:focus, .inputText:focus {
    border: solid 1px red;
}

.inputTextHeader {
    font-size: 1.4em;
    font-weight: bold;
}

.divTweetBackground {
    margin-top: 1.714285714em;
    background-color: #D7F0F5;
}

.inputTextTweet {
    line-height: 54px;
    background-image: url('/images/tmp/TweetThis.png');
    background-position: right;
    background-repeat: no-repeat;

    padding-left: 2.857142857em;
}

.inputTextLink {
    width: 16em;
    text-decoration: underline;
}

#divTextareaHeader {
    margin-top: 1.714285714em;
}

.responsive-slider {
    border: 1px solid red;
    margin-top: 2em;
}

.responsive-slider .slider-control {
    background-color: red;
    text-decoration: none;
    color: #000000;
}

.responsive-slider .pages .page {
    border: 3px solid #F00;
}

.responsive-slider .caption {
    margin-top: -300px;
}

.bxslider .imgPost {
    float: left;;
    width: 260px;
    height: 160px;
    padding-right: 0.5em;
    padding-bottom: 0.5em;
}

.responsive-slider .post {
    float: left;
    padding: 1em;
    white-space: normal;
    margin-top: -300px;
    /*margin-left: 270px;*/
    /*color: #000000;*/
    /*width: 250px;*/
    /*word-wrap: break-word;*/
    /*height: 160px;*/
}

.responsive-slider .post a {
    cursor: pointer;
    color: #000000;
}

.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
    bottom: 0px;
}

.sliderZone {
    margin-top: 2em;
}

.sliderZone > div {
    position: relative;
}

.pDescriptionPost {
    word-wrap: break-word;
    font-size: 85%;
}

.divPostEditDescription {
    position: absolute;
    top: 0px;
    left: 584px;
    width: 100%;
}

.inputTextAreaEditPost {
    display:none;
}

#divButtonZone {
    padding-top: 2em;
    width: 100%;
    height: 60px;
}

#divButtonZone > div {
    display: inline;
    float: right;
}

#saveButton, #finishButton, #backButton {
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;

    border: 1px solid #9AAFE5;
    font-weight: bold;
    padding: 0.2em 1em;
    text-decoration: none;

    background: none repeat scroll 0% 0% #0297D1;
    color: #FFF;
    margin: 0.5em;

    cursor: pointer;
}

#finishButton {
    background: none repeat scroll 0% 0% #c23731;
}

#backButton {
    float: left !important;
}

