* { box-sizing: border-box; }
body { font-size: 14px; }

#divButtonZone {
    padding-top: 1em;
    width: 100%;
/*    height: 60px; */
}

#divButtonZone > div {
    display: inline;
    float: right;
}

.btn {
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;

    border: 1px solid #9AAFE5;
    font-weight: bold;
    padding: 0.2em 1em;
    text-decoration: none;

    background: none repeat scroll 0% 0% #0297D1;
    color: #FFF;
    margin: 0.5em;

    cursor: pointer;
}

#cancelButton {
    float: left !important;
}

.inputDataError {
    background-color: #cc0000;
    color:#ffffff;
}