﻿ul.etabs
{
    height:25px; /* height #1 */
    text-align:left; /*set to left, center, or right to align the tabs as desired*/
    margin:0;
    padding:0; padding-left:10px;
    font-size:0;
    list-style-type:none;
}

ul.etabs li
{
    display:inline;
    margin:0;padding:0;
    margin-right:10px; /*distance between tabs*/
}

ul.etabs li a
{
    padding:0 20px; /* edit 16px for different tab width */
    display:inline-block;
    line-height:25px;/* height #1 */
    text-decoration: none;
    color:#929699;
    border:1px solid #e9e9e9; /*This color can be different from color #2 */
    border-bottom:none;
    background:#e9e9e9;
    outline:none;
    border-radius:5px 5px 0 0;
    position:relative;
}

ul.etabs li a:link, ul.etabs li a:visited
{

}

ul.etabs li a:hover
{
    color:#455560;
}

/*selected tab style */
ul.etabs li.selected a
{
    color:#455560;
    font-weight:100;
    border-color:#455560; /*color #1*/
    background:white; /*color #2*/
    z-index:3;
}

/*selected tab style on hover */
ul.etabs li.selected a:hover
{
    text-decoration:none;
}

/* container of content panels */
div.panel-container
{
    border-top:1px solid #455560; /*color #1*/
    /*border-radius:4px;
    box-shadow:0 0 8px #CCC;*/
    background-color:white; /*color #2*/
    position:relative;
    padding:0px; margin:0px;
    min-height:100px;
}

/* content panel */
div.panel-container > div
{
    padding:15px 15px;
    padding-bottom:20px;
    display: block;
    margin:0px;
}

.maintabsconent
{
    width:100%;
    text-align:center;
}

.tab-container
{
    width:570px;
    text-align:center;
    margin:20px;
    margin-bottom:0px;
    padding:0px
}

