html,body,h3,h1,h3,h4,h5,h6,form,fieldset,legend,label,input,select,button,p{margin:0;padding:0}
html {
    background-color: #dfe4ea;
}
body {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d4d8d7), to(#dfe4ea));
    background: -webkit-linear-gradient(top, #d4d8d7, #dfe4ea);
    background: -moz-linear-gradient(top, #d4d8d7, #dfe4ea);
    background: -ms-linear-gradient(top, #d4d8d7, #dfe4ea);
    background: -o-linear-gradient(top, #d4d8d7, #dfe4ea);
    font-size:62.5%;
}
#wrapper {
    margin: 0 auto;
    width: 100%;
    clear:both;
}
#cabecera {
    background-color: #525b64;
    height: 50px;
    position: relative;
}
#cabecera h1 {
    left: 45%;
    position: relative;
    height: 50px;
    line-height: 50px;
    color: #fff;
    font-family:"proxima_nova_light", Arial, sans-serif;
    font-size: 36px;
}
#try_premium {
    font-family:"proxima_nova_light", Arial, sans-serif;
    font-size: 2.5em;
    padding: 30px 0;
    text-align: center;
}
#boton_try {
    background-color: #1AC1E6;
    color: #FFFFFF;
    font-family: "museo_slab_300regular",Arial,sans-serif;
    font-size: 4em;
    height: 100px;
    line-height: 100px;
    text-align: center;
}
.boton_try_des {
    font-family: "museo_slab_300regular",Arial,sans-serif;
    background-color: #C9C9C9 !important;
    text-align: center;
    font-size: 4em;
    height: 100px;
    line-height: 100px;
}
.boton_prem {
    font-family: "proxima_nova_light",Arial,sans-serif;
    font-size: 2.5em;
    padding: 50px 0 20px;
    text-align: center;
}
.boton_try_des a{
    cursor: default;
}
#boton_try a {
    line-height: 100px;
    padding-right: 50px;
    background: url("../../media/images/mobile/right_arrow.png") no-repeat right 37px;
    display: inline-block;
    position: relative;
    float: none;
    margin-left: auto;
    text-decoration: none;
    color: #fff;
}
#boton_try img {
    float: left;
    margin-left: 35px;
    margin-top: 35px;
}
#slide_images {
    margin-top: 30px;
}
#slide_images img {
    left: 8%;
    position: relative;
    width: 85%;
    max-width: 100%;
}
#back {
    position: absolute;
    z-index: 10;
    color: #1ac1e6;
}
#back img {
    float: left;
    padding-left: 4px;
    padding-top: 2px;
}
#back p {
    float: left;
    font-family: "proxima_nova_light",Arial,sans-serif;
    font-size: 3.4em;
    padding-top: 2px;
    padding-left: 8px;
}
#desc {
    color: #525B64;
    margin-top: 15px;
}
#desc h2 {
    font-family: "museo_slab_300regular",Arial,sans-serif;
    font-size: 2.5em;
    margin: 5px 0;
}
#desc p {
    font-family: "proxima_nova_light",Arial,sans-serif;
    font-size: 1.5em;
}
#email_notif {
    text-align: center;
    font-family: "proxima_nova_light",Arial,sans-serif;
    font-size: 1.5em;
    margin-top: 5px;
}
/* Email sent page styles */
#modal {
    width: 80%;
    max-width: 600px;
    margin: 150px auto;
    background-color: #fff;
    font-family: "proxima_nova_light",Arial,sans-serif;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    opacity: 1;
}
#modal h3 {
    font-size: 2.5em;
    text-align: center;
    margin: 20px 0;
    padding-top: 15px;
}
#modal p {
    font-size: 2em;
    text-align: center;
    padding:0 15px 15px
}
#email_accept {
    border-top: 1px solid #b2b2b2;
    display: inline-block;
    font-size: 2em;
    text-align: center;
    text-decoration: none;
    width: 100%;
    height: 40px;
    line-height: 40px;
}
#email_accept:link,  #email_accept:visited{
    color: #007aff;
}
#popup_background {
    background: url("../../media/images/fondoModal.png") repeat scroll 0 0  !important;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 99;
}

/* Media queries */
@media only screen  and (max-width : 640px){
    #wrapper {
        width: 100%;
    }
    #try_premium, .boton_try_des {
        font-size: 1.5em;
        width: 80%;
        margin: 0 auto;
    }
    #email_notif {
        font-size: 1em;
    }
    #boton_try, #boton_try_des {
        width: 100%;
        font-size: 2em;
        height: 60px;
    }
    #boton_try a, #boton_try_des p {
        line-height: 60px;
        padding-right: 50px;
        background: url("../../media/images/mobile/right_arrow.png") no-repeat right 14px;
        display: inline-block;
        position: relative;
        top: -20px;
        float: none;
        margin-left: auto;
    }
    #boton_try_des p{
        font-size: 1em;
    }
    #boton_try img {
        display: none;
    }
    #modal p {
        font-size: 1.5em;
    }
}