@import "bourbon";
@import "../assets/css/shared/app";

$red: #9c0034;
$orange: #e16201;

.ab-color-testing-wrapper {
  .red { color: $orange; }

  li.with-discount {
    .ab-package-header {
      background: $orange;
    }

    .ab-main-price {
      color: $orange;
    }
  }

  div.cmp_haztePremium,
  .btn-pasate {
    background: transparent url('../img/orange_btn.png') repeat-x;
    border: 1px solid $orange;
  }

  .final-price.red {
    color: $orange;
  }

  .ab-packages li.with-discount .ab-package-header.with-bg:before {
    background: rgba(255,98,1,.8);
  }
}
