html,body { width: 100%; height: 100%; font-size: 12px; }

body {
    background-image: url('/images/background_login2.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-width: 424px;
    min-height: 100%;
}

.wrapper {
    min-height: 100%;
}

#main {
/*    overflow:auto; */
    padding-bottom:130px; /* this needs to be bigger than footer height*/
}

.footer {
    position: relative;
    margin-top: -48px; /* negative value of footer height */
    height: 48px;
    clear:both;
/*    padding-top:20px; */
    color:#fff;

    min-width: 424px;
}

#divMainBody {
    background-color: transparent !important;
    width: 100%;
    min-height: 100%;
    margin-bottom: -48px;
}

#divMarco {
    position: relative;
    background-color: #ffffff;
    width: 25em;
    /*     height: 30.417em; */

    top: 10em;

    text-align: center;
    margin: auto;
    padding-top: 4.17em;
    padding-bottom: 6.17em;
}

#divHeaderMarco {
    position: absolute;
    top: 0;
    height: 4.17em;
    width: 100%;
    background-color: #e7e7e7;
}

#divFooterMarco {
    position: absolute;
    bottom: 0;
    height: 4.7em;
    width: 100%;
    background-color: #e7e7e7;
    padding: 0.2em;
    padding-top: 0.7em;
    line-height: 1.8em;
}

#divFooterMarco span {
    font-size: 0.9em;
}

#divFooterMarco div span:hover {
    cursor: pointer;
    text-decoration: underline;
}

#divFooterMarco2 {
    position: absolute;
    bottom: 0;
    height: 4.17em;
    width: 100%;
    background-color: #e7e7e7;
    padding: 0.2em;
    line-height: 4em;
}

#divFooterMarco2 span {
    font-size: 0.9em;
}

#divFooterMarco2 div span:hover {
    cursor: pointer;
    text-decoration: underline;
}

#divFooterMarco2 div img {
    width: 0.5em;
    height: 0.667em;
    margin-bottom: 0.2em;
}

#divLogoMarco {
    position: absolute;
    top: -5.4em;
    left: 7.5em;
    background-image: url('/images/logo-aba-english-red.png');
    background-size: 100% 100%;
    width: 10em;
    height: 8.333em;
}

#btnLogin {
    padding-left: 4em;
    padding-right: 4em;
}

#divTituloMarco {
    line-height: 4em;
}

#divTituloMarco span {
    font-size: 1.2em;
    font-weight: bold;
    color: #6f8084;
}

#divButton {
    /*line-height: 4em;*/
}

#divButton button {
    width: 21.33em;
}

.divInputMarco {
    line-height: 4em;
}

.divInputMarco input {
    line-height: 1em;
    padding: 0.5em;
    margin: 0.5em;
    width: 18.33em;
    padding-left: 3em;
    display: inline;
}

.divInputMarco input#inputUser {
    background-image: url('/images/icologinmail.png');
    background-repeat: no-repeat;
    background-position: 1em center;
}

.divInputMarco input#inputPass {
    background-image: url('/images/icologinpass.png');
    background-repeat: no-repeat;
    background-position: 1em center;
}

.divInputMarco input#inputMail {
    background-image: url('/images/icologinmail.png');
    background-repeat: no-repeat;
    background-position: 1em center;
    margin: 1.5em;
}

#divRecordar {
    line-height: 4em;
    width: 18.33em;
    margin-left:1.8em;
    text-align: left;
}

#divRecordar label {
    margin-left: 0.5em;
}

/*  #divFooter {
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    color: #ffffff;
    font-weight: bold;
    line-height: 4em;
    background-color: #484848;
    letter-spacing: 0.1em;
  }*/

/*  #divFooter span {
    font-style: italic;
    padding: 1.2em;
  }*/

#divMsgMarco {
    margin: auto;
    width: 18.33em;
    line-height: 1em;
    padding: 0.5em;
    margin-bottom: 1.5em;
}

#divMsgMarco2 {
    margin: auto;
    width: 21.33em;
    line-height: 1em;
    padding: 0.5em;
}

@media (max-width: 450px) {
    html,body { font-size: 9px !important; }
}

@media (max-width: 768px) {
    html,body { font-size: 10px !important; }
    .divInputMarco input {
        width: 15.33em !important;
    }
}

@media (max-width: 992px) {
    html,body { font-size: 11px !important; }
    .divInputMarco input {
        width: 16.33em !important;
    }
}

@media (max-width: 1200px) {
}
