$menu-text-color: #c7cbce;
$content-color: #45555f;
$text-highlight: #1998d4;
$blue-black: #384049;
$assets-path: '/themes/ABAenglish/assets';
$bootstrap-icon-path: "#{$assets-path}/lib/bootstrap/fonts";
$icon-path: "#{$assets-path}/img/icons";

$red: #9c0034;
$orange: #e16201;
$blue: #07bae4;
$error: #cc1616;

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('#{$bootstrap-icon-path}/glyphicons-halflings-regular.eot');
  src: url('#{$bootstrap-icon-path}/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('#{$bootstrap-icon-path}/glyphicons-halflings-regular.woff2') format('woff2'), url('#{$bootstrap-icon-path}/glyphicons-halflings-regular.woff') format('woff'), url('#{$bootstrap-icon-path}/glyphicons-halflings-regular.ttf') format('truetype'), url('#{$bootstrap-icon-path}/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

%icon-helpers {
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: none;
}

@font-face {
  font-family: 'social-icons';
  src: url('#{$icon-path}/social-icons.eot?3favgm');
  src: url('#{$icon-path}/social-icons.eot?#iefix3favgm') format('embedded-opentype'),
  url('#{$icon-path}/social-icons.woff?3favgm') format('woff'),
  url('#{$icon-path}/social-icons.ttf?3favgm') format('truetype'),
  url('#{$icon-path}/social-icons.svg?3favgm#social-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'aba-icons';
  src: url('#{$icon-path}/aba-icons.eot?-3ey8qj');
  src: url('#{$icon-path}/aba-icons.eot?#iefix-3ey8qj') format('embedded-opentype'),
  url('#{$icon-path}/aba-icons.woff?-3ey8qj') format('woff'),
  url('#{$icon-path}/aba-icons.ttf?-3ey8qj') format('truetype'),
  url('#{$icon-path}/aba-icons.svg?-3ey8qj#aba-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}


[class^="icon-social-"],
[class*=" icon-social-"] {
  @extend %icon-helpers;
  font-family: 'social-icons', sans-serif;
}

[class^="icon-aba-"],
[class*=" icon-aba-"] {
  @extend %icon-helpers;
  font-family: 'aba-icons', sans-serif;
}

.icon-aba-users:before { content: '\e600'; }
.icon-aba-certificate:before { content: '\e601'; }
.icon-aba-certificate2:before { content: '\e602'; }
.icon-aba-certificate3:before { content: '\e603'; }
.icon-aba-check:before { content: '\e604'; }
.icon-aba-email:before { content: '\e605'; }
.icon-aba-font-size:before { content: '\e606'; }
.icon-aba-help:before { content: '\e607'; }
.icon-aba-multi-files:before { content: '\e608'; }
.icon-aba-pencil:before { content: '\e609'; }
.icon-aba-smartphone:before { content: '\e60a'; }
.icon-aba-speech-bubble:before { content: '\e60b'; }
.icon-aba-star:before { content: '\e60c'; }
.icon-aba-user:before { content: '\e60d'; }
.icon-aba-video:before { content: '\e60e'; }
.icon-aba-video-camera:before { content: '\e60f'; }