@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(//themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

// Font face generator
$font-path: "#{$assets-path}/fonts";

@each $font-face in 'MuseoSans500Regular', 'MuseoSansBold', 'MuseoSlab500', 'MuseoSlab700Regular', 'MuseoSlab900Regular' {
  @font-face {
    font-family: $font-face; font-style: normal; font-weight: normal;
    src: url('#{$font-path}/#{$font-face}.eot');
    src: url('#{$font-path}/#{$font-face}.eot?#iefix') format('embedded-opentype'),
    url('#{$font-path}/#{$font-face}.woff') format('woff'),
    url('#{$font-path}/#{$font-face}.ttf')  format('truetype');
  }
}
