footer {
  background: rgba(156, 158, 154, .3);
}

.ab-social-block {
  p {
    @include font("Open Sans", 11px, 27px);
    background: rgba(156, 158, 154, .5);
    color: #747f88;
    height: 27px;
    text-align: center;
    text-transform: uppercase;
  }
}

.ab-share-list {
  font-size: 0;
  list-style: none;
  margin-bottom: 15px;
  padding: 0;
  text-align: center;
  width: 100%;

  li {
    display: inline-block;
    font-size: 18px;
    margin-right: 7px;
    &:last-child { margin-right: 0; }

    a {
      @include transition-duration(.5s);
      @include size(40px);
      background: #849098;
      border: solid 2px #e8e9ea;
      border-radius: 50%;
      box-shadow: 0 2px 2px #888;
      color: #e8e9ea;
      display: block;
      font-size: 0;
      text-align: center;

      &:before {
        @include font('social-icons', 20px, 36px);
        @include size(36px);
        display: block;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        text-transform: none;
      }

      &:hover,
      &:focus,
      &:active {
        background-color: #e8e9ea;
        border-color: #849098;
        color: #849098;
      }
    }

    &.twit a:before { content: '\e607'; }
    &.face a:before { content: '\e602'; }
    &.yout a:before { content: '\e609'; }
    &.goog a:before { content: '\e603'; }
    &.blog a:before { content: '\e600'; }
    &.spot a:before { content: '\e601'; }
    &.pint a:before { content: '\e605'; }
    &.tum a:before {  content: '\e606'; }
  }
}

.ab-main-footer {
  background: #404b52;
  padding: 30px 0 50px;
  .container { padding: 0; }

  .ab-footer-list {
    $footer-list-width: 100%;
    $footer-block-right-margin: 15px;

    color: #fff;
    font-size: 0;
    list-style: none;
    margin: 0 20px;
    padding: 0;
    vertical-align: top;
    width: $footer-list-width;
    li { vertical-align: top; }
    a { color: #fff; }

    .sub-menu {
      @include font("Open Sans", 12px, 1.3);
      list-style: none;
      margin: 0;
      padding: 0;

      li { margin-bottom: 10px; }
    }

    > li {
      @include calc(width, "#{($footer-list-width/6)} - #{$footer-block-right-margin}");
      display: inline-block;
      margin-right: $footer-block-right-margin;
      &:last-child { margin-right: 0; }

      > span {
        @include font("MuseoSlab500", 16px);
        display: block;
        margin-bottom: 12px;
      }
    }
  }
}

.ab-main-footer-mobile {
  background: #404b52;
  padding: 0;
  .container { padding: 15px; }

  .ab-footer-list {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;

    li {
      display: block;
      margin: 0;
      &:last-child { border-bottom: 0; }

      a {
        @include font("MuseoSans500Regular", 14px);
        color: #fff;
        display: block;
        padding: 15px 0;
        text-align: center;
      }
    }
  }
}

.ab-legal-footer {
  background: #263136;
  color: #fff;
  padding: 18px 15px;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;

    li {
      @include font('Open Sans', 12px);
      border-right: 1px solid #fff;
      display: inline-block;
      padding: 0 20px 0 19px;
      &:last-child { border-right: 0; }
      a { color: #fff; }
    }
  }
}
