@import 'app';
@import 'fonts';
@import 'mixins';

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  @include font('MuseoSlab500');
  strong { @include font('MuseoSlab700Regular'); }
}

.title-inline {
  display: inline-block;
  margin: 0;
}

.ab-appstore-btn {
  @include font("Myriad Pro", 12px, 1.05);
  background: #000;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  padding: 7px 10px;
  text-align: center;
  width: 230px;

  &:hover,
  &:focus {
    color: #fff;
    span { color: #fff; }
  }

  span {
    @include retina-image('#{$assets-path}/img/apple_logo', 32px 32px);
    background-repeat: no-repeat;
    display: inline-block;
    padding-left: 42px;
    text-align: left;

    i {
      display: block;
      font-size: 22px;
      font-style: normal;
      font-weight: 500;
    }
  }
}

.cup {
  cursor: pointer;
}

.red {
  color: $red;
}

.orange {
  color: $orange;
}

.blue {
  color: $blue;
}

.ab-error-page {
  position: relative;
  padding: 10px;
  height: 100%;
  text-align: center;

  h1 {
    @include font("MuseoSlab700Regular", 22px, 44px);
    margin-bottom: 0;
  }

  p {
    @include font("MuseoSans500Regular", 16px, 44px);
  }

  .ab-error-page-btn {
    display: inline-block;
    margin-top: 15px;
    padding: 0 10px;
    height: 40px;
    min-width: 105px;
    background-color: #fcfcfc;
    color: $blue-black;
    border-radius: 5px;
    @include font("MuseoSans500Regular", 16px, 44px);
    @include linear-gradient(top, #fcfcfc 0%, #dedede 100%);
  }
}