.ab-header {
  margin-bottom: 10px;

  .ab-logo-wrapper {
    padding-top: 10px;
  }

  .slogan {
    color: #39444c;
    font-family: 'MuseoSlab500', Arial, sans-serif;
    font-size: 20px;
    height: 55px;
    line-height: 55px;
    margin-top: 75px;

    span {
      color: #92908a;
      font-style: italic;
      margin-left: 10px;
    }
  }
}
