@media (min-width : 980px) {
  .container { width: 980px; }
}

// Smartphones (portrait and landscape)
@media only screen
and (min-width : 320px)
and (max-width : 736px) {
  body { background: none; }
  .mob-m-b-35 { margin-bottom: 35px; }
  .label-inline { line-height: 34px; }
  .ab-payment-alert { margin: 0 0 20px; }

  .ab-header {
    min-height: 90px;

    .ab-logo-wrapper {
      padding-top: 0;
    }

    img {
      padding-top: 23px;
      width: 64px;
    }

    .slogan {
      color: #39444c;
      font-family: 'MuseoSlab500', Helvetica, sans-serif;
      font-size: 16px;
      height: 55px;
      line-height: 1.5;
      margin-top: 23px;
      text-align: center;
      span { display: block; margin: 0; }
    }
  }

  .ab-payment-header {
    margin-top: 10px;

    .ab-payment-title {
      line-height: 1.1;
      text-align: center;
    }
  }

  .ab-payment-title-link {
    display: block;
    float: none;
    line-height: 1.2;
    text-align: center;
  }

  .ab-packages {
    li {
      margin: 0 0 30px;
      width: 100%;

      &.best-option { margin: 0 0 30px; }
    }
  }

  .ab-payment-form.with-bg {
    background: none;
    padding-left: 0;
    padding-right: 0;

    .ab-payment-fields {
      margin: 0;
      padding: 0 0 10px;
    }
  }

  .mob-with-bg {
    background: #f3efec;
  }

  .ab-payment-info {
    background: none;
    margin: 0;
    padding: 20px 0;
  }

  .ab-payment-conditions {
    margin-left: 0;
  }

  .ab-support-block {
    li {
      display: block;
      margin: 10px;
    }
  }

  .ab-social-block {
    background: #849098;
    padding: 50px 15px;

    p {
      @include font('Open Sans', 13px, 27px);
      background: transparent;
      color: #fff;
      height: 27px;
      text-align: center;
      text-transform: none;
    }
  }

  .ab-share-list {
    li {
      a {
        @include transition-duration(0);
        border: 0;
        border-radius: 50%;
        box-shadow: none;

        &:before {
          @include font('social-icons', 20px, 40px);
          @include size(40px);
        }
      }
    }
  }
}

// Smartphones (landscape)
@media only screen
and (min-width : 320px)
and (max-width : 736px) and (orientation : landscape) {
  .ab-mobile-splash {
    height: 100%;

    &.ios {
      background-position: 320px 8px;
    }

    &.android {
      background-position: 320px 8px;
    }

    .ab-splash-content {
      width: 300px;
    }

    .ab-fixed-buttons  {
      text-align: left;
    }
  }

  @media only screen
  and (min-width: 600px) {
    .ab-mobile-splash {
      &.ios {
        background-position: 98% 8px;
      }

      &.android {
        background-position: 98% 8px;
      }

      .ab-splash-content {
        width: 60%;
      }
    }
  }
}

// Smartphones (portrait)
@media only screen
and (max-width : 736px) {}

// iPads (portrait and landscape)
@media only screen
and (min-width : 768px)
and (max-width : 1024px) {}

// iPads (portrait)
@media only screen
and (min-width : 768px)
and (max-width : 1024px)
and (orientation : portrait) {
  .ab-payment-info {
    section {
      float: left;
      width: 50%;
      + section { margin-top: 0;  }
    }

    .ipad-float-section {
      padding-top: 36px;
    }

    .ipad-float-link {
      bottom: 0;
      position: absolute;
      right: 20px;
    }
  }

  .ab-payment-conditions {
    margin-left: 0;
  }
}

