// Font generator
@mixin font($font, $size: inherit, $lh: 1.1, $style: normal, $weight: normal) {
  font-family: $font, 'Helvetica Neue', 'Arial', sans-serif;
  font-size: $size;
  font-style: $style;
  font-weight: $weight;
  line-height: $lh;
}

@mixin background-image-retina($file, $type, $width, $height, $position: top left, $repeatness: no-repeat) {
  background: url($file + '.' + $type) $repeatness $position;

  @media (-webkit-min-device-pixel-ratio: 2),
  (min--moz-device-pixel-ratio: 2) {
    background-image: url($file + '_2x.' + $type);
    background-size: $width $height;
  }
}
