
html { background: transparent url('../img/fondocampus.png') repeat 0 0; }
body { background: transparent url('../img/bg_band.jpg') repeat-x 0 67px; }

a { color: #07bbe4; }

.ab-payment-wrapper {
  background-color: #fff;
  border: 1px solid #e1dfdc;
  font-family: 'MuseoSans500Regular', Helvetica, Arial, sans-serif;
  margin-bottom: 30px;
  padding-top: 10px;
  .alert { margin-top: 10px; }
}

.ab-payment-alert { margin: 0 10px 20px; }
.ab-payment-form { margin-bottom: 20px; }

.m-b-30 { margin-bottom: 30px; }
.no-margin { margin: 0; }

.ab-payment-form,
.ab-prices {
  padding: 18px 5px;
  &.with-bg { background: #f3efec; }
}

.ab-payment-title {
  color: #42505a;
  font-family: 'museo_slab_700regular', sans-serif;
  line-height: 1.1;
  margin-bottom: 18px;

  &.with-border {
    border-bottom: 1px solid #455560;
    padding-bottom: 10px;
  }
}

h3.ab-payment-title { font-size: 18px; }

h4.ab-payment-title {
  font-family: 'MuseoSans500Regular';
  font-size: 16px;
  line-height: 1.2;
}

.ab-payment-title-link {
  color: #44525c;
  display: inline-block;
  float: right;
  font-family: 'museo_slab_700regular';
  font-size: 14px;
  line-height: 33px;
  text-align: right;
  text-decoration: underline;
}

.ab-payment-header {
  .ab-payment-title {
    line-height: 33px;
    margin-top: 0;
  }
}

.ab-promo-code {
  color: #44525c;
  font-family: 'MuseoSans500Regular';
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 30px;
  width: 100%;

  .ab-btn { float: left; }

  .validation-error {
    color: $error;
    float: right;
    font-style: italic;
    font-weight: bold;
    margin-left: 10px;
  }
}

.ab-promo-wrapper, .ab-promo-title {
  float: left;
  line-height: 28px;
}

.ab-promo-title { margin-right: 10px; }

.ab-promo-wrapper {
  margin-top: -2px;

  input[type='text'] {
    border: 1px solid #a4b1bb;
    border-radius: 4px;
    color: #697883;
    float: left;
    font-family: 'MuseoSans500Regular';
    font-size: 14px;
    height: 28px;
    line-height: 28px;
    margin-right: 5px;
    padding: 0 8px;
    width: 145px;
  }
}

.ab-btn {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  font-family: 'MuseoSlab900Regular';
  font-size: 14px;
  height: 28px;
  line-height: 28px;
  padding: 0 10px;
  text-align: center;

  &.ab-btn-blue {
    background-color: rgba(4, 192, 230, 1);
    @include background-image(linear-gradient(top, rgba(4, 192, 230, 1) 0%, rgba(3, 141, 210, 1) 100%));
    color: #fff;
  }

  &.ab-btn-orange {
    background-color: rgba(255, 123, 41, 1);
    @include background-image(linear-gradient(top, rgba(255, 123, 41, 1) 0%, rgba(208, 104, 39, 1) 100%));
    color: #fff;
  }

  &.ab-btn-red {
    background-color: rgba(177, 6, 66, 1);
    @include background-image(linear-gradient(top, rgba(177, 6, 66, 1) 0%, rgba(135, 0, 45, 1) 100%));
    color: #fff;
  }

  &.ab-btn-big {
    display: block;
    font-family: 'MuseoSans700';
    height: 45px;
    line-height: 45px;
    text-transform: uppercase;
    width: 100%;
  }
}

.ab-feature-text {
  color: #455560;
  font-family: 'MuseoSans500Regular';
  font-size: 14px;
  line-height: 1.5;
  padding-left: 70px;
  position: relative;

  &:before {
    background: url("../img/icons.png") no-repeat;
    content: "";
    height: 60px;
    left: 0;
    position: absolute;
    top: 0;
    width: 60px;
  }

  &.complete-course-ico:before { background-position: -99px -653px; }
  &.certificates-ico:before { background-position: -5px -864px; }
  &.unlimited-ico:before { background-position: -123px -972px; }
}

.ab-blockquote {
  border: none;
  color: #92908a;
  font-family: 'museo_slab_500italic';
  font-size: 14px;
  line-height: 1.5;
  padding: 0 0 0 70px;

  &:before {
    background: transparent url("../img/icons.png") no-repeat -99px -529px;
    content: "";
    height: 17px;
    left: 10px;
    margin-left: 14px;
    position: absolute;
    top: 0;
    width: 24px;
  }

  footer {
    background: none;
    color: #92908a;
    font-family: 'museo_slab_500italic';
    font-size: 14px;
  }
}

.ab-support-block {
  background: #41525c;
  color: #fff;
  font-family: 'MuseoSans500Regular';
  list-style: none;
  margin: 0 0 20px 0;
  padding: 5px 0;
  text-align: center;

  li {
    display: inline-block;
    margin: 0 10px;
    i { font-size: 14px; }
  }
}

.ab-packages {
  $width: 100%;
  font-size: 0px;
  margin-top: 50px;
  padding: 0;
  text-align: center;

  li {
    @include calc(width, "#{$width}/4 - 16px");
    background: #f3efec;
    border: 0;
    display: inline-block;
    font-family: 'MuseoSans500Regular';
    font-size: 13px;
    margin: 0 8px 20px;
    position: relative;
    vertical-align: top;

    .ab-discount {
      background: url("../img/icon-discount.svg") no-repeat 0 0;
      background-size: cover;
      color: #fff;
      font-size: 12px;
      height: 59px;
      padding: 3px;
      position: absolute;
      right: -10px;
      text-align: center;
      top: -20px;
      width: 57px;
      z-index: 3;

      &.final { line-height: 55px; }

      &.percent {
        @include align-items(stretch);
        @include display(flex);
        @include flex-direction(column);
        @include justify-content(center);
        strong { font-size: 13px; }
      }

      .priceSmall {
        font-size: 9px;
        padding: 0;
      }

      .priceBig.dscFinalPrice { font-size: 13px; }
    }
  }

  .ab-package-header {
    background-color: #42505a;
    color: #ffffff;
    font-size: 18px;
    height: 75px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    @include align-items(stretch);
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(center);
  }

  .ab-main-price {
    margin: 0;
    padding: 0;

    dt, dd {
      display: inline-block;
      text-align: left;
    }

    dd strong {
      display: block;
    }
  }

  .logo.header-module {
    margin-top: 0;
  }

  .ab-package-body {
    border: 1px solid #d5d4d2;
    border-top: 0;
    padding: 0;
    position: relative;

    .ab-btn {
      border-radius: 0;
      margin: 0 0;
      width: 100%;
    }

    .ab-price-block {
      height: 115px;
      text-align: center;
      @include align-items(stretch);
      @include display(flex);
      @include flex-direction(column);
      @include justify-content(center);
    }

    .ab-old-price {
      color: #425460;
      display: block;
      font-size: 12px;
      font-style: italic;
      left: 0;
      position: absolute;
      right: 0;
      text-align: center;
      text-decoration: line-through;
      top: 5px;
    }

    &.ab-current-product {
      border: solid 1px #41525c;
      border-bottom: 0;
      border-top: 0;
      box-shadow: inset 2px 0px 0px 0px #41525c, inset -2px 0px 0px 0px #41525c;

      .ab-curent-label {
        background: #41525c;
        color: #fff;
        display: block;
        font-family: 'MuseoSans700';
        height: 45px;
        line-height: 45px;
        text-align: center;
        text-transform: uppercase;
        width: 100%;
      }

      .subsdcription-date { font-size: 16px; }
    }
  }

  .ab-package-badge {
    display: block;
    font-family: "museo_slab_500italic";
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
  }

  li.best-option {
    margin: -15px 8px 20px;
    background: #fff;

    .ab-package-body {
      .ab-btn.ab-btn-big {
        height: 60px;
        line-height: 60px;
      }
    }

    .ab-package-header {
      height: 90px;
    }
  }

  li.with-discount {
    .ab-package-header { background: $red; }
    .ab-main-price { color: $red; }
  }
}

.ab-packages > li {
  div.productSelect > div.oldPrice {
    margin-top: 15px;
    height: 5px;
    text-decoration: line-through;
    font-size: 14pt;
  }

  .priceBig {
    font-weight: bold;
    font-size: 50px;
    &.bestOption {
      font-size: 50px;
    }

    &.priceOld {
      text-decoration: line-through;
      font-size: 25px;
    }

    &.priceOldPlus {
      color: #92908a;
      text-decoration: line-through;
    }

    &.dscFinalPrice {
      font-size: 25px;
    }
  }

  .priceSmall {
    font-size: 16px;
    font-weight: bold;
    &.bestOption {
      font-size: 16px;
    }

    &.priceOld {
      font-size: 12px;
      text-decoration: line-through;
    }

    &.priceOldPlus {
      color: #92908a;
      text-decoration: line-through;
    }
  }

  span.productPeriod {
    font-size: 11px;
    line-height: 16px;
  }
}

/* Payment Method page */
.m-t-15 { margin-top: 15px; }

.ab-payment-fields,
.ab-payment-info {
  position: relative;
  margin: 0 10px;
  padding: 20px;

  .ab-payment-title { margin-top: 0; }
  ul { margin-bottom: 0; }
}

.ab-payment-fields { padding: 20px 0; }

.ab-payment-info {
  background: #fff;
  margin-top: 20px;
  section + section { margin-top: 30px; }
  .final-price { font-size: 16px; }
}

.ab-payment-explanation { margin-bottom: 20px; }

.ab-payment-conditions {
  background: #fff;
  border: solid 1px #ccc;
  border-radius: 4px;
  margin-left: 30px;
  position: relative;
  overflow: hidden;

  .ab-payment-conditions-content {
    font-size: 11px;
    max-height: 200px;
    overflow-y: scroll;
    padding: 15px;
    text-align: justify;
  }
  .ab-payment-conditions-fade {
    background: #fff;
    height: 10px;
    margin: 0 -15px;
    position: absolute;
    width: 100%;
  }
  .ab-payment-conditions-fade-top {
    top: 0;
  }
  .ab-payment-conditions-fade-bottom {
    bottom: 0;
  }

  .termsTitle {
    font-size: 14px;
  }
}

.ab-payment-conditions-text {
  a {
    cursor: pointer;
  }
}

.ab-loader {
  display: block;
  margin: 10px auto;
}

.ab-form-error {
  margin-top: 2px;
  color: $error;
  font-size: 11px;
}

input, select, textarea {
  &.error { border-color: $error; }
}

.ab-payment-radio-wrapper {
  input[type='radio'] { margin-left: 0; }
  label { display: block; }
}

.with-help {
  position: relative;

  .ab-help-wrapper {
    background: transparent url("../img/icons.png") no-repeat -180px -307px;
    cursor: pointer;
    height: 20px;
    position: absolute;
    right: -15px;
    top: 8px;
    width: 19px;
  }

  .ab-help-box {
    background-color: #92908b;
    bottom: 35px;
    color: #fff;
    cursor: default !important;
    display: none;
    left: -250px;
    padding: 25px;
    position: absolute;
    width: 300px;
    z-index: 11;

    &:after {
      border: solid transparent;
      border-color: rgba(146, 144, 139, 0);
      border-top-color: #92908b;
      border-width: 10px;
      content: " ";
      height: 0;
      margin-left: -10px;
      pointer-events: none;
      position: absolute;
      right: 30px;
      top: 100%;
      width: 0;
    }
  }

  .ab-help-wrapper:hover .ab-help-box {
    display: block;
    z-index: 12;
  }
}

.payment-radio-wrapper {
  background: #fff;
  border: solid 1px #ccc;
  border-radius: 4px;
  height: 34px;
  line-height: 34px;
  margin-bottom: 5px;
  padding: 0 10px 0 35px;
  position: relative;

  input {
    display: inline-block;
    left: 10px;
    position: absolute;
    top: 18%;
    vertical-align: middle;
  }

  label {
    margin: 0;
    overflow: hidden;
    padding: 0;

    i {
      float: left;
    }

    .ccard-icon {
      background: transparent url("../img/cards-sprite.png") no-repeat 0 0;
      height: 34px;

      &.def-card {
        background-position: 0 0;
        width: 102px;
      }

      &.usd-card {
        background-position: 0 0;
      }

      &.italy-card {
        background-position: 0 -68px;
        width: 33px;
      }

      &.france-card {
        width: 30px;
        background-position: 0 -102px;
      }

      &.paypal-card {
        background-position: 0 -34px;
        width: 69px;
      }

      &.boleto-card {
        background-position: 0 -136px;
        width: 57px;
      }
    }
  }
}

.ab-confirm-payment {
  background: url("../img/pagorealizado.png") no-repeat 0 0;
  background-size: cover;
  color: #fff;
  padding: 50px 20px;

  h1 {
    font-family: 'MuseoSlab900Regular';
    font-size: 27.5px;
  }

  h2 {
    font-family: 'MuseoSlab900Regular';
    font-size: 23px;
    margin-bottom: 14px;
  }

  h3 {
    font-family: 'museo_slab_700regular';
    font-size: 19px;
    line-height: 1.5;
  }

  p {
    font-family: 'museo_slab_700regular';
    font-size: 15px;
    margin-bottom: 4px;

    strong {
      font-family: 'MuseoSlab900Regular';
    }
  }
}

/* ----------- Adyen -----------------------    */
.ab-alternative-payments-list {
  text-align: left;
  position: relative;
  padding: 0;
  margin: 0;

  li {
    margin: 2px;
    display: inline-block;
    font-size: 0;
    cursor: pointer;
    vertical-align: top;

    em {
      display: block;
      width: 65px;
      height: 41px;
      margin: 0 auto 5px;
      border-radius: 5px;
    }

    span {
      font-size: 12px;
      font-family: 'MuseoSans500Regular';
      color: #455560;

      &.sm-price {
        font-size: 10px;
      }
    }

    &:hover {
      em { box-shadow: 0 0 0 1px #07bae4; }
      span { color: #07bae4; }
    }
  }
}

.icon-adyen {
  background: url("../img/adyen-spritesheet.png") no-repeat;
  display: block;
  width: 65px;
  height: 41px;
}

.icon-adyen-alipay { background-position: -5px -5px; }
.icon-adyen-amex { background-position: -5px -56px; }
.icon-adyen-bankTransfer_IBAN { background-position: -5px -107px; }
.icon-adyen-bankTransfer_NL { background-position: -5px -158px; }
.icon-adyen-bank_ru { background-position: -5px -209px; }
.icon-adyen-bcmc { background-position: -5px -260px; }
.icon-adyen-boleto { background-position: -5px -311px; }
.icon-adyen-cup { background-position: -5px -362px; }
.icon-adyen-diners { background-position: -5px -413px; }
.icon-adyen-directEbanking { background-position: -5px -464px; }
.icon-adyen-directdebit_NL { background-position: -5px -515px; }
.icon-adyen-discover { background-position: -5px -566px; }
.icon-adyen-dotpay { background-position: -5px -617px; }
.icon-adyen-ebanking_FI { background-position: -5px -668px; }
.icon-adyen-elo { background-position: -5px -719px; }
.icon-adyen-elv { background-position: -5px -770px; }
.icon-adyen-giropay { background-position: -5px -821px; }
.icon-adyen-ideal { background-position: -5px -872px; }
.icon-adyen-interac { background-position: -5px -923px; }
.icon-adyen-jcb { background-position: -5px -974px; }
.icon-adyen-maestro { background-position: -5px -1025px; }
.icon-adyen-mc { background-position: -5px -1076px; }
.icon-adyen-online_RU { background-position: -5px -1127px; }
.icon-adyen-sepadirectdebit { background-position: -5px -1178px; }
.icon-adyen-terminal_RU { background-position: -5px -1229px; }
.icon-adyen-trustly { background-position: -5px -1280px; }
.icon-adyen-trustpay { background-position: -5px -1331px; }
.icon-adyen-unionpay { background-position: -5px -1382px; }
.icon-adyen-visa { background-position: -5px -1433px; }
.icon-adyen-wallet_RU { background-position: -5px -1484px; }
.icon-adyen-qiwiwallet { background-position: -5px -1534px; }
.icon-adyen-safetypay { background-position: -5px -1584px; }
.icon-adyen-doku_mandiri_clickpay { background-position: -5px -1633px; }
.icon-adyen-doku_wallet { background-position: -5px -1684px; }
.icon-adyen-oxxo { background-position: -5px -1735px; }
.icon-adyen-seveneleven { background-position: -5px -1787px; }

.ab-packages li.ab-family-tooltip {
  position: relative;
  background: #f3efec;
  border: 1px solid #d4d4d2;
  padding: 15px;
  text-align: left;

  h2 {
    color: #42505a;
    font-family: "MuseoSans700", sans-serif;
    line-height: 1.4;
    font-size: 16px;
    margin: 0 0 10px;
  }

  @media only screen and (min-width : 737px) {
    &:after,
    &:before {
      left: 100%;
      top: 40px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    &:after {
      border-color: rgba(243, 239, 236, 0);
      border-left-color: #f3efec;
      border-width: 15px;
      margin-top: -15px;
    }

    &:before {
      border-color: rgba(212, 212, 210, 0);
      border-left-color: #d4d4d2;
      border-width: 16px;
      margin-top: -16px;
    }
  }

  @media only screen
  and (min-width : 320px)
  and (max-width : 736px) {
    margin-bottom: 20px;

    &:after,
    &:before {
      top: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    &:after {
      border-color: rgba(243, 239, 236, 0);
      border-top-color: #f3efec;
      border-width: 15px;
      margin-left: -15px;
    }

    &:before {
      border-color: rgba(212, 212, 210, 0);
      border-top-color: #d4d4d2;
      border-width: 16px;
      margin-left: -16px;
    }
  }

  figure.happy {
    margin-top: 5px;
    text-align: center;

    img {
      max-width: 200px;
      width: 100%;
    }
  }
}

.ab-packages li.ab-family,
.ab-packages li.ab-family.best-option {
  margin-top: 0;
}

.ab-package-header {
  &.with-bg {
    position: relative;
    span { z-index: 2; }

    &.individual { @include background-image-retina('../img/individual', 'jpg', 850px, 90px, top center); }
    &.family { @include background-image-retina('../img/family', 'jpg', 850px, 90px, top center); }

    &:before {
      background: rgba(46, 63, 73, 0.8);
      content: "";
      height: 100%;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1;
    }
  }
}

.ab-packages li.with-discount .ab-package-header.with-bg {
  &.individual { @include background-image-retina('../img/individual', 'jpg', 850px, 90px, top center); }
  &.family { @include background-image-retina('../img/family', 'jpg', 850px, 90px, top center); }
  &:before { background: rgba(158, 0, 49, 0.8); }
}

.ab-jumbotron {
  @include font("MuseoSans500", 15px);
  background: #fff;
  color: #263a48;
  padding: 30px;
  margin: 10px 0 30px;

  p {
    @include font("MuseoSans500", 13px, 1.1);
    margin-top: 15px;
    padding: 0;
    text-align: left;

    &.header {
      @include font("MuseoSans500", 15px);
    }
  }

  h3 {
    @include font("museo_slab_700regular", 20px, 1.1, italic);
    color: $red;
    margin: 0 0 20px 0;
  }

  .payment-confirmation-summary {
    list-style: none;
    margin-top: 30px;
    padding: 0;

    &.user-data {
      text-align: left;
    }

    &.pay-data {
      text-align: right;
    }

    @media only screen  and (max-width: 991px) {
      &.user-data, &.pay-data {
        text-align: left;
      }
    }

    li {
      margin-bottom: 8px;

      strong {
        @include font("MuseoSansBold", 18px);
        color: $red;
      }
    }
  }

  .payment-confirmation-button {
    margin-bottom: 20px;
    margin-top: 20px;
  }
}

/*  -------------- PAYMENTS ----------------    */
/* Forms styles REFACTOR NEEDED */
div.loadingPaypalContainer {
  background: transparent url("../img/loadingBkg.gif") no-repeat 0 0;
  height: 71px;
  line-height: 51px;
  padding-top: 20px;
  text-align: center;
  width: 140px;
}

span.loadingPaypalInterior {
  background: transparent url("../img/loading.gif") no-repeat 0 0;
  display: inline-block;
  height: 32px;
  vertical-align: middle;
  width: 32px;
  zoom: 1;
}

.seguridadPayment > {
  div.firstRow {
    display: block;
    margin: 0 auto 11px;
    max-width: 215px;
    width: 215px;
    height: 22px;
    text-align: center;
  }

  div.secondRow {
    display: block;
    margin: 0 auto;
    max-width: 215px;
    width: 215px;
    text-align: center;
  }
}

/*********PAYMENTS NO LOGIN*********/

.breadcrumbs-pay {
  position: relative;
  width: 100%;
  margin: 0;
  display: inline-block;

  &:before {
    content: '';
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: #92908a;
    z-index: 1;
    margin-top: -1px;

  }

  &.bp-active:before {
    background: #42505a;
  }

  .breadcrumb-item {
    display: inline-block;
    position: relative;
    text-align: center;
    padding-top: 36px;
    background: #fff;
    z-index: 2;
    color: #42505a;

    &:before {
      @include size(30px);
      content: '';
      display: inline-block;
      text-align: center;
      line-height: 28px;
      border-radius: 50%;
      border: 2px solid #92908a;
      color: #92908a;
      background: #fff;
      z-index: 2;
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -15px;
    }

    &:after {
      content: '';
      position: absolute;
      top: 15px;
      left: 50%;
      right: 0;
      width: 50%;
      height: 2px;
      background: #92908a;
      z-index: 1;
      margin-top: -1px;
    }

    &.left {
      float: left;
    }

    &.right {
      float: right;
    }

    &.b1 {
      &:before {
        content: '1';
      }
    }

    &.b2 {
      &:before {
        content: '2';
      }

      &:after {
        right: 50%;
        left: 0;
        width: 50%;
      }
    }

    &.b-check {
      &:before {
        @include font('FontAwesome', 14px, 27px);
        content: "\f00c";
        border-color: #42505a;
        color: #42505a;
      }
    }

    &.b-active {
      &:before {
        border-color: #42505a;
        color: #fff;
        line-height: 27px;
        background: #42505a;
        font-weight: bold;
      }
    }
    &.bi-active:after{
      background: #42505a;
    }
  }
}

.icon-payment-check {
  display: block;
  float: left;
  padding: 5px;
}

.marginTop20-pay {
  margin-top: 20px;
}

ul.footer-nologin {
  white-space: nowrap;
  width: 100%;
  text-align: center;
}