body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
    background-image:url('../images/linen_bg_tile.jpg'); 
    background-repeat: repeat;
    /* background: #666666; */
}

#page
{
	margin-top: 20px;
	margin-bottom: 20px;
	background: white;
	border: 0px solid #CCCCCC;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.9);
	-moz-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.9);
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.9);
}

#header
{
	margin: 0;
	padding: 10px;
    background-color:#ffffff;
    -moz-border-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#content
{
    padding: 20px;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}

#logo
{
    padding: 10px 20px;
}

#logoTable
{
    margin-bottom: 0em;
}
#logoTitle
{
    font-size: 20px;
    margin-left: 20px;
}

#pastilla
{
    padding: 10px;
    background-color: #ffffff;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 1px  1px rgba(0, 0, 0, 0.3);

}

#tabsStyle
{
    background-color: #0186ba;
    background-image: -moz-linear-gradient(#04acec,  #0186ba);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#04acec), to(#0186ba));
    background-image: -webkit-linear-gradient(#04acec, #0186ba);
    background-image: -o-linear-gradient(#04acec, #0186ba);
    background-image: -ms-linear-gradient(#04acec, #0186ba);
    background-image: linear-gradient(#04acec, #0186ba);
    width: 190px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 10px;
    padding-top: 6px;
    padding-bottom: 3px;
    -webkit-box-shadow: 2px 0px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 2px 0px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 0px 0px rgba(0, 0, 0, 0.5);
 }

#tabsTitleStyle
{
    font-size: 16px;
    color: #ffffff;
}

#resultado
{
    color:#000000;
    font-size: 15px;
}

#mainmenu
{
	background:white url(bg.gif) repeat-x left top;
}

#mainmenu ul
{
	padding:4px 20px 5px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
    border-radius: 10px;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
    font-weight: bold;
    background-color: #fcfcfc;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}
#expresscertificates-form .errorMessage{
    color: #ff0000;
}

.agrupdaroTitle
{
    color: #FF0000;
    font-size: 15px;
}

#myForm, #myFormRight, #myFormReconciliation
{
    background-color: #fcfcfc;
    padding: 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px;
    border: 1px solid #CCCCCC;
    -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
    
}

#myForm tr td label
{
    text-align: right;
}

#myForm tr td
{
    border-bottom: 1px dashed #d8e4e0;
}

#salesTable, #boletoTable
{
    background-color: #fcfcfc;
    padding: 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
}
#salesTable tr td, #boletoTable tr td
{
    border-bottom: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    border-radius: 5px;
}

#boletoTable tr td {
    background-color: #6FACCF;
    color: #555;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
}



.greenOkMessage
{
    color: #264409;
    font-size: 0.9em;
    background-color: #76C376;
}

.lastUpdateLabel
{
    font-size: 11px;
}