/* main menu styles */
.menu {
    background-color:#4F4F4F;
    text-align:left;
    width:100%;
    background-image: -moz-linear-gradient(#475761, #111);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#475761), to(#111));
    background-image: -webkit-linear-gradient(#475761, #111);
    background-image: -o-linear-gradient(#475761, #111);
    background-image: -ms-linear-gradient(#475761, #111);
}
.menu > span {
    display:inline-block;
    margin:0 auto;
}
#nav {
    display:inline;
    text-align:left;
    position:relative;
    list-style-type:none;
}
#nav > li {
    float:left;
    padding:0;
    position:relative;
    border-right: 1px solid #222;
    -moz-box-shadow: 1px 0 0 #475761;
    -webkit-box-shadow: 1px 0 0 #475761;
    box-shadow: 1px 0 0 #475761;
}
#nav > li > a {
    float: left;
    border:1px solid transparent;
    display:block;
    padding: 12px 20px;
    text-transform: uppercase;
    position:relative;
    text-decoration:none;
    color: #bbb;
    font: bold 11px Arial,Helvetica,sans-serif;
    text-decoration: none;
    text-shadow: 0 1px 0 #000;
}
#nav > li > a:hover {
    background-color:#0297D1;
    color: #FFFFFF;
}
#nav > li.selected  > a {
    background-color:#0297D1;
    z-index:2;
    color: #ffffff;
}
#nav li div {
    position:relative;
}
#nav li div div {
    background-color:#0297D1;
    padding:12px 0;
    display:none;
    font-size:15px;
    margin:0;
    margin-top: 41px;
    position:absolute;
    top:-1px;
    z-index:1;
    width:190px;
    border-radius:0px 0px 4px 4px;
    -moz-border-radius: 0px 0px 4px 4px;
    -webkit-border-radius: 0px 0px 4px 4px;
    -moz-box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
    background-image: -moz-linear-gradient(#0297D1, #039fff);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#0297D1), to(#039fff));
    background-image: -webkit-linear-gradient(#0297D1, #039fff);
    background-image: -o-linear-gradient(#0297D1, #039fff);
    background-image: -ms-linear-gradient(#0297D1, #039fff);
}
#nav li div div.wrp2 {
    width:380px;
}
#nav .sep {
    left:190px;
    border-left:1px solid #E3E3E3;
    bottom:0;
    height:auto;
    margin:15px 0;
    position:absolute;
    top:0;
    width:1px;
}
#nav li div ul {
    padding-left:10px;
    padding-right:10px;
    position:relative;
    width:170px;
    float:left;
    list-style-type:none;
}
#nav li div ul li {
    margin:0;
    padding:0;
}
#nav li div ul li h3 {
    border-bottom:1px solid #E3E3E3;
    color:#4F4F4F;
    font-weight:bold;
    margin:0 5px 4px;
    font-size:0.95em;
    padding-bottom:3px;
    padding-top:3px;
}
#nav li ul ul {
    padding:0 0 0;
}
#nav li ul ul li {
    margin:0;
    padding:0;
}
#nav li ul ul li a {
    color:#FFFFFF;
    display:block;
    margin-bottom:1px;
    padding:3px 5px;
    text-decoration:none;
    font-size:0.9em;
}
#nav li ul ul li a:hover{
    background-color:#42515C;
    color:#fff;
    width: 100%;
    border-radius:4px 0px 0px 4px;
    -moz-border-radius: 4px 0px 0px 4px;
    -webkit-border-radius: 4px 0px 0px 4px;
    -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
