/* 
    Document   : pager
    Created on : 26-mar-2013, 15:55:29
    Author     : Luis
    Description:
        Purpose of the stylesheet follows.
*/

/**
 * CSS styles for CLinkPager.
 *
 * @author Qiang Xue <qiang.xue@gmail.com>
 * @link http://www.yiiframework.com/
 * @copyright Copyright &copy; 2008-2010 Yii Software LLC
 * @license http://www.yiiframework.com/license/
 * @version $Id$
 * @since 1.0
 */

ul.yiiPager
{
	font-size:11px;
	border:0;
	margin:0;
	padding:0;
	line-height:100%;
	display:inline;
}

ul.yiiPager li
{
	display:inline;
}

ul.yiiPager a:link,
ul.yiiPager a:visited
{
	border:solid 1px #9aafe5;
	font-weight:bold;
	color:#0297d1;
	padding:1px 6px;
	text-decoration:none;
    border-radius: 11px;
}

ul.yiiPager .page a
{
	font-weight:bold;
}

ul.yiiPager a:hover
{
	border:solid 1px #0297d1;
    border-radius: 11px;
    
}

ul.yiiPager .selected a
{
	background:#0297d1;
	color:#FFFFFF;
	font-weight:bold;
    border-radius: 11px;
}

ul.yiiPager .hidden a
{
	border:solid 1px #DEDEDE;
	color:#888888;
}

/**
 * Hide first and last buttons by default.
 */
ul.yiiPager .first,
ul.yiiPager .last
{
	display:none;
}
