.grid-view-loading
{
	background:url(../images/ajax-loader.gif) no-repeat;
    background-position: top;
}

.grid-view
{
	padding: 15px 0;
}

.grid-view table.items
{
	background: white;
	border-collapse: collapse;
	width: 100%;
	border: 1px #D0E3EF solid;
}

.grid-view table.items th, .grid-view table.items td
{
	font-size: 0.9em;
	border: 1px white solid;
	padding: 0.3em;
}

.grid-view table.items th
{
	color: white;
    background: #0297d1;
	text-align: center;
    font-size: 13px;
}

.grid-view table.items th:first-letter 
{
    text-transform: uppercase;
}

.grid-view table.items th:first-child 
{
    -moz-border-radius: 7px 0 0 0;
    -webkit-border-radius: 7px 0 0 0;
    border-radius: 7px 0 0 0;
}

.grid-view table.items th:last-child 
{
    -moz-border-radius: 0 0px 0 0;
    -webkit-border-radius: 0 0px 0 0;
    border-radius: 0 0px 0 0;
}

.grid-view table.items th a
{
	color: #EEE;
	font-weight: bold;
	text-decoration: none;
}

.grid-view table.items th a:hover
{
	color: #FFF;
}

.grid-view table.items th a.asc
{
	background:url(up.gif) right center no-repeat;
	padding-right: 10px;
}

.grid-view table.items th a.desc
{
	background:url(down.gif) right center no-repeat;
	padding-right: 10px;
}

.grid-view table.items tr.even
{
	background: #DDDDDD;
}

.grid-view table.items tr.odd
{
	background: #CCCCCC;
}

.grid-view table.items tr.selected
{
	background: #FEFEFE;
}



.grid-view table.items tbody tr:hover
{
	background: #EEEEEE;
}

.grid-view .link-column img
{
	border: 0;
}

.grid-view .button-column
{
	text-align: center;
	width: 60px;
}

.grid-view .button-column img
{
	border: 0;
}

.grid-view .checkbox-column
{
	width: 15px;
}

.grid-view .summary
{
	padding: 3px;
    margin-right: 1px;
	text-align: center;
    background-color: #0297d1;
    color: #ffffff;
    font-size: 11px;
    width: 250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position:relative;
    float:right;
}

.grid-view .pager
{
	margin: 5px 0 0 0;
	text-align: right;
}

.grid-view .empty
{
	font-style: italic;
}

.grid-view .filters input,
.grid-view .filters select
{
	width: 100%;
	border: 1px solid #ccc;
    
   
}
.grid-view .filters
{
    background: #999999;
    
}
/*toolips abaformatter */
table.tooltipGrid {color:#000;font-weight:bold;}

 a.tooltip {outline:none; text-decoration:none;color:#555555;} 
 a.tooltip strong {line-height:30px;} 
 a.tooltip:hover {text-decoration:none;} 
 a.tooltip span { z-index:10;display:none; padding:7px 10px; margin-top:-15px; margin-left:10px;  line-height:16px; } 
 a.tooltip:hover span{ display:inline; position:absolute; color:#111; border:1px solid #DCA; background:#fffAF0;} 
 .callout {z-index:20;position:absolute;top:30px;border:0;left:-12px;}
 /*CSS3 extras*/ 
 a.tooltip span
 { border-radius:4px; 
 -moz-border-radius: 4px; 
 -webkit-border-radius: 4px; 
 -moz-box-shadow: 5px 5px 8px #CCC; 
 -webkit-box-shadow: 5px 5px 8px #CCC; 
 box-shadow: 5px 5px 8px #CCC; 
 }