html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

p {
    padding: 5px 0 15px;
}

@font-face {
    font-family: 'MuseoSlab900Regular';
    src: url('../../../css/fonts/Museo_Slab_900-webfont.eot');
    src: url('../../../css/fonts/Museo_Slab_900-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../../css/fonts/Museo_Slab_900-webfont.woff') format('woff'),
    url('../../../css/fonts/Museo_Slab_900-webfont.ttf') format('truetype'),
    url('../../../css/fonts/Museo_Slab_900-webfont.svg#MuseoSlab900Regular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'MuseoSlab500';
    src: url('../../../css/fonts/Museo_Slab_500-webfont.eot');
    src: url('../../../css/fonts/Museo_Slab_500-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../../css/fonts/Museo_Slab_500-webfont.woff') format('woff'),
    url('../../../css/fonts/Museo_Slab_500-webfont.ttf') format('truetype'),
    url('../../../css/fonts/Museo_Slab_500-webfont.svg#MuseoSlab500') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('../../../css/fonts/proximanova-reg-webfont.eot');
    src: url('../../../css/fonts/proximanova-reg-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../../css/fonts/proximanova-reg-webfont.woff') format('woff'),
    url('../../../css/fonts/proximanova-reg-webfont.ttf') format('truetype'),
    url('../../../css/fonts/proximanova-reg-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

#mgmContainer {
    font-family: 'proxima_nova_rgregular';
    color:#44525c;
    font-size: 16px;
    margin:0px;
    padding:0px;
    text-align:center;
    overflow: hidden;
}

#mgmContainer a:link {font-family: 'MuseoSlab500'; text-decoration: none;font-size:14px;}
#mgmContainera:visited { text-decoration: none;font-size:14px;}
#mgmContainera:hover { text-decoration: underline; font-size:14px;}

#mgmContainer #ymcheck a:link {color:#BBBBBB;text-decoration: none;font-size:12px;}
#mgmContainer #ymcheck a:visited { color: #BBBBBB; text-decoration: none;font-size:12px;}
#mgmContainer #ymcheck a:hover {  color:#BBBBBB; text-decoration: underline; font-size:12px;}

#mgmContainer td {
    vertical-align: middle;
}
#mgmContainer a.bottomlinks:visited 
{
    font-size:11px;
    color:#000000;
    text-decoration:none;
}
#mgmContainer a.bottomlinks:hover 
{
    font-size:11px;
    color:#000000;
    font-weight: bold;
    text-decoration:none;
}
#mgmContainer a.bottomlinks:link
{
    font-size:11px;
    color:#000000;
    font-weight: bold;
    text-decoration:none;
}

#mgmContainer a.addlink:visited 
{
    font-size:13px;
    color:#990000;
    text-decoration:none;
}
#mgmContainer a.addlink:hover 
{
    font-size:13px;
    color:#990000;
    font-weight: bold;
    text-decoration:none;
}
#mgmContainer a.addlink:link
{
    font-size:13px;
    color:#990000;
    font-weight: bold;
    text-decoration:none;
}
#mgmContainer a.dlink:visited 
{
    font-size:12px;
    color:#4CA1C5;
    text-decoration:none;
	
}
#mgmContainer a.dlink:hover 
{
    font-size:12px;
    color:#4CA1C5;
    text-decoration:underline;
}
#mgmContainer a.dlink:link
{
    font-size:12px;
    color:#FF0000;
    text-decoration:none;
}
#mgmContainer a.chooselink:visited 
{
    font-size:12px;
    color:#000000;
    text-decoration:none;
    padding-top:2px;
    padding-bottom:2px;
    padding-right:8px;
    padding-left:8px;
    margin:0px;
    margin-bottom:1px;
    font-weight:bold;
    border:1px #CCCCCC solid;
    background-color:#ECECEC;
    line-height: 28px;
    border-radius: 3px 3px 3px 3px;
}
#mgmContainer a.chooselink:link
{
    font-size:12px;
    color:#000000;
    text-decoration:none;
    padding:2px;
    padding-right:8px;
    padding-left:8px;
    margin:0px;
    margin-bottom:1px;
    font-weight:bold;
    border:1px #CCCCCC solid;
    background-color:#ECECEC;
    line-height: 28px;
    border-radius: 3px 3px 3px 3px;
}
#mgmContainer a.chooselink:hover 
{
    font-size:12px;
    color:#000000;
    text-decoration:none;
    padding:2px;
    padding-right:8px;
    padding-left:8px;
    margin:0px;
    margin-bottom:1px;
    font-weight:bold;
    background-color:#FEFFD5;
    border:1px solid #FFEB70;
    line-height: 28px;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 2px;
}
#mgmContainer a.slink:visited 
{
    font-size:12px;
    color:#B90101;
    text-decoration:none;
}
#mgmContainer a.slink:hover 
{
    font-size:12px;
    color:#B90101;
    font-weight: bold;
    text-decoration:none;
}
#mgmContainer a.slink:link
{
    font-size:12px;
    color:#B90101;
    font-weight: bold;
    text-decoration:none;
    margin-right: 5px;
}

#mgmContainer .bigtext
{
    padding-top:4px;
    FONT-SIZE: 12px;
    MARGIN-BOTTOM: 12px;
    color: #B90101;

}
#mgmContainer .bigtext2
{
    padding-top:2px;
    FONT-SIZE: 12px;
    padding-bottom: 12px;
    color: #B90101;
    text-align:left;
}
#mgmContainer .importsucess
{
    text-align:left;
    color:#455560;
    border-bottom:1px solid #999;
    font-size:14px;
    padding:5px;
    font-weight:bold;
    margin-bottom:5px;
}
#mgmContainer .importsucess_manual
{
    text-align:left;
    color:#455560;
    padding:0;
    border-bottom:1px solid #999;
    font-size:13px;
    background-image:url(../images/users.png);
    background-position:left;
    background-repeat:no-repeat;
    padding:5px;
    padding-left:50px;
    font-weight:bold;
    margin-bottom:5px;
    font-size:13px;
}
#mgmContainer .textbeforeemailtext
{
    text-align:left;
    color:#000000;
    font-size:12px;
    text-align:left;
    cursor:pointer;
    margin:0;
    padding:0;
}
#mgmContainer .textbeforeemailtext2
{
    text-align:left;
    color:#000000;
    font-size:12px;
    text-align:left;
    margin:0;
    padding:0;
}
#mgmContainer .displayemailtxt
{
    margin:0;
    padding:10px;
    font-size:12px;
    color:#200000;
    border:1px solid #BBB;
    border-radius:4px;
    box-shadow:0 0 8px #CCC;
    background-color:#FFFFFF;
    margin-bottom:10px;
    padding-top:5px;
    padding-bottom:5px;
}

#mgmContainer  #manual_emails p
{ 
    margin:0px;
    padding:0px;
    padding-bottom:3px;
    padding-top:3px;
    padding-left:5px;
    margin-top:10px;
    background-color:#F6F6F9;
    border:1px solid #BBB;
    border-radius:4px;
    box-shadow:0 0 4px #CCC;
    width:500px;
}
#mgmContainer  .submit
{
    font-family: 'MuseoSlab900Regular';
    font-size: 18px;
	text-align:center;
	color:#ffffff;
    padding: 10px 30px;
	cursor:pointer;
	background-color:#F6F6F9;
	border:0px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #04c0e6; /* Old browsers */
    background: -moz-linear-gradient(top, #04c0e6 0%, #038ed3 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#04c0e6), color-stop(100%,#038ed3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #04c0e6 0%,#038ed3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #04c0e6 0%,#038ed3 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #04c0e6 0%,#038ed3 100%); /* IE10+ */
    background: linear-gradient(to bottom, #04c0e6 0%,#038ed3 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#04c0e6', endColorstr='#038ed3',GradientType=0 ); /* IE6-9 */
}
#mgmContainer #socialinvite, #mgmContainer #socialinvite2
{
    font-family: 'MuseoSlab900Regular';
    font-size: 18px;
    text-align:center;
    color:#ffffff;
    padding: 10px 20px;
    cursor:pointer;
    border:0px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #44619e url(../images/social_buttons/fb_white.jpg) no-repeat 10px; /* Old browsers */
    text-indent: 22px;
}
#mgmContainer .submit_invite 
{
	text-align:center;
	color:#00D025;
	font-size:12px;
	font-weight: bold;
	padding-bottom:3px;
	padding-top:3px;
	cursor:pointer;
	background-color:#F6F6F9;
	border:1px solid #999;
	
}
#mgmContainer .submit_mini
{
    font-family: 'MuseoSlab500';
    font-size: 12px;
    padding: 2px 5px;
    -moz-border-radius: 2px;
    -khtml-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
#mgmContainer input[type="button"]:hover, #mgmContainer input[type="submit"]:hover {
    box-shadow: 0 0 2px 2px #E4E4E4;
}

#mgmContainer .inputbox
{
	text-align:left;
	color:#000000;
	border:1px solid #999;
	font-size:13px;
	border-radius: 3px 3px 3px 3px;
	padding:2px;
}

#mgmContainer .inputbox:hover
{border-radius: 4px 4px 4px 4px;
box-shadow: 0 0 8px #CCCCCC;}

#mgmContainer .inputbox:focus
{border-radius: 4px 4px 4px 4px;
box-shadow: 0 0 8px #CCCCCC;}

#mgmContainer .comboservice
{
font-size:12px;
color:#000000;
vertical-align:middle;
border:1px #999999 solid;
background-color:#FFFFFF;
border-radius: 4px 4px 4px 4px;
padding:2px;
}
#mgmContainer .comboservice > option
{
    text-transform: lowercase !important;
}

#mgmContainer .comboservice:hover
{border-radius: 4px 4px 4px 4px;
box-shadow: 0 0 8px #CCCCCC;}

#mgmContainer .small
{
	FONT-WEIGHT: normal; FONT-SIZE: 13px; COLOR: black; LETTER-SPACING: -1px
}
#mgmContainer #login
{
    border:1px #CCCCCC solid;
    background-color: #e9e9e9;
    margin-top:10px;
    padding: 10px 0px;
}
#mgmContainer .tableimport
{

}
#mgmContainer .tableimport2
{
border:1px #999999 solid;
border-radius: 10px 10px 10px 10px;
}
#mgmContainer .signup-labels 
{
FONT-WEIGHT: bold; 
FONT-SIZE: 12px; 
COLOR:#000000;
padding-left :5px; 
text-align:left;
vertical-align:middle;
}
#mgmContainer .input-labels 
{
    font-family: 'MuseoSlab500';
    FONT-SIZE: 13px;
    COLOR:#44525c;
    padding-left :15px;
    text-align:left;
    vertical-align:middle;
}
#mgmContainer .input-labels-nl
{
FONT-WEIGHT: bold; 
FONT-SIZE: 12px; 
COLOR:#000000;
padding-left :1px; 
text-align:left;
vertical-align:middle;
}

#mgmContainer .comments_before
{
text-align:left;
font-size:14px;
padding-bottom:30px;
padding-top:10px;
}
#mgmContainer .topnavigation
{
font-size:12px;
padding-bottom:0px;
padding-top:0px;
border-bottom: 1px solid #CCCCCC;
vertical-align:bottom;
margin-bottom:5px;
}
#mgmContainer .bottomnavigation
{
font-size:10px;
color:#666;
padding-bottom:2px;
padding-top:2px;
vertical-align:middle;
text-align:center;
margin-top:10px;
}
#mgmContainer .warning
{ 
padding-bottom:8px; 
padding-top:8px;
background:#FEFFD5; 
border:1px solid #febc11; 
color:#B90101; 
font-size:13px;
border-radius: 4px 4px 4px 4px;
box-shadow: 0 0 8px #CCCCCC;
}

#mgmContainer .warningym
{ 
padding-bottom:5px; 
padding-top:5px;
background:#FEFFD5; 
border:1px solid #FFEB70; 
color:#333333;
padding-left:5px;
margin:0;
margin-bottom:15px;
margin-top:15px;
font-size:15px;
font-weight:bold;
}
#mgmContainer .headercontacts
{
color:#455560;
font-weight:bold;
background-color:#CCCCCC;
font-size:13px;
font-weight:bold;
text-align:left;
padding:3px;
}

#mgmContainer .showcontacts
{ 
color:#455560;
border-bottom:1px #CCCCCC solid;
font-size:13px;
text-align:left;
padding:3px;
    overflow: hidden;
}
#mgmContainer .showcontacts_bg
{ 
background-color:#FFFFFF;
}
#mgmContainer .showcontacts_bg2
{ 
background-color:#F9F9F9;
}
#mgmContainer .button
{
background-color: #4CA1C5; 
font-size:12px;
font-weight: bold;
color:#FFFFFF; 
border-style: solid; 
border-width: 1px;
border-color:#D1D1D1;
width:80px;
}

#mgmContainer .buttonsave
{
background-color: #4CA1C5; 
font-size:12px;
font-weight: bold;
color:#FFFFFF; 
border-style: solid; 
border-width: 1px;
border-color:#D1D1D1;
width:110px;
}
#mgmContainer .text_title
{
font-size:15px; 
color:#000000;
font-weight:bold;
 }
#mgmContainer .text_title2
{
font-size:14px; 
color:#000000;
 }
#mgmContainer .text_error
{
background-color:#E7E7E7;
font-size:12px; 
color:#FF0000;
vertical-align:middle;
}
#mgmContainer .general_text_error
{
margin-top:0px;
margin-bottom:8px;
padding-left:2px;
font-size:13px; 
color:#B90101;
vertical-align:middle;
text-align:left;
font-weight:100;
}
#mgmContainer .text_error2
{
background-color:#FFFFFF;
font-size:12px; 
color:#FF0000;
vertical-align:middle;
}
#mgmContainer .text_error3
{
background-color:#E7E7E7;
font-weight:bold;
font-size:12px; 
color:#FF0000;
vertical-align:middle;
padding-left:3px;
}
#mgmContainer .link
{
font-size:12px; 
color:#CC6633;
padding-right:5px;
cursor:pointer;
font-weight:bold;
}
#mgmContainer .edit
{ 
font-size:12px;
background-color: #fefefd; 
color: #2E546B; 
border-style:solid; 
border-width:1px;
height:16px;
}
#mgmContainer .edit2
{ 
font-size:12px;
border-style:solid; 
border-width:1px;
border-color:#000000;
height:18px;
width:180px;
padding-left:3px;
}
#mgmContainer .edit3
{ 
font-size:11px;
font-weight:100;
border-style:solid; 
border-width:1px;
border-color:#000000;
height:18px;
width:540px;
padding-left:3px;
}
#mgmContainer .combo
{ 
font-size:12px;
border-style:solid; 
border-width:1px;
border-color:#000000;
height:18px;
width:80px;
padding-left:3px;
}
#mgmContainer .combo2
{ 
font-size:12px;
border-style:solid; 
border-width:1px;
border-color:#000000;
height:18px;
width:150px;
padding-left:3px;
}
#mgmContainer .buttonupload
{
font-size:12px;
font-weight: bold;
color: #000000; 
border-style: solid; 
border-width: 1px;
border-color:#000000;
width:185px;
 }
#mgmContainer .buttonupload2
{

font-size:12px;
font-weight: bold;
color: #000000; 
border-style: solid; 
border-width: 1px;
border-color:#000000;
background-color: #FFFFFF; 
width:90px;
 }

#mgmContainer .text
 {
font-size:12px; 
color:#000000;
padding-left:2px;
 }
#mgmContainer .text_bold
 {
font-size:11px; 
font-weight:bold;
color:#000000;
 }
#mgmContainer .tdantet
{
background-color:#4CA1C5;
font-size:12px;
font-weight:bold;
color:#FFFFFF;
text-align:left;
padding-left:5px;
}
#mgmContainer .tdmenu
{
background-color:#4CA1C5;
font-size:12px;
font-weight:bold;
color:#000000;
border-color:#FFFFFF; 
border-style: solid; 
border-width: 1px;
padding-left:5px;
}
#mgmContainer .tdantetbig
{
background-color:#D1D1D1;
font-size:14px;
font-weight:bold;
color:#000000;
padding-left:5px;
}
#mgmContainer .bottomtd
{
background-color:#4CA1C5;
vertical-align:middle;
text-align:right;
font-size:12px;
color:#FFFFFF;
padding-right:5px;
border-top-color:#2E546B; 
border-top-style: solid; 
border-top-width: 1px;
}
#mgmContainer .tdantet1
{
background-color:#4CA1C5;
vertical-align:middle;
font-size:14px;
font-weight: bold; 
color:#FFFFFF;
padding-left:5px;

}
#mgmContainer .tdantet2
{
cursor:pointer;
font-size:12px;
color:#000000;
padding-left:5px;
text-align:left;
}
#mgmContainer .heading {
	font-size: 15px;
	font-weight: bold;
	color: #DA251C;
}
#mgmContainer .tabselected
{
font-size: 15px;
	font-weight: bold;
	color: #DA251C;
}
#mgmContainer .style1 {color: #CCCCCC}
#mgmContainer .style2 {color: #FF0000}
#mgmContainer .textaffiliatelink
{
color: #0000FF;
font-size:14px;
text-align:center;
}
#mgmContainer .warninginside
{
padding:10px;
padding-left:10px;
padding-right:10px;
padding-bottom:10px;
text-align:center;
vertical-align:middle;
}
#mgmContainer .warninginside2
{
padding-top:16px;
padding-left:16px;
padding-right:16px;
text-align:center;
vertical-align:middle;
}
#mgmContainer .message_error
{
font-weight:normal;
color:#B90101;
font-size:13px;
background-image:url(../images/warning_err2.png);
background-position:left;
background-repeat:no-repeat;
padding-left:21px;
margin-top:1px;
display:none;
padding-bottom:1px;
padding-top:1px;
}
#mgmContainer .message_error2
{
font-weight:normal;
color:#B90101;
font-size:13px;
}
#mgmContainer .message_success
{
    width: 100%;
    text-align: center;
    font-weight:bold;
    color: #44525c;
    font-size:16px;
    margin-top:1px;
    padding-bottom:10px;
}
#mgmContainer div#container_firstpage
{
width: 550px;
margin-bottom: 10px;
margin-left: auto;
margin-right: auto;
background-color:#FFFFFF;
}
#mgmContainer .manualaddbox
{
color:#000000; 
text-align:left;
font-size:12px;
}
#mgmContainer .displaycustommessage
{
margin: 0;
padding: 0;
color:#000000;
margin-bottom:10px;
}
#mgmContainer .textbeforecustommessage
{
margin: 0;
padding: 0;
text-align:left;
color:#000000;
font-size:12px;
}
#mgmContainer .warning_affiliatelink
{ 
margin: 0;
padding: 0;
color:#000000; 
font-size:12px;
text-align:left;
margin-bottom:10px;
}
#mgmContainer .warning_subscribe
{ 
margin: 0;
padding: 0;
color:#B90101; 
font-size:12px;
margin-bottom:10px;
font-weight:bold;
}
#mgmContainer .texttop
{
font-size:14px;
color:#333333;
}
#mgmContainer .comboservice2
{
width:156px; 
font-size:12px;
color:#000000; 
vertical-align:middle;
border:1px #999999 solid;
margin-bottom:2px;
background-color:#FFF;
border-radius: 4px 4px 4px 4px;
}
#mgmContainer .uploadinputbox
{
	text-align:left;
	color:#000000;
	padding-left:3px;
	padding-bottom:2px;
	padding-top:2px;
	border:1px solid #999;
	font-size:13px;
	height:25px;
}
#mgmContainer .signuplabelsimp
{ padding-left:2px;}
#mgmContainer .div_counter
{
font-size:11px; 
text-align:left; 
padding:0;
margin:0; 
padding-top:5px;
}
#mgmContainer .inputbox_counter
{
	text-align:left;
	color:#000000;
	border:1px solid #999;
	font-size:11px;
	border-radius: 3px 3px 3px 3px;
	padding:2px;
}
#mgmContainer .openpreviewemail
{ text-align:left;margin:0; padding:0;margin-bottom:10px;}
#mgmContainer .openpreviewemail2
{ margin-bottom:5px;}
#mgmContainer div.captcha
{
    border:1px solid #BBB; /*color #1*/ 
    border-radius:4px;
    box-shadow:0 0 8px #CCC;
    background-color:white; /*color #2*/
    position:relative;    
    margin:0px;
	margin-top:20px;
	padding:10px;
}
#mgmContainer div.captcha > div
{
    padding:15px 15px;
	padding-bottom:20px;
    display: block;
    margin:0px;
}
#mgmContainer .texttop_cpatcha
{
	text-align:left;
	color:#000000;
	padding:0;
	padding-bottom:3px;
	border-bottom:1px solid #999;
	font-size:14px;
}
#mgmContainer .cpatcha_content
{
	font-size:12px;
	text-align:left;
	color:#000000;
	padding:0; margin:0;
	padding-bottom:10px;
	padding-top:10px;
	padding-left:2px;
	font-weight:bold;
}
#mgmContainer .bookmarktd
{
FONT-WEIGHT: bold; 
FONT-SIZE: 12px; 
color:#000000;
padding-left :5px;
text-align:left;
vertical-align:middle;
}
#mgmContainer .bookmarktd2
{
FONT-WEIGHT: bold; 
FONT-SIZE: 13px; 
color:#000000;
padding-left :5px;
text-align:left;
vertical-align:middle;
}
#mgmContainer .bookmarktd3
{
FONT-WEIGHT: bold; 
FONT-SIZE: 12px; 
color:#000000;
padding-left :5px;
text-align:left;
vertical-align:top;
padding-top:5px;
}
#mgmContainer #servicesbookmark ul li > a:hover, #mgmContainer #import ul li > a:hover
{
    cursor:pointer;
    background-color: #f6f6f8;
}
#mgmContainer #servicesbookmark ul li > a.selected, #mgmContainer #import ul li > a.selected
{
    background-color: #f6f6f8;
}
#mgmContainer #import ul li.other
{
    width: 470px;
}
#mgmContainer #import ul li.other > a
{
    width: 120px;
    background-color: #b0aca9;
    margin-top: 20px;
    color: #ffffff;
    text-align: center;
    font-family: 'MuseoSlab500';
    font-size: 11px;
    padding: 5px 10px;
}
#mgmContainer #import ul li.other > a:hover
{
    margin-top: 20px;
    color: #ffffff;
}
#mgmContainer #import ul li.other > input
{
    width: 470px; !important
    text-align: center;
}
#mgmContainer .txt_below_bubble
{ color:#000000; font-size:12px; font-weight:bold;}

#mgmContainer .bubble
{
margin-top:10px;
position: relative;
width: 500px;
height: 40px;
padding: 5px;
background: #EDEDED;
border: #BBBBBB solid 1px;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
color:#000000;
text-align:left;
font-size:12px;
}

#mgmContainer .bubble:after
{
content: "";
position: absolute;
bottom: -18px;
left: 110px;
border-style: solid;
border-width: 18px 15px 0;
border-color: #EDEDED transparent;
display: block;
width: 0;
z-index: 1;
}
#mgmContainer .bubble:before
{
content: "";
position: absolute;
top: 51px;
left: 110px;
border-style: solid;
border-width: 18px 15px 0;
border-color: #BBBBBB transparent;
display: block;
width: 0;
z-index: 0;
}
#mgmContainer .bubble2
{
position: relative;
width: 500px;
height: 40px;
padding: 5px;
background: #EDEDED;
border: #BBBBBB solid 1px;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
margin-top:10px;
color:#000000;
text-align:left;
font-size:12px;
}
#mgmContainer .bubble2:after
{
content: "";
position: absolute;
bottom: -18px;
left: 360px;
border-style: solid;
border-width: 18px 15px 0;
border-color: #EDEDED transparent;
display: block;
width: 0;
z-index: 1;
}
#mgmContainer .bubble2:before
{
content: "";
position: absolute;
top: 51px;
left: 360px;
border-style: solid;
border-width: 18px 15px 0;
border-color: #BBBBBB transparent;
display: block;
width: 0;
z-index: 0;
}
#mgmContainer .bubble3
{
position: relative;
width: 500px;
height: 40px;
padding: 5px;
background: #EDEDED;
border: #BBBBBB solid 1px;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
margin-top:10px;
color:#000000;
text-align:left;
font-size:12px;
}
#mgmContainer .bubble3:after
{
content: "";
position: absolute;
bottom: -18px;
left: 295px;
border-style: solid;
border-width: 18px 15px 0;
border-color: #EDEDED transparent;
display: block;
width: 0;
z-index: 1;
}
#mgmContainer .bubble3:before
{
content: "";
position: absolute;
top: 51px;
left: 295px;
border-style: solid;
border-width: 18px 15px 0;
border-color: #BBBBBB transparent;
display: block;
width: 0;
z-index: 0;
}
#mgmContainer .bubble4
{
position: relative;
width: 500px;
height: 40px;
padding: 5px;
background: #EDEDED;
border: #BBBBBB solid 1px;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
margin-top:10px;
color:#000000;
text-align:left;
font-size:12px;
}

#mgmContainer .bubble4:after
{
content: "";
position: absolute;
bottom: -18px;
left: 420px;
border-style: solid;
border-width: 18px 15px 0;
border-color: #EDEDED transparent;
display: block;
width: 0;
z-index: 1;
}
#mgmContainer .bubble4:before
{
content: "";
position: absolute;
top: 51px;
left: 420px;
border-style: solid;
border-width: 18px 15px 0;
border-color: #BBBBBB transparent;
display: block;
width: 0;
z-index: 0;
}
#mgmContainer div.bottom_explanation
{
    margin-top: 15px;
    text-align: left;
    font-size: 12px;
}