#mgmContainer #servicesbookmark ul, #mgmContainer #import ul
{
    list-style-type: none;
    padding-left: 0px;
    margin-top:0px;
    padding-top:0px;
}

#mgmContainer #servicesbookmark_ol ul li
{
    float: left;
    width: 98px;
    height:22px;
    line-height:18px;
    max-height:22px;
    border:1px #CCCCCC solid;
    background-color:#FFFFFF;
    margin:2px;
    text-align:left;
    vertical-align:middle;
    cursor:pointer;
    padding-left:2px;
    padding-bottom:2px;
    margin-bottom:2px;
    margin-top:1px;
    border-radius: 3px 3px 3px 3px;
}

#mgmContainer #servicesbookmark ul li, #mgmContainer #import ul li
{
    /*remove borders on li element */
    float: left;
    text-align:left;
    vertical-align:middle;
    cursor:pointer;
    padding: 0px 5px;
}

#mgmContainer #servicesbookmark ul li a, #mgmContainer #import ul li a
{
    background-color:#FFFFFF;
    margin:0;
	text-align:left;
	text-decoration:none;
	font-size:13px;
	color:#44525c;
    display: block;
    padding: 2px 5px;
}

#mgmContainer #servicesbookmark ul li a:link, #mgmContainer #import ul li a:link
{
	text-decoration:none;
    color:#44525c;
}
#mgmContainer #servicesbookmark ul li a:hover, #mgmContainer #import ul li a:hover
{
	margin:0;	
	text-decoration:none;
    color:#44525c;
}
#mgmContainer #servicesbookmark ul li a:visited, #mgmContainer #import ul li a:visited
{
	margin:0;
	text-decoration:none;
	color:#44525c;
}
#mgmContainer #servicesbookmark ul li a td, #mgmContainer #import ul li a td {
    vertical-align: middle;
    padding: 3px;
}


#mgmContainer input[type="button"], #mgmContainer input[type="submit"]
{ 
	line-height:18px;
}

