 <form method="PUT" action="http://wcampus.local/wsrestuser/update/object/userlevel" enctype="application/json">

<!--<form method="POST" action="http://prod2.abaenglish.com/wspostaba/paypal">-->

userLevel =       <input style="width:600px;"  type="text" name="userLevel" value="5"> <br/>


<input style="width:600px;"  type="submit" value="Enviar">
</form>