 <form method="POST" action="http://wcampus.local/wsrestregister/login" enctype="application/json">

<!--<form method="POST" action="http://prod2.abaenglish.com/wspostaba/paypal">-->

     password =       <input style="width:600px;"  type="text" name="password" value="123456789"> <br/>

signature =       <input style="width:600px;"  type="text" name="signature" value="1056104561065105610123"> <br/>

device Id=        <input style="width:600px;"  type="text" name="deviceId" value="HTCSENSE894363100AABB"> <br/>

device Name=        <input style="width:600px;"  type="text" name="deviceName" value="HTC Sense, GTC3"> <br/>

email =       <input style="width:600px;"  type="text" name="email" value="test.mobile.10@yopmail.com"> <br/>

sysoper=        <input style="width:600px;"  type="text" name="sysOper" value="Android Jelly Beans 4.2.3"> <br/>





<input style="width:600px;"  type="submit" value="Enviar">
</form>