 <form method="POST" action="http://abaenglish-local/wspostaba/paypal">

<!--<form method="POST" action="http://prod2.abaenglish.com/wspostaba/paypal">-->

$item_name =       <input style="width:600px;"  type="text" name="item_name" value="item_name"> <br/>

$address_city =       <input style="width:600px;"  type="text" name="address_city" value="address_city"> <br/>
$address_country =       <input style="width:600px;"  type="text" name="address_country" value="address_country"> <br/> 
$address_state =       <input style="width:600px;"  type="text" name="address_state" value="address_state"> <br/> 
$address_status =       <input style="width:600px;"  type="text" name="address_status" value="address_status"> <br/> 
$address_street =       <input style="width:600px;"  type="text" name="address_street" value="address_street"> <br/> 
$address_zip =       <input style="width:600px;"  type="text" name="address_zip" value="address_zip"> <br/> 
**$amount =       <input style="width:600px;"  type="text" name="amount" value="amount"> <br/>
$amount_per_cycle =       <input style="width:600px;"  type="text" name="amount_per_cycle" value="amount_per_cycle"> <br/> 

$amount1 =       <input style="width:600px;"  type="text" name="amount1" value="35.99"> <br/>

$amount2 =       <input style="width:600px;"  type="text" name="amount2" value="amount2"> <br/>
$amount3 =       <input style="width:600px;"  type="text" name="amount3" value="amount3"> <br/> 
$auction_buyer_id  =       <input style="width:600px;"  type="text" name="auction_buyer_id" value="auction_buyer_id"> <br/> 
$auction_closing_date  =       <input style="width:600px;"  type="text" name="auction_closing_date" value="auction_closing_date"> <br/> 
$auction_multi_item  =       <input style="width:600px;"  type="text" name="auction_multi_item" value="auction_multi_item"> <br/> 
$business =       <input style="width:600px;"  type="text" name="business" value="business"> <br/> 
**$currency_code =       <input style="width:600px;"  type="text" name="currency_code" value="EUR"> <br/>

**$custom =       <input style="width:600px;"  type="text" name="custom" value="usernamePP=apu@yopmail.com&producto=PREMIUM0120"> <br/>
$exchange_rate =       <input style="width:600px;"  type="text" name="exchange_rate" value="1.00"> <br/>
$first_name =       <input style="width:600px;"  type="text" name="first_name" value="QuinoTestAba"> <br/>

$for_auction =       <input style="width:600px;"  type="text" name="for_auction" value="for_auction"> <br/> 
$for_auction =       <input style="width:600px;"  type="text" name="for_auction" value="for_auction"> <br/> 

$initial_payment_amount =       <input style="width:600px;"  type="text" name="initial_payment_amount" value="33.47"> <br/>

**$invoice =       <input style="width:600px;"  type="text" name="invoice" value="invoice"> <br/>
$item_number =       <input style="width:600px;"  type="text" name="item_number" value="item_number"> <br/> 
$item_number =       <input style="width:600px;"  type="text" name="item_number" value="item_number"> <br/> 

    $last_name =       <input style="width:600px;"  type="text" name="last_name" value="ForcadaAba"> <br/>

$mc_amount1 =       <input style="width:600px;"  type="text" name="mc_amount1" value="mc_amount1"> <br/>
$mc_amount2 =       <input style="width:600px;"  type="text" name="mc_amount2" value="mc_amount2"> <br/> 
$mc_amount3 =       <input style="width:600px;"  type="text" name="mc_amount3" value="mc_amount3"> <br/> 
$payment_currency =       <input style="width:600px;"  type="text" name="mc_currency" value="EUR"> <br/>

    $mc_currency =       <input style="width:600px;"  type="text" name="mc_currency" value="EUR"> <br/>

$mc_fee =       <input style="width:600px;"  type="text" name="mc_fee" value="mc_fee"> <br/>
$mc_gross =       <input style="width:600px;"  type="text" name="mc_gross" value="mc_gross"> <br/> 
$memo =       <input style="width:600px;"  type="text" name="memo" value="memo"> <br/> 
$next_payment_date =       <input style="width:600px;"  type="text" name="next_payment_date" value="next_payment_date"> <br/> 
$notify_version =       <input style="width:600px;"  type="text" name="notify_version" value="notify_version"> <br/> 
$num_cart_items =       <input style="width:600px;"  type="text" name="num_cart_items" value="num_cart_items"> <br/> 
$option_name1 =       <input style="width:600px;"  type="text" name="option_name1" value="option_name1"> <br/> 
$option_name2 =       <input style="width:600px;"  type="text" name="option_name2" value="option_name2"> <br/> 
$option_selection1 =       <input style="width:600px;"  type="text" name="option_selection1" value="option_selection1"> <br/> 
$option_selection2 =       <input style="width:600px;"  type="text" name="option_selection2" value="option_selection2"> <br/> 
$outstanding_balance =       <input style="width:600px;"  type="text" name="outstanding_balance" value="outstanding_balance"> <br/> 
$parent_txn_id  =       <input style="width:600px;"  type="text" name="parent_txn_id" value="parent_txn_id"> <br/> 
$password =       <input style="width:600px;"  type="text" name="password" value="password"> <br/> 
$payer_business_name =       <input style="width:600px;"  type="text" name="payer_business_name" value="payer_business_name"> <br/> 

$payer_email =       <input style="width:600px;"  type="text" name="payer_email" value="jforcada125616516@abaenglish.com"> <br/>

$payer_id =       <input style="width:600px;"  type="text" name="payer_id" value="jforcada125616516"> <br/>

$payer_status =       <input style="width:600px;"  type="text" name="payer_status" value="payer_status"> <br/>
$payment_cycle =       <input style="width:600px;"  type="text" name="payment_cycle" value="payment_cycle"> <br/> 
$payment_date =       <input style="width:600px;"  type="text" name="payment_date" value="payment_date"> <br/> 
$payment_fee =       <input style="width:600px;"  type="text" name="payment_fee" value="payment_fee"> <br/> 
$payment_gross =       <input style="width:600px;"  type="text" name="payment_gross" value="payment_gross"> <br/> 

**$payment_status =       <input style="width:600px;"  type="text" name="payment_status" value="Completed"> <br/>
**$payment_type =       <input style="width:600px;"  type="text" name="payment_type" value="payment_type"> <br/>
$pending_reason =       <input style="width:600px;"  type="text" name="pending_reason" value="pending_reason"> <br/> 
$period_type =       <input style="width:600px;"  type="text" name="period_type" value="period_type"> <br/> 
$period1 =       <input style="width:600px;"  type="text" name="period1" value="period1"> <br/> 
$period2 =       <input style="width:600px;"  type="text" name="period2" value="period2"> <br/> 
$period3 =       <input style="width:600px;"  type="text" name="period3" value="period3"> <br/> 
$product_name =       <input style="width:600px;"  type="text" name="product_name" value="product_name"> <br/> 
$product_type =       <input style="width:600px;"  type="text" name="product_type" value="product_type"> <br/> 
$profile_status =       <input style="width:600px;"  type="text" name="profile_status" value="profile_status"> <br/> 
$quantity =       <input style="width:600px;"  type="text" name="quantity" value="quantity"> <br/> 
$reason_code =       <input style="width:600px;"  type="text" name="reason_code" value="reason_code"> <br/> 
$reattempt =       <input style="width:600px;"  type="text" name="reattempt" value="reattempt"> <br/>

$receiver_email =       <input style="width:600px;"  type="text" name="receiver_email" value="jforca_1352392208_per@abaenglish.com"> <br/>

$receiver_id =       <input style="width:600px;"  type="text" name="receiver_id" value="receiver_id"> <br/>
$recur_times =       <input style="width:600px;"  type="text" name="recur_times" value="recur_times"> <br/> 
$recurring =       <input style="width:600px;"  type="text" name="recurring" value="recurring"> <br/> 
$recurring_payment_id =       <input style="width:600px;"  type="text" name="recurring_payment_id" value="recurring_payment_id"> <br/> 
$retry_at =       <input style="width:600px;"  type="text" name="retry_at" value="retry_at"> <br/> 
**$rp_invoice_id =       <input style="width:600px;"  type="text" name="rp_invoice_id" value="rp_invoice_id"> <br/>
$settle_amount =       <input style="width:600px;"  type="text" name="settle_amount" value="settle_amount"> <br/> 
$settle_currency  =       <input style="width:600px;"  type="text" name="settle_currency" value="settle_currency"> <br/> 
$subscr_date =       <input style="width:600px;"  type="text" name="subscr_date" value="subscr_date"> <br/> 
$subscr_effective  =       <input style="width:600px;"  type="text" name="subscr_effective" value="subscr_effective"> <br/> 

    $subscr_id =       <input style="width:600px;"  type="text" name="subscr_id" value="I-XBCV2U6APT47"> <br/>

$tax =       <input style="width:600px;"  type="text" name="tax" value="tax"> <br/>
$time_created =       <input style="width:600px;"  type="text" name="time_created" value="time_created"> <br/> 
$txn_id =       <input style="width:600px;"  type="text" name="txn_id" value="txn_id"> <br/> 

**$txn_type =       <input style="width:600px;"  type="text" name="txn_type" value="recurring_payment"> <br/>

$username =       <input style="width:600px;"  type="text" name="username" value="jforcada@abaenglish.com"> <br/>

$verify_sign =       <input style="width:600px;"  type="text" name="verify_sign" value="verify_sign"> <br/>

<input style="width:600px;"  type="submit" value="Enviar">
</form>