
* $_POST['currency']<br />
* $_POST['value']<br />
* $_POST['eventCode']<br />
* $_POST['eventDate']<br />
* $_POST['merchantAccountCode']<br />
* $_POST['merchantReference']<br />
* $_POST['originalReference']<br />
* $_POST['pspReference']<br />
* $_POST['reason']<br />
* $_POST['success']<br />
* $_POST['paymentMethod']<br />
* $_POST['operations']<br />
* $_POST['additionalData']<br /><br />
* $_POST['live']<br /><br />

 + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + +<br /><br />

<form method="POST" action="http://campus.dev.abaenglish.com/wspostaba/sendnotification">
<!--<form method="POST" action="http://campus-stage.abaenglish.com/wspostaba/sendnotification">-->

     currency =             <input style="width:600px;" type="text" name="currency" id="currency" value="USD"><br />
     value =                <input style="width:600px;" type="text" name="value" id="value" value="35900"><br />
     eventCode =            <input style="width:600px;" type="text" name="eventCode" id="eventCode" value="AUTHORISATION"><br />
     eventDate =            <input style="width:600px;" type="text" name="eventDate" id="eventDate" value="2015-03-19 00:00:00"><br />
     merchantAccountCode =  <input style="width:600px;" type="text" name="merchantAccountCode" id="merchantAccountCode" value="TestMerchant"><br />
     merchantReference =    <input style="width:600px;" type="text" name="merchantReference" id="merchantReference" value="TestMerchantReference"><br />
     originalReference =    <input style="width:600px;" type="text" name="originalReference" id="originalReference" value="true"><br />
     pspReference =         <input style="width:600px;" type="text" name="pspReference" id="pspReference" value="7914266818738823"> /* DEVELOPMENT */ // 7914266777456938, 8514266773984844  /* STAGE */ // 7914262679797164<br />
     reason =               <input style="width:600px;" type="text" name="reason" id="reason" value="01234:1111:12/2012"><br />
     success =              <input style="width:600px;" type="text" name="success" id="success" value="true"><br />
     paymentMethod =        <input style="width:600px;" type="text" name="paymentMethod" id="paymentMethod" value="visa"><br />
     operations =           <input style="width:600px;" type="text" name="operations[]" id="operations[][0]" value='CANCEL'><br />
     operations =           <input style="width:600px;" type="text" name="operations[]" id="operations[][1]" value='CAPTURE'><br />
     operations =           <input style="width:600px;" type="text" name="operations[]" id="operations[][2]" value='REFUND'><br />
     additionalData =       <input style="width:600px;" type="text" name="additionalData[]" id="additionalData[][0]" value="a saber..."><br /><br />
     live =                 <input style="width:600px;" type="text" name="live" id="live" value="true"><br />

    <input style="width:600px;"  type="submit" value="Enviar">

 </form><br /><br />

+ + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + +<br /><br />

<form method="POST" action="http://campus.dev.abaenglish.com/wspostaba/sendnotification">
<!--<form method="POST" action="http://campus-stage.abaenglish.com/wspostaba/sendnotification">-->
     currency =             <input style="width:600px;" type="text" name="currency" id="currency" value="USD"><br />
     value =                <input style="width:600px;" type="text" name="value" id="value" value="0"><br />
     eventCode =            <input style="width:600px;" type="text" name="eventCode" id="eventCode" value="REPORT_AVAILABLE"><br />
     eventDate =            <input style="width:600px;" type="text" name="eventDate" id="eventDate" value="2015-03-19 00:00:00"><br />
     merchantAccountCode =  <input style="width:600px;" type="text" name="merchantAccountCode" id="merchantAccountCode" value="TestMerchant"><br />
     merchantReference =    <input style="width:600px;" type="text" name="merchantReference" id="merchantReference" value="TestMerchantReference"><br />
     originalReference =    <input style="width:600px;" type="text" name="originalReference" id="originalReference" value="true"><br />
     pspReference =         <input style="width:600px;" type="text" name="pspReference" id="pspReference" value="received_payments_report_2015_03_17.csv">
     reason =               <input style="width:600px;" type="text" name="reason" id="reason" value="https://ca-live.adyen.com/reports/download/MerchantAccount/TestMerchant/received_payments_report_2015_03_17.csv"><br />
     success =              <input style="width:600px;" type="text" name="success" id="success" value="true"><br />
     paymentMethod =        <input style="width:600px;" type="text" name="paymentMethod" id="paymentMethod" value=""><br />
     operations =           <input style="width:600px;" type="text" name="operations[]" id="operations[]" value=""><br />
     live =                 <input style="width:600px;" type="text" name="live" id="live" value="true"><br />

     <input style="width:600px;"  type="submit" value="Enviar">

 </form><br /><br />

+ + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + +<br /><br />



