@import 'bourbon';
@import 'shared/app';
@import 'shared/fonts';
@import 'shared/mixins';
@import 'shared/general';

$border: #c7c7c7 solid 1px;
$error-color: #850000;
$success-color: #3c763d;

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  margin: 0 0 70px;
  padding: 0 40px;
}

.text-center { text-align: center; }

html,
body {
  color: $blue-black;
  font-family: 'MuseoSans500Regular', Arial, sans-serif;
}

h1 {
  font-family: 'MuseoSlab700Regular', Arial, sans-serif;
  font-size: 24px;
}

.sub-header {
  line-height: 1.6;
  margin: 20px 0 30px;
}

strong {
  font-family: "MuseoSansBold", Arial, sans-serif;
  font-weight: normal;
}

header {
  border-bottom: $border;
  height: 120px;
  padding: 20px 0;

  .logo {
    height: 100%;
  }
}

footer {
  $footer-height: 50px;
  border-top: $border;
  bottom: 0;
  font-size: 11px;
  height: $footer-height;
  left: 40px;
  position: absolute;
  right: 40px;

  .footer-nav {
    list-style: none;
    margin: 0;
    padding: 17px 0;
    text-align: right;

    li {
      border-right: solid 1px $blue-black;
      display: inline-block;
      line-height: 1;
      padding: 0 7px 0 5px;

      &:last-child { border: 0; }

      a { color: $blue-black; }
    }
  }
}

.page-wrap {
  margin-bottom: -51px;
  min-height: 100%;

  &:after {
    content: '';
    display: block;
  }
}

.password-container {
  font-size: 14px;
  margin: 45px auto 0;
  width: 450px;
}

.form-group {
  margin-bottom: 23px;
  position: relative;

  input[type="text"],
  input[type="password"] {
    border: solid 1px #c7c7c7;
    color: #7b7b7b;
    font-family: 'MuseoSans500Regular', Arial, sans-serif;
    font-size: 14px;
    padding-left: 10px;
  }

  input[type="text"] {
    background: url('../img/icons/icon-envelope.png') 10px center no-repeat;
    padding-left: 35px;
  }

  label {
    display: block;
    font-family: 'MuseoSansBold', Arial, sans-serif;
    line-height: 30px;
  }

  input {
    line-height: 30px;
    width: 100%;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

    &:focus {
      border-color: #66afe9;
      outline: 0;
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
    }
    
    &.error {
      border: solid 1px $error-color;
    }
  }

  .btn {
    @include background-image(linear-gradient(top, rgba(4, 192, 230, 1) 0%, rgba(3, 141, 210, 1) 100%));
    background-color: rgba(4, 192, 230, 1);
    border: 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: 'MuseoSansBold', Arial, sans-serif;
    font-size: 12px;
    height: 34px;
    line-height: 34px;
    min-width: 160px;
    padding: 0 20px;
    text-align: center;
    text-transform: uppercase;
    width: auto;
  }

  .error-explanation {
    bottom: -16px;
    color: $error-color;
    font-size: 11px;
    left: 0;
    margin-top: 3px;
    position: absolute;
  }
}

.submit-block {
  margin-top: 20px;
  text-align: right;
}

.alert {
  font-size: 14px;
  line-height: 1.6;
  margin: 15px 0;
  padding: 15px;

  &.alert-error {
    background-color: #fff1f1;
    border: solid 1px $error-color;
    color: $error-color;
  }

  &.alert-success {
    background-color: #dff0d8;
    border: solid 1px $success-color;
    color: $success-color;
  }
}


@media only screen
and (min-width : 320px)
and (max-width : 736px) {
  body {
    padding: 0 15px;
  }

  header {
    height: 90px;
  }

  .password-container {
    margin: 45px auto 0;
    width: 100%;
  }

  .submit-block {
    margin-top: 20px;
    text-align: center;

    .btn { width: 100%; }
  }

  footer {
    left: 15px;
    right: 15px;

    .footer-nav {
      text-align: center;
    }
  }
}
