@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("/themes/ABAenglish/assets/lib/bootstrap/fonts/glyphicons-halflings-regular.eot");
  src: url("/themes/ABAenglish/assets/lib/bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("/themes/ABAenglish/assets/lib/bootstrap/fonts/glyphicons-halflings-regular.woff2") format("woff2"), url("/themes/ABAenglish/assets/lib/bootstrap/fonts/glyphicons-halflings-regular.woff") format("woff"), url("/themes/ABAenglish/assets/lib/bootstrap/fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("/themes/ABAenglish/assets/lib/bootstrap/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg"); }

[class^="icon-social-"],
[class*=" icon-social-"], [class^="icon-aba-"],
[class*=" icon-aba-"] {
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: none; }

@font-face {
  font-family: 'social-icons';
  src: url("/themes/ABAenglish/assets/img/icons/social-icons.eot?3favgm");
  src: url("/themes/ABAenglish/assets/img/icons/social-icons.eot?#iefix3favgm") format("embedded-opentype"), url("/themes/ABAenglish/assets/img/icons/social-icons.woff?3favgm") format("woff"), url("/themes/ABAenglish/assets/img/icons/social-icons.ttf?3favgm") format("truetype"), url("/themes/ABAenglish/assets/img/icons/social-icons.svg?3favgm#social-icons") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'aba-icons';
  src: url("/themes/ABAenglish/assets/img/icons/aba-icons.eot?-3ey8qj");
  src: url("/themes/ABAenglish/assets/img/icons/aba-icons.eot?#iefix-3ey8qj") format("embedded-opentype"), url("/themes/ABAenglish/assets/img/icons/aba-icons.woff?-3ey8qj") format("woff"), url("/themes/ABAenglish/assets/img/icons/aba-icons.ttf?-3ey8qj") format("truetype"), url("/themes/ABAenglish/assets/img/icons/aba-icons.svg?-3ey8qj#aba-icons") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-social-"],
[class*=" icon-social-"] {
  font-family: 'social-icons', sans-serif; }

[class^="icon-aba-"],
[class*=" icon-aba-"] {
  font-family: 'aba-icons', sans-serif; }

.icon-aba-users:before {
  content: '\e600'; }

.icon-aba-certificate:before {
  content: '\e601'; }

.icon-aba-certificate2:before {
  content: '\e602'; }

.icon-aba-certificate3:before {
  content: '\e603'; }

.icon-aba-check:before {
  content: '\e604'; }

.icon-aba-email:before {
  content: '\e605'; }

.icon-aba-font-size:before {
  content: '\e606'; }

.icon-aba-help:before {
  content: '\e607'; }

.icon-aba-multi-files:before {
  content: '\e608'; }

.icon-aba-pencil:before {
  content: '\e609'; }

.icon-aba-smartphone:before {
  content: '\e60a'; }

.icon-aba-speech-bubble:before {
  content: '\e60b'; }

.icon-aba-star:before {
  content: '\e60c'; }

.icon-aba-user:before {
  content: '\e60d'; }

.icon-aba-video:before {
  content: '\e60e'; }

.icon-aba-video-camera:before {
  content: '\e60f'; }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(//themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format("woff"); }

@font-face {
  font-family: "MuseoSans500Regular";
  font-style: normal;
  font-weight: normal;
  src: url("/themes/ABAenglish/assets/fonts/MuseoSans500Regular.eot");
  src: url("/themes/ABAenglish/assets/fonts/MuseoSans500Regular.eot?#iefix") format("embedded-opentype"), url("/themes/ABAenglish/assets/fonts/MuseoSans500Regular.woff") format("woff"), url("/themes/ABAenglish/assets/fonts/MuseoSans500Regular.ttf") format("truetype"); }

@font-face {
  font-family: "MuseoSansBold";
  font-style: normal;
  font-weight: normal;
  src: url("/themes/ABAenglish/assets/fonts/MuseoSansBold.eot");
  src: url("/themes/ABAenglish/assets/fonts/MuseoSansBold.eot?#iefix") format("embedded-opentype"), url("/themes/ABAenglish/assets/fonts/MuseoSansBold.woff") format("woff"), url("/themes/ABAenglish/assets/fonts/MuseoSansBold.ttf") format("truetype"); }

@font-face {
  font-family: "MuseoSlab500";
  font-style: normal;
  font-weight: normal;
  src: url("/themes/ABAenglish/assets/fonts/MuseoSlab500.eot");
  src: url("/themes/ABAenglish/assets/fonts/MuseoSlab500.eot?#iefix") format("embedded-opentype"), url("/themes/ABAenglish/assets/fonts/MuseoSlab500.woff") format("woff"), url("/themes/ABAenglish/assets/fonts/MuseoSlab500.ttf") format("truetype"); }

@font-face {
  font-family: "MuseoSlab700Regular";
  font-style: normal;
  font-weight: normal;
  src: url("/themes/ABAenglish/assets/fonts/MuseoSlab700Regular.eot");
  src: url("/themes/ABAenglish/assets/fonts/MuseoSlab700Regular.eot?#iefix") format("embedded-opentype"), url("/themes/ABAenglish/assets/fonts/MuseoSlab700Regular.woff") format("woff"), url("/themes/ABAenglish/assets/fonts/MuseoSlab700Regular.ttf") format("truetype"); }

@font-face {
  font-family: "MuseoSlab900Regular";
  font-style: normal;
  font-weight: normal;
  src: url("/themes/ABAenglish/assets/fonts/MuseoSlab900Regular.eot");
  src: url("/themes/ABAenglish/assets/fonts/MuseoSlab900Regular.eot?#iefix") format("embedded-opentype"), url("/themes/ABAenglish/assets/fonts/MuseoSlab900Regular.woff") format("woff"), url("/themes/ABAenglish/assets/fonts/MuseoSlab900Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("/themes/ABAenglish/assets/lib/bootstrap/fonts/glyphicons-halflings-regular.eot");
  src: url("/themes/ABAenglish/assets/lib/bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("/themes/ABAenglish/assets/lib/bootstrap/fonts/glyphicons-halflings-regular.woff2") format("woff2"), url("/themes/ABAenglish/assets/lib/bootstrap/fonts/glyphicons-halflings-regular.woff") format("woff"), url("/themes/ABAenglish/assets/lib/bootstrap/fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("/themes/ABAenglish/assets/lib/bootstrap/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg"); }

[class^="icon-social-"],
[class*=" icon-social-"], [class^="icon-aba-"],
[class*=" icon-aba-"] {
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: none; }

@font-face {
  font-family: 'social-icons';
  src: url("/themes/ABAenglish/assets/img/icons/social-icons.eot?3favgm");
  src: url("/themes/ABAenglish/assets/img/icons/social-icons.eot?#iefix3favgm") format("embedded-opentype"), url("/themes/ABAenglish/assets/img/icons/social-icons.woff?3favgm") format("woff"), url("/themes/ABAenglish/assets/img/icons/social-icons.ttf?3favgm") format("truetype"), url("/themes/ABAenglish/assets/img/icons/social-icons.svg?3favgm#social-icons") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'aba-icons';
  src: url("/themes/ABAenglish/assets/img/icons/aba-icons.eot?-3ey8qj");
  src: url("/themes/ABAenglish/assets/img/icons/aba-icons.eot?#iefix-3ey8qj") format("embedded-opentype"), url("/themes/ABAenglish/assets/img/icons/aba-icons.woff?-3ey8qj") format("woff"), url("/themes/ABAenglish/assets/img/icons/aba-icons.ttf?-3ey8qj") format("truetype"), url("/themes/ABAenglish/assets/img/icons/aba-icons.svg?-3ey8qj#aba-icons") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-social-"],
[class*=" icon-social-"] {
  font-family: 'social-icons', sans-serif; }

[class^="icon-aba-"],
[class*=" icon-aba-"] {
  font-family: 'aba-icons', sans-serif; }

.icon-aba-users:before {
  content: '\e600'; }

.icon-aba-certificate:before {
  content: '\e601'; }

.icon-aba-certificate2:before {
  content: '\e602'; }

.icon-aba-certificate3:before {
  content: '\e603'; }

.icon-aba-check:before {
  content: '\e604'; }

.icon-aba-email:before {
  content: '\e605'; }

.icon-aba-font-size:before {
  content: '\e606'; }

.icon-aba-help:before {
  content: '\e607'; }

.icon-aba-multi-files:before {
  content: '\e608'; }

.icon-aba-pencil:before {
  content: '\e609'; }

.icon-aba-smartphone:before {
  content: '\e60a'; }

.icon-aba-speech-bubble:before {
  content: '\e60b'; }

.icon-aba-star:before {
  content: '\e60c'; }

.icon-aba-user:before {
  content: '\e60d'; }

.icon-aba-video:before {
  content: '\e60e'; }

.icon-aba-video-camera:before {
  content: '\e60f'; }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(//themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format("woff"); }

@font-face {
  font-family: "MuseoSans500Regular";
  font-style: normal;
  font-weight: normal;
  src: url("/themes/ABAenglish/assets/fonts/MuseoSans500Regular.eot");
  src: url("/themes/ABAenglish/assets/fonts/MuseoSans500Regular.eot?#iefix") format("embedded-opentype"), url("/themes/ABAenglish/assets/fonts/MuseoSans500Regular.woff") format("woff"), url("/themes/ABAenglish/assets/fonts/MuseoSans500Regular.ttf") format("truetype"); }

@font-face {
  font-family: "MuseoSansBold";
  font-style: normal;
  font-weight: normal;
  src: url("/themes/ABAenglish/assets/fonts/MuseoSansBold.eot");
  src: url("/themes/ABAenglish/assets/fonts/MuseoSansBold.eot?#iefix") format("embedded-opentype"), url("/themes/ABAenglish/assets/fonts/MuseoSansBold.woff") format("woff"), url("/themes/ABAenglish/assets/fonts/MuseoSansBold.ttf") format("truetype"); }

@font-face {
  font-family: "MuseoSlab500";
  font-style: normal;
  font-weight: normal;
  src: url("/themes/ABAenglish/assets/fonts/MuseoSlab500.eot");
  src: url("/themes/ABAenglish/assets/fonts/MuseoSlab500.eot?#iefix") format("embedded-opentype"), url("/themes/ABAenglish/assets/fonts/MuseoSlab500.woff") format("woff"), url("/themes/ABAenglish/assets/fonts/MuseoSlab500.ttf") format("truetype"); }

@font-face {
  font-family: "MuseoSlab700Regular";
  font-style: normal;
  font-weight: normal;
  src: url("/themes/ABAenglish/assets/fonts/MuseoSlab700Regular.eot");
  src: url("/themes/ABAenglish/assets/fonts/MuseoSlab700Regular.eot?#iefix") format("embedded-opentype"), url("/themes/ABAenglish/assets/fonts/MuseoSlab700Regular.woff") format("woff"), url("/themes/ABAenglish/assets/fonts/MuseoSlab700Regular.ttf") format("truetype"); }

@font-face {
  font-family: "MuseoSlab900Regular";
  font-style: normal;
  font-weight: normal;
  src: url("/themes/ABAenglish/assets/fonts/MuseoSlab900Regular.eot");
  src: url("/themes/ABAenglish/assets/fonts/MuseoSlab900Regular.eot?#iefix") format("embedded-opentype"), url("/themes/ABAenglish/assets/fonts/MuseoSlab900Regular.woff") format("woff"), url("/themes/ABAenglish/assets/fonts/MuseoSlab900Regular.ttf") format("truetype"); }

a,
a:hover,
a:focus,
a:active {
  text-decoration: none; }

h1,
h2,
h3,
h4 {
  font-family: "MuseoSlab500", "Helvetica Neue", "Arial", sans-serif;
  font-size: inherit;
  font-style: normal;
  font-weight: normal;
  line-height: 1.1; }
  h1 strong,
  h2 strong,
  h3 strong,
  h4 strong {
    font-family: "MuseoSlab700Regular", "Helvetica Neue", "Arial", sans-serif;
    font-size: inherit;
    font-style: normal;
    font-weight: normal;
    line-height: 1.1; }

.title-inline {
  display: inline-block;
  margin: 0; }

.ab-appstore-btn {
  font-family: "Myriad Pro", "Helvetica Neue", "Arial", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.05;
  background: #000;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  padding: 7px 10px;
  text-align: center;
  width: 230px; }
  .ab-appstore-btn:hover, .ab-appstore-btn:focus {
    color: #fff; }
    .ab-appstore-btn:hover span, .ab-appstore-btn:focus span {
      color: #fff; }
  .ab-appstore-btn span {
    background-image: url("/themes/ABAenglish/assets/img/apple_logo.png");
    background-repeat: no-repeat;
    display: inline-block;
    padding-left: 42px;
    text-align: left; }
    @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
      .ab-appstore-btn span {
        background-image: url("/themes/ABAenglish/assets/img/apple_logo_2x.png");
        background-size: 32px 32px; } }
    .ab-appstore-btn span i {
      display: block;
      font-size: 22px;
      font-style: normal;
      font-weight: 500; }

.cup {
  cursor: pointer; }

.red {
  color: #9c0034; }

.orange {
  color: #e16201; }

.blue {
  color: #07bae4; }

.ab-error-page {
  position: relative;
  padding: 10px;
  height: 100%;
  text-align: center; }
  .ab-error-page h1 {
    font-family: "MuseoSlab700Regular", "Helvetica Neue", "Arial", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: normal;
    line-height: 44px;
    margin-bottom: 0; }
  .ab-error-page p {
    font-family: "MuseoSans500Regular", "Helvetica Neue", "Arial", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 44px; }
  .ab-error-page .ab-error-page-btn {
    display: inline-block;
    margin-top: 15px;
    padding: 0 10px;
    height: 40px;
    min-width: 105px;
    background-color: #fcfcfc;
    color: #384049;
    border-radius: 5px;
    font-family: "MuseoSans500Regular", "Helvetica Neue", "Arial", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 44px;
    background-color: #fcfcfc;
    background-image: -webkit-linear-gradient(top, #fcfcfc 0%, #dedede 100%);
    background-image: linear-gradient(to bottom,#fcfcfc 0%, #dedede 100%); }

* {
  box-sizing: border-box;
  margin: 0; }

html {
  min-height: 100%;
  position: relative; }

body {
  margin: 0 0 70px;
  padding: 0 40px; }

.text-center {
  text-align: center; }

html,
body {
  color: #384049;
  font-family: 'MuseoSans500Regular', Arial, sans-serif; }

h1 {
  font-family: 'MuseoSlab700Regular', Arial, sans-serif;
  font-size: 24px; }

.sub-header {
  line-height: 1.6;
  margin: 20px 0 30px; }

strong {
  font-family: "MuseoSansBold", Arial, sans-serif;
  font-weight: normal; }

header {
  border-bottom: #c7c7c7 solid 1px;
  height: 120px;
  padding: 20px 0; }
  header .logo {
    height: 100%; }

footer {
  border-top: #c7c7c7 solid 1px;
  bottom: 0;
  font-size: 11px;
  height: 50px;
  left: 40px;
  position: absolute;
  right: 40px; }
  footer .footer-nav {
    list-style: none;
    margin: 0;
    padding: 17px 0;
    text-align: right; }
    footer .footer-nav li {
      border-right: solid 1px #384049;
      display: inline-block;
      line-height: 1;
      padding: 0 7px 0 5px; }
      footer .footer-nav li:last-child {
        border: 0; }
      footer .footer-nav li a {
        color: #384049; }

.page-wrap {
  margin-bottom: -51px;
  min-height: 100%; }
  .page-wrap:after {
    content: '';
    display: block; }

.password-container {
  font-size: 14px;
  margin: 45px auto 0;
  width: 450px; }

.form-group {
  margin-bottom: 23px;
  position: relative; }
  .form-group input[type="text"],
  .form-group input[type="password"] {
    border: solid 1px #c7c7c7;
    color: #7b7b7b;
    font-family: 'MuseoSans500Regular', Arial, sans-serif;
    font-size: 14px;
    padding-left: 10px; }
  .form-group input[type="text"] {
    background: url("../img/icons/icon-envelope.png") 10px center no-repeat;
    padding-left: 35px; }
  .form-group label {
    display: block;
    font-family: 'MuseoSansBold', Arial, sans-serif;
    line-height: 30px; }
  .form-group input {
    line-height: 30px;
    width: 100%;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; }
    .form-group input:focus {
      border-color: #66afe9;
      outline: 0;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); }
    .form-group input.error {
      border: solid 1px #850000; }
  .form-group .btn {
    background-image: -webkit-linear-gradient(top, #04c0e6 0%, #038dd2 100%);
    background-image: linear-gradient(to bottom, #04c0e6 0%, #038dd2 100%);
    background-color: #04c0e6;
    border: 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: 'MuseoSansBold', Arial, sans-serif;
    font-size: 12px;
    height: 34px;
    line-height: 34px;
    min-width: 160px;
    padding: 0 20px;
    text-align: center;
    text-transform: uppercase;
    width: auto; }
  .form-group .error-explanation {
    bottom: -16px;
    color: #850000;
    font-size: 11px;
    left: 0;
    margin-top: 3px;
    position: absolute; }

.submit-block {
  margin-top: 20px;
  text-align: right; }

.alert {
  font-size: 14px;
  line-height: 1.6;
  margin: 15px 0;
  padding: 15px; }
  .alert.alert-error {
    background-color: #fff1f1;
    border: solid 1px #850000;
    color: #850000; }
  .alert.alert-success {
    background-color: #dff0d8;
    border: solid 1px #3c763d;
    color: #3c763d; }

@media only screen and (min-width: 320px) and (max-width: 736px) {
  body {
    padding: 0 15px; }
  header {
    height: 90px; }
  .password-container {
    margin: 45px auto 0;
    width: 100%; }
  .submit-block {
    margin-top: 20px;
    text-align: center; }
    .submit-block .btn {
      width: 100%; }
  footer {
    left: 15px;
    right: 15px; }
    footer .footer-nav {
      text-align: center; } }
