.aba-loading {
  display: table;
  width: 100%; }
  @media only screen and (min-width: 992px) {
    .aba-loading {
      min-height: 320px; } }
  .aba-loading .loading-container {
    display: table-cell;
    text-align: center;
    vertical-align: middle; }
    .aba-loading .loading-container .loading-spinner {
      background: none;
      height: 200px;
      margin: auto;
      position: relative;
      transform: scale(0.2);
      width: 200px; }
      .aba-loading .loading-container .loading-spinner div {
        width: 100px;
        height: 100px;
        border-radius: 50px;
        position: absolute;
        top: 50px; }
        .aba-loading .loading-container .loading-spinner div:nth-of-type(1) {
          left: 0;
          background: #42505a;
          z-index: 5;
          animation: uil-flickr-anim1 1s linear infinite; }
        .aba-loading .loading-container .loading-spinner div:nth-of-type(2) {
          left: 100px;
          background: #07bbe4;
          animation: uil-flickr-anim2 1s linear infinite; }

@keyframes uil-flickr-anim1 {
  0% {
    left: 0; }
  50% {
    left: 100px; }
  100% {
    left: 0; } }

@keyframes uil-flickr-anim2 {
  0% {
    left: 100px;
    z-index: 1; }
  49% {
    z-index: 1; }
  50% {
    left: 0;
    z-index: 10; }
  100% {
    left: 100px;
    z-index: 10; } }

.badgeNotification {
  color: #ffffff;
  display: inline-block;
  border-radius: 50%;
  background-color: #de2c3c;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
  margin-left: 8px;
  text-align: center;
  width: 20px; }
