@import 'shared/loading';

$color-red: #de2c3c;
$color-white: #ffffff;

.badgeNotification {
  color: $color-white;
  display: inline-block;
  border-radius: 50%;
  background-color: $color-red;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
  margin-left: 8px;
  text-align: center;
  width: 20px;
}