@import "bourbon";
@import "shared/app";
@import "shared/fonts";
@import "shared/mixins";
@import "shared/general";

html, body {
  background: #313e47;
}

body {
  color: #fff;
  overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
}


.ab-mobile-splash {
  position: relative;
  padding: 20px 10px;
  @include align-items(stretch);
  @include display(flex);
  @include flex-direction(column);
  @include justify-content(center);

  h1 {
    margin-top: 0;
    font-size: 27px;
    line-height: 1.5;
  }

  img {
    display: inline-block;
  }

  p {
    @include font("MuseoSans500Regular", 17px);
    margin: 30px 0px;
  }
}

.ab-mobile-splash-btn {
  width: 45%;
  max-width: 150px;
  display: inline-block;
  margin-right: 15px;
  padding: 0 14px;
  height: 44px;
  background-color: rgba(252,252,252,1);
  color: $blue_black;
  @include font("MuseoSansBold", 17px, 44px);
  border-solid: #c0c0c0 1px solid;
  @include linear-gradient(top, rgba(252,252,252,1) 0%, rgba(222,222,222,1) 68%, rgba(222,222,222,1) 100%);
  border-radius: 5px;
  &:last-child { margin-right: 0; }
}