@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("/themes/ABAenglish/assets/lib/bootstrap/fonts/glyphicons-halflings-regular.eot");
  src: url("/themes/ABAenglish/assets/lib/bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("/themes/ABAenglish/assets/lib/bootstrap/fonts/glyphicons-halflings-regular.woff2") format("woff2"), url("/themes/ABAenglish/assets/lib/bootstrap/fonts/glyphicons-halflings-regular.woff") format("woff"), url("/themes/ABAenglish/assets/lib/bootstrap/fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("/themes/ABAenglish/assets/lib/bootstrap/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg"); }

[class^="icon-social-"],
[class*=" icon-social-"], [class^="icon-aba-"],
[class*=" icon-aba-"] {
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: none; }

@font-face {
  font-family: 'social-icons';
  src: url("/themes/ABAenglish/assets/img/icons/social-icons.eot?3favgm");
  src: url("/themes/ABAenglish/assets/img/icons/social-icons.eot?#iefix3favgm") format("embedded-opentype"), url("/themes/ABAenglish/assets/img/icons/social-icons.woff?3favgm") format("woff"), url("/themes/ABAenglish/assets/img/icons/social-icons.ttf?3favgm") format("truetype"), url("/themes/ABAenglish/assets/img/icons/social-icons.svg?3favgm#social-icons") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'aba-icons';
  src: url("/themes/ABAenglish/assets/img/icons/aba-icons.eot?-3ey8qj");
  src: url("/themes/ABAenglish/assets/img/icons/aba-icons.eot?#iefix-3ey8qj") format("embedded-opentype"), url("/themes/ABAenglish/assets/img/icons/aba-icons.woff?-3ey8qj") format("woff"), url("/themes/ABAenglish/assets/img/icons/aba-icons.ttf?-3ey8qj") format("truetype"), url("/themes/ABAenglish/assets/img/icons/aba-icons.svg?-3ey8qj#aba-icons") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-social-"],
[class*=" icon-social-"] {
  font-family: 'social-icons', sans-serif; }

[class^="icon-aba-"],
[class*=" icon-aba-"] {
  font-family: 'aba-icons', sans-serif; }

.icon-aba-users:before {
  content: '\e600'; }

.icon-aba-certificate:before {
  content: '\e601'; }

.icon-aba-certificate2:before {
  content: '\e602'; }

.icon-aba-certificate3:before {
  content: '\e603'; }

.icon-aba-check:before {
  content: '\e604'; }

.icon-aba-email:before {
  content: '\e605'; }

.icon-aba-font-size:before {
  content: '\e606'; }

.icon-aba-help:before {
  content: '\e607'; }

.icon-aba-multi-files:before {
  content: '\e608'; }

.icon-aba-pencil:before {
  content: '\e609'; }

.icon-aba-smartphone:before {
  content: '\e60a'; }

.icon-aba-speech-bubble:before {
  content: '\e60b'; }

.icon-aba-star:before {
  content: '\e60c'; }

.icon-aba-user:before {
  content: '\e60d'; }

.icon-aba-video:before {
  content: '\e60e'; }

.icon-aba-video-camera:before {
  content: '\e60f'; }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(//themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format("woff"); }

@font-face {
  font-family: "MuseoSans500Regular";
  font-style: normal;
  font-weight: normal;
  src: url("/themes/ABAenglish/assets/fonts/MuseoSans500Regular.eot");
  src: url("/themes/ABAenglish/assets/fonts/MuseoSans500Regular.eot?#iefix") format("embedded-opentype"), url("/themes/ABAenglish/assets/fonts/MuseoSans500Regular.woff") format("woff"), url("/themes/ABAenglish/assets/fonts/MuseoSans500Regular.ttf") format("truetype"); }

@font-face {
  font-family: "MuseoSansBold";
  font-style: normal;
  font-weight: normal;
  src: url("/themes/ABAenglish/assets/fonts/MuseoSansBold.eot");
  src: url("/themes/ABAenglish/assets/fonts/MuseoSansBold.eot?#iefix") format("embedded-opentype"), url("/themes/ABAenglish/assets/fonts/MuseoSansBold.woff") format("woff"), url("/themes/ABAenglish/assets/fonts/MuseoSansBold.ttf") format("truetype"); }

@font-face {
  font-family: "MuseoSlab500";
  font-style: normal;
  font-weight: normal;
  src: url("/themes/ABAenglish/assets/fonts/MuseoSlab500.eot");
  src: url("/themes/ABAenglish/assets/fonts/MuseoSlab500.eot?#iefix") format("embedded-opentype"), url("/themes/ABAenglish/assets/fonts/MuseoSlab500.woff") format("woff"), url("/themes/ABAenglish/assets/fonts/MuseoSlab500.ttf") format("truetype"); }

@font-face {
  font-family: "MuseoSlab700Regular";
  font-style: normal;
  font-weight: normal;
  src: url("/themes/ABAenglish/assets/fonts/MuseoSlab700Regular.eot");
  src: url("/themes/ABAenglish/assets/fonts/MuseoSlab700Regular.eot?#iefix") format("embedded-opentype"), url("/themes/ABAenglish/assets/fonts/MuseoSlab700Regular.woff") format("woff"), url("/themes/ABAenglish/assets/fonts/MuseoSlab700Regular.ttf") format("truetype"); }

@font-face {
  font-family: "MuseoSlab900Regular";
  font-style: normal;
  font-weight: normal;
  src: url("/themes/ABAenglish/assets/fonts/MuseoSlab900Regular.eot");
  src: url("/themes/ABAenglish/assets/fonts/MuseoSlab900Regular.eot?#iefix") format("embedded-opentype"), url("/themes/ABAenglish/assets/fonts/MuseoSlab900Regular.woff") format("woff"), url("/themes/ABAenglish/assets/fonts/MuseoSlab900Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("/themes/ABAenglish/assets/lib/bootstrap/fonts/glyphicons-halflings-regular.eot");
  src: url("/themes/ABAenglish/assets/lib/bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("/themes/ABAenglish/assets/lib/bootstrap/fonts/glyphicons-halflings-regular.woff2") format("woff2"), url("/themes/ABAenglish/assets/lib/bootstrap/fonts/glyphicons-halflings-regular.woff") format("woff"), url("/themes/ABAenglish/assets/lib/bootstrap/fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("/themes/ABAenglish/assets/lib/bootstrap/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg"); }

[class^="icon-social-"],
[class*=" icon-social-"], [class^="icon-aba-"],
[class*=" icon-aba-"] {
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: none; }

@font-face {
  font-family: 'social-icons';
  src: url("/themes/ABAenglish/assets/img/icons/social-icons.eot?3favgm");
  src: url("/themes/ABAenglish/assets/img/icons/social-icons.eot?#iefix3favgm") format("embedded-opentype"), url("/themes/ABAenglish/assets/img/icons/social-icons.woff?3favgm") format("woff"), url("/themes/ABAenglish/assets/img/icons/social-icons.ttf?3favgm") format("truetype"), url("/themes/ABAenglish/assets/img/icons/social-icons.svg?3favgm#social-icons") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'aba-icons';
  src: url("/themes/ABAenglish/assets/img/icons/aba-icons.eot?-3ey8qj");
  src: url("/themes/ABAenglish/assets/img/icons/aba-icons.eot?#iefix-3ey8qj") format("embedded-opentype"), url("/themes/ABAenglish/assets/img/icons/aba-icons.woff?-3ey8qj") format("woff"), url("/themes/ABAenglish/assets/img/icons/aba-icons.ttf?-3ey8qj") format("truetype"), url("/themes/ABAenglish/assets/img/icons/aba-icons.svg?-3ey8qj#aba-icons") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-social-"],
[class*=" icon-social-"] {
  font-family: 'social-icons', sans-serif; }

[class^="icon-aba-"],
[class*=" icon-aba-"] {
  font-family: 'aba-icons', sans-serif; }

.icon-aba-users:before {
  content: '\e600'; }

.icon-aba-certificate:before {
  content: '\e601'; }

.icon-aba-certificate2:before {
  content: '\e602'; }

.icon-aba-certificate3:before {
  content: '\e603'; }

.icon-aba-check:before {
  content: '\e604'; }

.icon-aba-email:before {
  content: '\e605'; }

.icon-aba-font-size:before {
  content: '\e606'; }

.icon-aba-help:before {
  content: '\e607'; }

.icon-aba-multi-files:before {
  content: '\e608'; }

.icon-aba-pencil:before {
  content: '\e609'; }

.icon-aba-smartphone:before {
  content: '\e60a'; }

.icon-aba-speech-bubble:before {
  content: '\e60b'; }

.icon-aba-star:before {
  content: '\e60c'; }

.icon-aba-user:before {
  content: '\e60d'; }

.icon-aba-video:before {
  content: '\e60e'; }

.icon-aba-video-camera:before {
  content: '\e60f'; }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(//themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format("woff"); }

@font-face {
  font-family: "MuseoSans500Regular";
  font-style: normal;
  font-weight: normal;
  src: url("/themes/ABAenglish/assets/fonts/MuseoSans500Regular.eot");
  src: url("/themes/ABAenglish/assets/fonts/MuseoSans500Regular.eot?#iefix") format("embedded-opentype"), url("/themes/ABAenglish/assets/fonts/MuseoSans500Regular.woff") format("woff"), url("/themes/ABAenglish/assets/fonts/MuseoSans500Regular.ttf") format("truetype"); }

@font-face {
  font-family: "MuseoSansBold";
  font-style: normal;
  font-weight: normal;
  src: url("/themes/ABAenglish/assets/fonts/MuseoSansBold.eot");
  src: url("/themes/ABAenglish/assets/fonts/MuseoSansBold.eot?#iefix") format("embedded-opentype"), url("/themes/ABAenglish/assets/fonts/MuseoSansBold.woff") format("woff"), url("/themes/ABAenglish/assets/fonts/MuseoSansBold.ttf") format("truetype"); }

@font-face {
  font-family: "MuseoSlab500";
  font-style: normal;
  font-weight: normal;
  src: url("/themes/ABAenglish/assets/fonts/MuseoSlab500.eot");
  src: url("/themes/ABAenglish/assets/fonts/MuseoSlab500.eot?#iefix") format("embedded-opentype"), url("/themes/ABAenglish/assets/fonts/MuseoSlab500.woff") format("woff"), url("/themes/ABAenglish/assets/fonts/MuseoSlab500.ttf") format("truetype"); }

@font-face {
  font-family: "MuseoSlab700Regular";
  font-style: normal;
  font-weight: normal;
  src: url("/themes/ABAenglish/assets/fonts/MuseoSlab700Regular.eot");
  src: url("/themes/ABAenglish/assets/fonts/MuseoSlab700Regular.eot?#iefix") format("embedded-opentype"), url("/themes/ABAenglish/assets/fonts/MuseoSlab700Regular.woff") format("woff"), url("/themes/ABAenglish/assets/fonts/MuseoSlab700Regular.ttf") format("truetype"); }

@font-face {
  font-family: "MuseoSlab900Regular";
  font-style: normal;
  font-weight: normal;
  src: url("/themes/ABAenglish/assets/fonts/MuseoSlab900Regular.eot");
  src: url("/themes/ABAenglish/assets/fonts/MuseoSlab900Regular.eot?#iefix") format("embedded-opentype"), url("/themes/ABAenglish/assets/fonts/MuseoSlab900Regular.woff") format("woff"), url("/themes/ABAenglish/assets/fonts/MuseoSlab900Regular.ttf") format("truetype"); }

a,
a:hover,
a:focus,
a:active {
  text-decoration: none; }

h1,
h2,
h3,
h4 {
  font-family: "MuseoSlab500", "Helvetica Neue", "Arial", sans-serif;
  font-size: inherit;
  font-style: normal;
  font-weight: normal;
  line-height: 1.1; }
  h1 strong,
  h2 strong,
  h3 strong,
  h4 strong {
    font-family: "MuseoSlab700Regular", "Helvetica Neue", "Arial", sans-serif;
    font-size: inherit;
    font-style: normal;
    font-weight: normal;
    line-height: 1.1; }

.title-inline {
  display: inline-block;
  margin: 0; }

.ab-appstore-btn {
  font-family: "Myriad Pro", "Helvetica Neue", "Arial", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.05;
  background: #000;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  padding: 7px 10px;
  text-align: center;
  width: 230px; }
  .ab-appstore-btn:hover, .ab-appstore-btn:focus {
    color: #fff; }
    .ab-appstore-btn:hover span, .ab-appstore-btn:focus span {
      color: #fff; }
  .ab-appstore-btn span {
    background-image: url("/themes/ABAenglish/assets/img/apple_logo.png");
    background-repeat: no-repeat;
    display: inline-block;
    padding-left: 42px;
    text-align: left; }
    @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
      .ab-appstore-btn span {
        background-image: url("/themes/ABAenglish/assets/img/apple_logo_2x.png");
        background-size: 32px 32px; } }
    .ab-appstore-btn span i {
      display: block;
      font-size: 22px;
      font-style: normal;
      font-weight: 500; }

.cup {
  cursor: pointer; }

.red {
  color: #9c0034; }

.orange {
  color: #e16201; }

.blue {
  color: #07bae4; }

.ab-error-page {
  position: relative;
  padding: 10px;
  height: 100%;
  text-align: center; }
  .ab-error-page h1 {
    font-family: "MuseoSlab700Regular", "Helvetica Neue", "Arial", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: normal;
    line-height: 44px;
    margin-bottom: 0; }
  .ab-error-page p {
    font-family: "MuseoSans500Regular", "Helvetica Neue", "Arial", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 44px; }
  .ab-error-page .ab-error-page-btn {
    display: inline-block;
    margin-top: 15px;
    padding: 0 10px;
    height: 40px;
    min-width: 105px;
    background-color: #fcfcfc;
    color: #384049;
    border-radius: 5px;
    font-family: "MuseoSans500Regular", "Helvetica Neue", "Arial", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 44px;
    background-color: #fcfcfc;
    background-image: -webkit-linear-gradient(top, #fcfcfc 0%, #dedede 100%);
    background-image: linear-gradient(to bottom,#fcfcfc 0%, #dedede 100%); }

.ab-header {
  margin-bottom: 10px; }
  .ab-header .ab-logo-wrapper {
    padding-top: 10px; }
  .ab-header .slogan {
    color: #39444c;
    font-family: 'MuseoSlab500', Arial, sans-serif;
    font-size: 20px;
    height: 55px;
    line-height: 55px;
    margin-top: 75px; }
    .ab-header .slogan span {
      color: #92908a;
      font-style: italic;
      margin-left: 10px; }

footer {
  background: rgba(156, 158, 154, 0.3); }

.ab-social-block p {
  font-family: "Open Sans", "Helvetica Neue", "Arial", sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: normal;
  line-height: 27px;
  background: rgba(156, 158, 154, 0.5);
  color: #747f88;
  height: 27px;
  text-align: center;
  text-transform: uppercase; }

.ab-share-list {
  font-size: 0;
  list-style: none;
  margin-bottom: 15px;
  padding: 0;
  text-align: center;
  width: 100%; }
  .ab-share-list li {
    display: inline-block;
    font-size: 18px;
    margin-right: 7px; }
    .ab-share-list li:last-child {
      margin-right: 0; }
    .ab-share-list li a {
      -webkit-transition-duration: 0.5s;
      -moz-transition-duration: 0.5s;
      transition-duration: 0.5s;
      height: 40px;
      width: 40px;
      background: #849098;
      border: solid 2px #e8e9ea;
      border-radius: 50%;
      box-shadow: 0 2px 2px #888;
      color: #e8e9ea;
      display: block;
      font-size: 0;
      text-align: center; }
      .ab-share-list li a:before {
        font-family: "social-icons", "Helvetica Neue", "Arial", sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: normal;
        line-height: 36px;
        height: 36px;
        width: 36px;
        display: block;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        text-transform: none; }
      .ab-share-list li a:hover, .ab-share-list li a:focus, .ab-share-list li a:active {
        background-color: #e8e9ea;
        border-color: #849098;
        color: #849098; }
    .ab-share-list li.twit a:before {
      content: '\e607'; }
    .ab-share-list li.face a:before {
      content: '\e602'; }
    .ab-share-list li.yout a:before {
      content: '\e609'; }
    .ab-share-list li.goog a:before {
      content: '\e603'; }
    .ab-share-list li.blog a:before {
      content: '\e600'; }
    .ab-share-list li.spot a:before {
      content: '\e601'; }
    .ab-share-list li.pint a:before {
      content: '\e605'; }
    .ab-share-list li.tum a:before {
      content: '\e606'; }

.ab-main-footer {
  background: #404b52;
  padding: 30px 0 50px; }
  .ab-main-footer .container {
    padding: 0; }
  .ab-main-footer .ab-footer-list {
    color: #fff;
    font-size: 0;
    list-style: none;
    margin: 0 20px;
    padding: 0;
    vertical-align: top;
    width: 100%; }
    .ab-main-footer .ab-footer-list li {
      vertical-align: top; }
    .ab-main-footer .ab-footer-list a {
      color: #fff; }
    .ab-main-footer .ab-footer-list .sub-menu {
      font-family: "Open Sans", "Helvetica Neue", "Arial", sans-serif;
      font-size: 12px;
      font-style: normal;
      font-weight: normal;
      line-height: 1.3;
      list-style: none;
      margin: 0;
      padding: 0; }
      .ab-main-footer .ab-footer-list .sub-menu li {
        margin-bottom: 10px; }
    .ab-main-footer .ab-footer-list > li {
      width: -webkit-calc(16.66667% - 15px);
      width: calc(16.66667% - 15px);
      display: inline-block;
      margin-right: 15px; }
      .ab-main-footer .ab-footer-list > li:last-child {
        margin-right: 0; }
      .ab-main-footer .ab-footer-list > li > span {
        font-family: "MuseoSlab500", "Helvetica Neue", "Arial", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: normal;
        line-height: 1.1;
        display: block;
        margin-bottom: 12px; }

.ab-main-footer-mobile {
  background: #404b52;
  padding: 0; }
  .ab-main-footer-mobile .container {
    padding: 15px; }
  .ab-main-footer-mobile .ab-footer-list {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%; }
    .ab-main-footer-mobile .ab-footer-list li {
      display: block;
      margin: 0; }
      .ab-main-footer-mobile .ab-footer-list li:last-child {
        border-bottom: 0; }
      .ab-main-footer-mobile .ab-footer-list li a {
        font-family: "MuseoSans500Regular", "Helvetica Neue", "Arial", sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: normal;
        line-height: 1.1;
        color: #fff;
        display: block;
        padding: 15px 0;
        text-align: center; }

.ab-legal-footer {
  background: #263136;
  color: #fff;
  padding: 18px 15px; }
  .ab-legal-footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%; }
    .ab-legal-footer ul li {
      font-family: "Open Sans", "Helvetica Neue", "Arial", sans-serif;
      font-size: 12px;
      font-style: normal;
      font-weight: normal;
      line-height: 1.1;
      border-right: 1px solid #fff;
      display: inline-block;
      padding: 0 20px 0 19px; }
      .ab-legal-footer ul li:last-child {
        border-right: 0; }
      .ab-legal-footer ul li a {
        color: #fff; }

html {
  background: transparent url("../img/fondocampus.png") repeat 0 0; }

body {
  background: transparent url("../img/bg_band.jpg") repeat-x 0 67px; }

a {
  color: #07bbe4; }

.ab-payment-wrapper {
  background-color: #fff;
  border: 1px solid #e1dfdc;
  font-family: 'MuseoSans500Regular', Helvetica, Arial, sans-serif;
  margin-bottom: 30px;
  padding-top: 10px; }
  .ab-payment-wrapper .alert {
    margin-top: 10px; }

.ab-payment-alert {
  margin: 0 10px 20px; }

.ab-payment-form {
  margin-bottom: 20px; }

.m-b-30 {
  margin-bottom: 30px; }

.no-margin {
  margin: 0; }

.ab-payment-form,
.ab-prices {
  padding: 18px 5px; }
  .ab-payment-form.with-bg,
  .ab-prices.with-bg {
    background: #f3efec; }

.ab-payment-title {
  color: #42505a;
  font-family: 'museo_slab_700regular', sans-serif;
  line-height: 1.1;
  margin-bottom: 18px; }
  .ab-payment-title.with-border {
    border-bottom: 1px solid #455560;
    padding-bottom: 10px; }

h3.ab-payment-title {
  font-size: 18px; }

h4.ab-payment-title {
  font-family: 'MuseoSans500Regular';
  font-size: 16px;
  line-height: 1.2; }

.ab-payment-title-link {
  color: #44525c;
  display: inline-block;
  float: right;
  font-family: 'museo_slab_700regular';
  font-size: 14px;
  line-height: 33px;
  text-align: right;
  text-decoration: underline; }

.ab-payment-header .ab-payment-title {
  line-height: 33px;
  margin-top: 0; }

.ab-promo-code {
  color: #44525c;
  font-family: 'MuseoSans500Regular';
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 30px;
  width: 100%; }
  .ab-promo-code .ab-btn {
    float: left; }
  .ab-promo-code .validation-error {
    color: #cc1616;
    float: right;
    font-style: italic;
    font-weight: bold;
    margin-left: 10px; }

.ab-promo-wrapper, .ab-promo-title {
  float: left;
  line-height: 28px; }

.ab-promo-title {
  margin-right: 10px; }

.ab-promo-wrapper {
  margin-top: -2px; }
  .ab-promo-wrapper input[type='text'] {
    border: 1px solid #a4b1bb;
    border-radius: 4px;
    color: #697883;
    float: left;
    font-family: 'MuseoSans500Regular';
    font-size: 14px;
    height: 28px;
    line-height: 28px;
    margin-right: 5px;
    padding: 0 8px;
    width: 145px; }

.ab-btn {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  font-family: 'MuseoSlab900Regular';
  font-size: 14px;
  height: 28px;
  line-height: 28px;
  padding: 0 10px;
  text-align: center; }
  .ab-btn.ab-btn-blue {
    background-color: #04c0e6;
    background-image: -webkit-linear-gradient(top, #04c0e6 0%, #038dd2 100%);
    background-image: linear-gradient(to bottom, #04c0e6 0%, #038dd2 100%);
    color: #fff; }
  .ab-btn.ab-btn-orange {
    background-color: #ff7b29;
    background-image: -webkit-linear-gradient(top, #ff7b29 0%, #d06827 100%);
    background-image: linear-gradient(to bottom, #ff7b29 0%, #d06827 100%);
    color: #fff; }
  .ab-btn.ab-btn-red {
    background-color: #b10642;
    background-image: -webkit-linear-gradient(top, #b10642 0%, #87002d 100%);
    background-image: linear-gradient(to bottom, #b10642 0%, #87002d 100%);
    color: #fff; }
  .ab-btn.ab-btn-big {
    display: block;
    font-family: 'MuseoSans700';
    height: 45px;
    line-height: 45px;
    text-transform: uppercase;
    width: 100%; }

.ab-feature-text {
  color: #455560;
  font-family: 'MuseoSans500Regular';
  font-size: 14px;
  line-height: 1.5;
  padding-left: 70px;
  position: relative; }
  .ab-feature-text:before {
    background: url("../img/icons.png") no-repeat;
    content: "";
    height: 60px;
    left: 0;
    position: absolute;
    top: 0;
    width: 60px; }
  .ab-feature-text.complete-course-ico:before {
    background-position: -99px -653px; }
  .ab-feature-text.certificates-ico:before {
    background-position: -5px -864px; }
  .ab-feature-text.unlimited-ico:before {
    background-position: -123px -972px; }

.ab-blockquote {
  border: none;
  color: #92908a;
  font-family: 'museo_slab_500italic';
  font-size: 14px;
  line-height: 1.5;
  padding: 0 0 0 70px; }
  .ab-blockquote:before {
    background: transparent url("../img/icons.png") no-repeat -99px -529px;
    content: "";
    height: 17px;
    left: 10px;
    margin-left: 14px;
    position: absolute;
    top: 0;
    width: 24px; }
  .ab-blockquote footer {
    background: none;
    color: #92908a;
    font-family: 'museo_slab_500italic';
    font-size: 14px; }

.ab-support-block {
  background: #41525c;
  color: #fff;
  font-family: 'MuseoSans500Regular';
  list-style: none;
  margin: 0 0 20px 0;
  padding: 5px 0;
  text-align: center; }
  .ab-support-block li {
    display: inline-block;
    margin: 0 10px; }
    .ab-support-block li i {
      font-size: 14px; }

.ab-packages {
  font-size: 0px;
  margin-top: 50px;
  padding: 0;
  text-align: center; }
  .ab-packages li {
    width: -webkit-calc(100%/4 - 16px);
    width: calc(100%/4 - 16px);
    background: #f3efec;
    border: 0;
    display: inline-block;
    font-family: 'MuseoSans500Regular';
    font-size: 13px;
    margin: 0 8px 20px;
    position: relative;
    vertical-align: top; }
    .ab-packages li .ab-discount {
      background: url("../img/icon-discount.svg") no-repeat 0 0;
      background-size: cover;
      color: #fff;
      font-size: 12px;
      height: 59px;
      padding: 3px;
      position: absolute;
      right: -10px;
      text-align: center;
      top: -20px;
      width: 57px;
      z-index: 3; }
      .ab-packages li .ab-discount.final {
        line-height: 55px; }
      .ab-packages li .ab-discount.percent {
        -webkit-box-align: stretch;
        -moz-box-align: stretch;
        box-align: stretch;
        -webkit-align-items: stretch;
        -moz-align-items: stretch;
        -ms-align-items: stretch;
        -o-align-items: stretch;
        align-items: stretch;
        -ms-flex-align: stretch;
        display: -webkit-box;
        display: -moz-box;
        display: box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        box-orient: vertical;
        -webkit-box-direction: normal;
        -moz-box-direction: normal;
        box-direction: normal;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        flex-direction: column;
        -ms-flex-direction: column;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        box-pack: center;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        -o-justify-content: center;
        justify-content: center;
        -ms-flex-pack: center; }
        .ab-packages li .ab-discount.percent strong {
          font-size: 13px; }
      .ab-packages li .ab-discount .priceSmall {
        font-size: 9px;
        padding: 0; }
      .ab-packages li .ab-discount .priceBig.dscFinalPrice {
        font-size: 13px; }
  .ab-packages .ab-package-header {
    background-color: #42505a;
    color: #ffffff;
    font-size: 18px;
    height: 75px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    -webkit-box-align: stretch;
    -moz-box-align: stretch;
    box-align: stretch;
    -webkit-align-items: stretch;
    -moz-align-items: stretch;
    -ms-align-items: stretch;
    -o-align-items: stretch;
    align-items: stretch;
    -ms-flex-align: stretch;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center; }
  .ab-packages .ab-main-price {
    margin: 0;
    padding: 0; }
    .ab-packages .ab-main-price dt, .ab-packages .ab-main-price dd {
      display: inline-block;
      text-align: left; }
    .ab-packages .ab-main-price dd strong {
      display: block; }
  .ab-packages .logo.header-module {
    margin-top: 0; }
  .ab-packages .ab-package-body {
    border: 1px solid #d5d4d2;
    border-top: 0;
    padding: 0;
    position: relative; }
    .ab-packages .ab-package-body .ab-btn {
      border-radius: 0;
      margin: 0 0;
      width: 100%; }
    .ab-packages .ab-package-body .ab-price-block {
      height: 115px;
      text-align: center;
      -webkit-box-align: stretch;
      -moz-box-align: stretch;
      box-align: stretch;
      -webkit-align-items: stretch;
      -moz-align-items: stretch;
      -ms-align-items: stretch;
      -o-align-items: stretch;
      align-items: stretch;
      -ms-flex-align: stretch;
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -moz-box-orient: vertical;
      box-orient: vertical;
      -webkit-box-direction: normal;
      -moz-box-direction: normal;
      box-direction: normal;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      flex-direction: column;
      -ms-flex-direction: column;
      -webkit-box-pack: center;
      -moz-box-pack: center;
      box-pack: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      -o-justify-content: center;
      justify-content: center;
      -ms-flex-pack: center; }
    .ab-packages .ab-package-body .ab-old-price {
      color: #425460;
      display: block;
      font-size: 12px;
      font-style: italic;
      left: 0;
      position: absolute;
      right: 0;
      text-align: center;
      text-decoration: line-through;
      top: 5px; }
    .ab-packages .ab-package-body.ab-current-product {
      border: solid 1px #41525c;
      border-bottom: 0;
      border-top: 0;
      box-shadow: inset 2px 0px 0px 0px #41525c, inset -2px 0px 0px 0px #41525c; }
      .ab-packages .ab-package-body.ab-current-product .ab-curent-label {
        background: #41525c;
        color: #fff;
        display: block;
        font-family: 'MuseoSans700';
        height: 45px;
        line-height: 45px;
        text-align: center;
        text-transform: uppercase;
        width: 100%; }
      .ab-packages .ab-package-body.ab-current-product .subsdcription-date {
        font-size: 16px; }
  .ab-packages .ab-package-badge {
    display: block;
    font-family: "museo_slab_500italic";
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase; }
  .ab-packages li.best-option {
    margin: -15px 8px 20px;
    background: #fff; }
    .ab-packages li.best-option .ab-package-body .ab-btn.ab-btn-big {
      height: 60px;
      line-height: 60px; }
    .ab-packages li.best-option .ab-package-header {
      height: 90px; }
  .ab-packages li.with-discount .ab-package-header {
    background: #9c0034; }
  .ab-packages li.with-discount .ab-main-price {
    color: #9c0034; }

.ab-packages > li div.productSelect > div.oldPrice {
  margin-top: 15px;
  height: 5px;
  text-decoration: line-through;
  font-size: 14pt; }

.ab-packages > li .priceBig {
  font-weight: bold;
  font-size: 50px; }
  .ab-packages > li .priceBig.bestOption {
    font-size: 50px; }
  .ab-packages > li .priceBig.priceOld {
    text-decoration: line-through;
    font-size: 25px; }
  .ab-packages > li .priceBig.priceOldPlus {
    color: #92908a;
    text-decoration: line-through; }
  .ab-packages > li .priceBig.dscFinalPrice {
    font-size: 25px; }

.ab-packages > li .priceSmall {
  font-size: 16px;
  font-weight: bold; }
  .ab-packages > li .priceSmall.bestOption {
    font-size: 16px; }
  .ab-packages > li .priceSmall.priceOld {
    font-size: 12px;
    text-decoration: line-through; }
  .ab-packages > li .priceSmall.priceOldPlus {
    color: #92908a;
    text-decoration: line-through; }

.ab-packages > li span.productPeriod {
  font-size: 11px;
  line-height: 16px; }

/* Payment Method page */
.m-t-15 {
  margin-top: 15px; }

.ab-payment-fields,
.ab-payment-info {
  position: relative;
  margin: 0 10px;
  padding: 20px; }
  .ab-payment-fields .ab-payment-title,
  .ab-payment-info .ab-payment-title {
    margin-top: 0; }
  .ab-payment-fields ul,
  .ab-payment-info ul {
    margin-bottom: 0; }

.ab-payment-fields {
  padding: 20px 0; }

.ab-payment-info {
  background: #fff;
  margin-top: 20px; }
  .ab-payment-info section + section {
    margin-top: 30px; }
  .ab-payment-info .final-price {
    font-size: 16px; }

.ab-payment-explanation {
  margin-bottom: 20px; }

.ab-payment-conditions {
  background: #fff;
  border: solid 1px #ccc;
  border-radius: 4px;
  margin-left: 30px;
  position: relative;
  overflow: hidden; }
  .ab-payment-conditions .ab-payment-conditions-content {
    font-size: 11px;
    max-height: 200px;
    overflow-y: scroll;
    padding: 15px;
    text-align: justify; }
  .ab-payment-conditions .ab-payment-conditions-fade {
    background: #fff;
    height: 10px;
    margin: 0 -15px;
    position: absolute;
    width: 100%; }
  .ab-payment-conditions .ab-payment-conditions-fade-top {
    top: 0; }
  .ab-payment-conditions .ab-payment-conditions-fade-bottom {
    bottom: 0; }
  .ab-payment-conditions .termsTitle {
    font-size: 14px; }

.ab-payment-conditions-text a {
  cursor: pointer; }

.ab-loader {
  display: block;
  margin: 10px auto; }

.ab-form-error {
  margin-top: 2px;
  color: #cc1616;
  font-size: 11px; }

input.error, select.error, textarea.error {
  border-color: #cc1616; }

.ab-payment-radio-wrapper input[type='radio'] {
  margin-left: 0; }

.ab-payment-radio-wrapper label {
  display: block; }

.with-help {
  position: relative; }
  .with-help .ab-help-wrapper {
    background: transparent url("../img/icons.png") no-repeat -180px -307px;
    cursor: pointer;
    height: 20px;
    position: absolute;
    right: -15px;
    top: 8px;
    width: 19px; }
  .with-help .ab-help-box {
    background-color: #92908b;
    bottom: 35px;
    color: #fff;
    cursor: default !important;
    display: none;
    left: -250px;
    padding: 25px;
    position: absolute;
    width: 300px;
    z-index: 11; }
    .with-help .ab-help-box:after {
      border: solid transparent;
      border-color: rgba(146, 144, 139, 0);
      border-top-color: #92908b;
      border-width: 10px;
      content: " ";
      height: 0;
      margin-left: -10px;
      pointer-events: none;
      position: absolute;
      right: 30px;
      top: 100%;
      width: 0; }
  .with-help .ab-help-wrapper:hover .ab-help-box {
    display: block;
    z-index: 12; }

.payment-radio-wrapper {
  background: #fff;
  border: solid 1px #ccc;
  border-radius: 4px;
  height: 34px;
  line-height: 34px;
  margin-bottom: 5px;
  padding: 0 10px 0 35px;
  position: relative; }
  .payment-radio-wrapper input {
    display: inline-block;
    left: 10px;
    position: absolute;
    top: 18%;
    vertical-align: middle; }
  .payment-radio-wrapper label {
    margin: 0;
    overflow: hidden;
    padding: 0; }
    .payment-radio-wrapper label i {
      float: left; }
    .payment-radio-wrapper label .ccard-icon {
      background: transparent url("../img/cards-sprite.png") no-repeat 0 0;
      height: 34px; }
      .payment-radio-wrapper label .ccard-icon.def-card {
        background-position: 0 0;
        width: 102px; }
      .payment-radio-wrapper label .ccard-icon.usd-card {
        background-position: 0 0; }
      .payment-radio-wrapper label .ccard-icon.italy-card {
        background-position: 0 -68px;
        width: 33px; }
      .payment-radio-wrapper label .ccard-icon.france-card {
        width: 30px;
        background-position: 0 -102px; }
      .payment-radio-wrapper label .ccard-icon.paypal-card {
        background-position: 0 -34px;
        width: 69px; }
      .payment-radio-wrapper label .ccard-icon.boleto-card {
        background-position: 0 -136px;
        width: 57px; }

.ab-confirm-payment {
  background: url("../img/pagorealizado.png") no-repeat 0 0;
  background-size: cover;
  color: #fff;
  padding: 50px 20px; }
  .ab-confirm-payment h1 {
    font-family: 'MuseoSlab900Regular';
    font-size: 27.5px; }
  .ab-confirm-payment h2 {
    font-family: 'MuseoSlab900Regular';
    font-size: 23px;
    margin-bottom: 14px; }
  .ab-confirm-payment h3 {
    font-family: 'museo_slab_700regular';
    font-size: 19px;
    line-height: 1.5; }
  .ab-confirm-payment p {
    font-family: 'museo_slab_700regular';
    font-size: 15px;
    margin-bottom: 4px; }
    .ab-confirm-payment p strong {
      font-family: 'MuseoSlab900Regular'; }

/* ----------- Adyen -----------------------    */
.ab-alternative-payments-list {
  text-align: left;
  position: relative;
  padding: 0;
  margin: 0; }
  .ab-alternative-payments-list li {
    margin: 2px;
    display: inline-block;
    font-size: 0;
    cursor: pointer;
    vertical-align: top; }
    .ab-alternative-payments-list li em {
      display: block;
      width: 65px;
      height: 41px;
      margin: 0 auto 5px;
      border-radius: 5px; }
    .ab-alternative-payments-list li span {
      font-size: 12px;
      font-family: 'MuseoSans500Regular';
      color: #455560; }
      .ab-alternative-payments-list li span.sm-price {
        font-size: 10px; }
    .ab-alternative-payments-list li:hover em {
      box-shadow: 0 0 0 1px #07bae4; }
    .ab-alternative-payments-list li:hover span {
      color: #07bae4; }

.icon-adyen {
  background: url("../img/adyen-spritesheet.png") no-repeat;
  display: block;
  width: 65px;
  height: 41px; }

.icon-adyen-alipay {
  background-position: -5px -5px; }

.icon-adyen-amex {
  background-position: -5px -56px; }

.icon-adyen-bankTransfer_IBAN {
  background-position: -5px -107px; }

.icon-adyen-bankTransfer_NL {
  background-position: -5px -158px; }

.icon-adyen-bank_ru {
  background-position: -5px -209px; }

.icon-adyen-bcmc {
  background-position: -5px -260px; }

.icon-adyen-boleto {
  background-position: -5px -311px; }

.icon-adyen-cup {
  background-position: -5px -362px; }

.icon-adyen-diners {
  background-position: -5px -413px; }

.icon-adyen-directEbanking {
  background-position: -5px -464px; }

.icon-adyen-directdebit_NL {
  background-position: -5px -515px; }

.icon-adyen-discover {
  background-position: -5px -566px; }

.icon-adyen-dotpay {
  background-position: -5px -617px; }

.icon-adyen-ebanking_FI {
  background-position: -5px -668px; }

.icon-adyen-elo {
  background-position: -5px -719px; }

.icon-adyen-elv {
  background-position: -5px -770px; }

.icon-adyen-giropay {
  background-position: -5px -821px; }

.icon-adyen-ideal {
  background-position: -5px -872px; }

.icon-adyen-interac {
  background-position: -5px -923px; }

.icon-adyen-jcb {
  background-position: -5px -974px; }

.icon-adyen-maestro {
  background-position: -5px -1025px; }

.icon-adyen-mc {
  background-position: -5px -1076px; }

.icon-adyen-online_RU {
  background-position: -5px -1127px; }

.icon-adyen-sepadirectdebit {
  background-position: -5px -1178px; }

.icon-adyen-terminal_RU {
  background-position: -5px -1229px; }

.icon-adyen-trustly {
  background-position: -5px -1280px; }

.icon-adyen-trustpay {
  background-position: -5px -1331px; }

.icon-adyen-unionpay {
  background-position: -5px -1382px; }

.icon-adyen-visa {
  background-position: -5px -1433px; }

.icon-adyen-wallet_RU {
  background-position: -5px -1484px; }

.icon-adyen-qiwiwallet {
  background-position: -5px -1534px; }

.icon-adyen-safetypay {
  background-position: -5px -1584px; }

.icon-adyen-doku_mandiri_clickpay {
  background-position: -5px -1633px; }

.icon-adyen-doku_wallet {
  background-position: -5px -1684px; }

.icon-adyen-oxxo {
  background-position: -5px -1735px; }

.icon-adyen-seveneleven {
  background-position: -5px -1787px; }

.ab-packages li.ab-family-tooltip {
  position: relative;
  background: #f3efec;
  border: 1px solid #d4d4d2;
  padding: 15px;
  text-align: left; }
  .ab-packages li.ab-family-tooltip h2 {
    color: #42505a;
    font-family: "MuseoSans700", sans-serif;
    line-height: 1.4;
    font-size: 16px;
    margin: 0 0 10px; }
  @media only screen and (min-width: 737px) {
    .ab-packages li.ab-family-tooltip:after, .ab-packages li.ab-family-tooltip:before {
      left: 100%;
      top: 40px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none; }
    .ab-packages li.ab-family-tooltip:after {
      border-color: rgba(243, 239, 236, 0);
      border-left-color: #f3efec;
      border-width: 15px;
      margin-top: -15px; }
    .ab-packages li.ab-family-tooltip:before {
      border-color: rgba(212, 212, 210, 0);
      border-left-color: #d4d4d2;
      border-width: 16px;
      margin-top: -16px; } }
  @media only screen and (min-width: 320px) and (max-width: 736px) {
    .ab-packages li.ab-family-tooltip {
      margin-bottom: 20px; }
      .ab-packages li.ab-family-tooltip:after, .ab-packages li.ab-family-tooltip:before {
        top: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none; }
      .ab-packages li.ab-family-tooltip:after {
        border-color: rgba(243, 239, 236, 0);
        border-top-color: #f3efec;
        border-width: 15px;
        margin-left: -15px; }
      .ab-packages li.ab-family-tooltip:before {
        border-color: rgba(212, 212, 210, 0);
        border-top-color: #d4d4d2;
        border-width: 16px;
        margin-left: -16px; } }
  .ab-packages li.ab-family-tooltip figure.happy {
    margin-top: 5px;
    text-align: center; }
    .ab-packages li.ab-family-tooltip figure.happy img {
      max-width: 200px;
      width: 100%; }

.ab-packages li.ab-family,
.ab-packages li.ab-family.best-option {
  margin-top: 0; }

.ab-package-header.with-bg {
  position: relative; }
  .ab-package-header.with-bg span {
    z-index: 2; }
  .ab-package-header.with-bg.individual {
    background: url("../img/individual.jpg") no-repeat top center; }
    @media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2) {
      .ab-package-header.with-bg.individual {
        background-image: url("../img/individual_2x.jpg");
        background-size: 850px 90px; } }
  .ab-package-header.with-bg.family {
    background: url("../img/family.jpg") no-repeat top center; }
    @media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2) {
      .ab-package-header.with-bg.family {
        background-image: url("../img/family_2x.jpg");
        background-size: 850px 90px; } }
  .ab-package-header.with-bg:before {
    background: rgba(46, 63, 73, 0.8);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1; }

.ab-packages li.with-discount .ab-package-header.with-bg.individual {
  background: url("../img/individual.jpg") no-repeat top center; }
  @media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2) {
    .ab-packages li.with-discount .ab-package-header.with-bg.individual {
      background-image: url("../img/individual_2x.jpg");
      background-size: 850px 90px; } }

.ab-packages li.with-discount .ab-package-header.with-bg.family {
  background: url("../img/family.jpg") no-repeat top center; }
  @media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2) {
    .ab-packages li.with-discount .ab-package-header.with-bg.family {
      background-image: url("../img/family_2x.jpg");
      background-size: 850px 90px; } }

.ab-packages li.with-discount .ab-package-header.with-bg:before {
  background: rgba(158, 0, 49, 0.8); }

.ab-jumbotron {
  font-family: "MuseoSans500", "Helvetica Neue", "Arial", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.1;
  background: #fff;
  color: #263a48;
  padding: 30px;
  margin: 10px 0 30px; }
  .ab-jumbotron p {
    font-family: "MuseoSans500", "Helvetica Neue", "Arial", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: normal;
    line-height: 1.1;
    margin-top: 15px;
    padding: 0;
    text-align: left; }
    .ab-jumbotron p.header {
      font-family: "MuseoSans500", "Helvetica Neue", "Arial", sans-serif;
      font-size: 15px;
      font-style: normal;
      font-weight: normal;
      line-height: 1.1; }
  .ab-jumbotron h3 {
    font-family: "museo_slab_700regular", "Helvetica Neue", "Arial", sans-serif;
    font-size: 20px;
    font-style: italic;
    font-weight: normal;
    line-height: 1.1;
    color: #9c0034;
    margin: 0 0 20px 0; }
  .ab-jumbotron .payment-confirmation-summary {
    list-style: none;
    margin-top: 30px;
    padding: 0; }
    .ab-jumbotron .payment-confirmation-summary.user-data {
      text-align: left; }
    .ab-jumbotron .payment-confirmation-summary.pay-data {
      text-align: right; }
    @media only screen and (max-width: 991px) {
      .ab-jumbotron .payment-confirmation-summary.user-data, .ab-jumbotron .payment-confirmation-summary.pay-data {
        text-align: left; } }
    .ab-jumbotron .payment-confirmation-summary li {
      margin-bottom: 8px; }
      .ab-jumbotron .payment-confirmation-summary li strong {
        font-family: "MuseoSansBold", "Helvetica Neue", "Arial", sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: normal;
        line-height: 1.1;
        color: #9c0034; }
  .ab-jumbotron .payment-confirmation-button {
    margin-bottom: 20px;
    margin-top: 20px; }

/*  -------------- PAYMENTS ----------------    */
/* Forms styles REFACTOR NEEDED */
div.loadingPaypalContainer {
  background: transparent url("../img/loadingBkg.gif") no-repeat 0 0;
  height: 71px;
  line-height: 51px;
  padding-top: 20px;
  text-align: center;
  width: 140px; }

span.loadingPaypalInterior {
  background: transparent url("../img/loading.gif") no-repeat 0 0;
  display: inline-block;
  height: 32px;
  vertical-align: middle;
  width: 32px;
  zoom: 1; }

.seguridadPayment > div.firstRow {
  display: block;
  margin: 0 auto 11px;
  max-width: 215px;
  width: 215px;
  height: 22px;
  text-align: center; }

.seguridadPayment > div.secondRow {
  display: block;
  margin: 0 auto;
  max-width: 215px;
  width: 215px;
  text-align: center; }

/*********PAYMENTS NO LOGIN*********/
.breadcrumbs-pay {
  position: relative;
  width: 100%;
  margin: 0;
  display: inline-block; }
  .breadcrumbs-pay:before {
    content: '';
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: #92908a;
    z-index: 1;
    margin-top: -1px; }
  .breadcrumbs-pay.bp-active:before {
    background: #42505a; }
  .breadcrumbs-pay .breadcrumb-item {
    display: inline-block;
    position: relative;
    text-align: center;
    padding-top: 36px;
    background: #fff;
    z-index: 2;
    color: #42505a; }
    .breadcrumbs-pay .breadcrumb-item:before {
      height: 30px;
      width: 30px;
      content: '';
      display: inline-block;
      text-align: center;
      line-height: 28px;
      border-radius: 50%;
      border: 2px solid #92908a;
      color: #92908a;
      background: #fff;
      z-index: 2;
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -15px; }
    .breadcrumbs-pay .breadcrumb-item:after {
      content: '';
      position: absolute;
      top: 15px;
      left: 50%;
      right: 0;
      width: 50%;
      height: 2px;
      background: #92908a;
      z-index: 1;
      margin-top: -1px; }
    .breadcrumbs-pay .breadcrumb-item.left {
      float: left; }
    .breadcrumbs-pay .breadcrumb-item.right {
      float: right; }
    .breadcrumbs-pay .breadcrumb-item.b1:before {
      content: '1'; }
    .breadcrumbs-pay .breadcrumb-item.b2:before {
      content: '2'; }
    .breadcrumbs-pay .breadcrumb-item.b2:after {
      right: 50%;
      left: 0;
      width: 50%; }
    .breadcrumbs-pay .breadcrumb-item.b-check:before {
      font-family: "FontAwesome", "Helvetica Neue", "Arial", sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: normal;
      line-height: 27px;
      content: "\f00c";
      border-color: #42505a;
      color: #42505a; }
    .breadcrumbs-pay .breadcrumb-item.b-active:before {
      border-color: #42505a;
      color: #fff;
      line-height: 27px;
      background: #42505a;
      font-weight: bold; }
    .breadcrumbs-pay .breadcrumb-item.bi-active:after {
      background: #42505a; }

.icon-payment-check {
  display: block;
  float: left;
  padding: 5px; }

.marginTop20-pay {
  margin-top: 20px; }

ul.footer-nologin {
  white-space: nowrap;
  width: 100%;
  text-align: center; }

@media (min-width: 980px) {
  .container {
    width: 980px; } }

@media only screen and (min-width: 320px) and (max-width: 736px) {
  body {
    background: none; }
  .mob-m-b-35 {
    margin-bottom: 35px; }
  .label-inline {
    line-height: 34px; }
  .ab-payment-alert {
    margin: 0 0 20px; }
  .ab-header {
    min-height: 90px; }
    .ab-header .ab-logo-wrapper {
      padding-top: 0; }
    .ab-header img {
      padding-top: 23px;
      width: 64px; }
    .ab-header .slogan {
      color: #39444c;
      font-family: 'MuseoSlab500', Helvetica, sans-serif;
      font-size: 16px;
      height: 55px;
      line-height: 1.5;
      margin-top: 23px;
      text-align: center; }
      .ab-header .slogan span {
        display: block;
        margin: 0; }
  .ab-payment-header {
    margin-top: 10px; }
    .ab-payment-header .ab-payment-title {
      line-height: 1.1;
      text-align: center; }
  .ab-payment-title-link {
    display: block;
    float: none;
    line-height: 1.2;
    text-align: center; }
  .ab-packages li {
    margin: 0 0 30px;
    width: 100%; }
    .ab-packages li.best-option {
      margin: 0 0 30px; }
  .ab-payment-form.with-bg {
    background: none;
    padding-left: 0;
    padding-right: 0; }
    .ab-payment-form.with-bg .ab-payment-fields {
      margin: 0;
      padding: 0 0 10px; }
  .mob-with-bg {
    background: #f3efec; }
  .ab-payment-info {
    background: none;
    margin: 0;
    padding: 20px 0; }
  .ab-payment-conditions {
    margin-left: 0; }
  .ab-support-block li {
    display: block;
    margin: 10px; }
  .ab-social-block {
    background: #849098;
    padding: 50px 15px; }
    .ab-social-block p {
      font-family: "Open Sans", "Helvetica Neue", "Arial", sans-serif;
      font-size: 13px;
      font-style: normal;
      font-weight: normal;
      line-height: 27px;
      background: transparent;
      color: #fff;
      height: 27px;
      text-align: center;
      text-transform: none; }
  .ab-share-list li a {
    -webkit-transition-duration: 0;
    -moz-transition-duration: 0;
    transition-duration: 0;
    border: 0;
    border-radius: 50%;
    box-shadow: none; }
    .ab-share-list li a:before {
      font-family: "social-icons", "Helvetica Neue", "Arial", sans-serif;
      font-size: 20px;
      font-style: normal;
      font-weight: normal;
      line-height: 40px;
      height: 40px;
      width: 40px; } }

@media only screen and (min-width: 320px) and (max-width: 736px) and (orientation: landscape) {
  .ab-mobile-splash {
    height: 100%; }
    .ab-mobile-splash.ios {
      background-position: 320px 8px; }
    .ab-mobile-splash.android {
      background-position: 320px 8px; }
    .ab-mobile-splash .ab-splash-content {
      width: 300px; }
    .ab-mobile-splash .ab-fixed-buttons {
      text-align: left; } }

@media only screen and (min-width: 320px) and (max-width: 736px) and (orientation: landscape) and (min-width: 600px) {
  .ab-mobile-splash.ios {
    background-position: 98% 8px; }
  .ab-mobile-splash.android {
    background-position: 98% 8px; }
  .ab-mobile-splash .ab-splash-content {
    width: 60%; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .ab-payment-info section {
    float: left;
    width: 50%; }
    .ab-payment-info section + section {
      margin-top: 0; }
  .ab-payment-info .ipad-float-section {
    padding-top: 36px; }
  .ab-payment-info .ipad-float-link {
    bottom: 0;
    position: absolute;
    right: 20px; }
  .ab-payment-conditions {
    margin-left: 0; } }
